<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>订单信息管理.订单列表</title>
    <link href="/static/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="/static/css/base.css" rel="stylesheet"/>
</head>

<body>
<div class="clearfix header">
    <h2>订单信息管理（商机阶段）</h2>
    <div class="btn-pannel">
        <{$lists->render()}>
    </div>
    <div class="link-pannel">
        <ul>
            <li>
                <a href="#"><i class="fa fa-file-excel-o"></i>导出</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-filter"></i>筛选</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-users"></i>传阅<i class="fa fa-sort-desc"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-tags"></i>标签<i class="fa fa-sort-desc"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-trash"></i>删除</a>
            </li>
        </ul>
    </div>
</div>
<div class="main-pannel">
    <table class="list" cellspacing="0">
        <thead>
        <tr>
            <th></th>
            <th>阶段</th>
            <th>订单号</th>
            <th>项目名称</th>
            <th>订单标题</th>
            <th>购销</th>
            <th>对方名称</th>
            <th>责任人</th>
            <th>发生日期</th>
            <th>发生金额</th>
        </tr>
        </thead>
        <tbody>
        <{volist name="lists" id="vo" empty="$empty"}>
        <tr>
            <td><input type="checkbox" value="<{$vo.o_id}>"></td>
            <td><{$vo.o_type}></td>
            <td><{$vo.o_no}></td>
            <td><{$vo.o_pname}></td>
            <td><{$vo.o_subject}></td>
            <td><{$vo.o_status}></td>
            <td><{$vo.o_coname}></td>
            <td><{$vo.o_mname}></td>
            <td><?php echo date("Y-m-d", $vo['o_date']);?></td>
            <td><{$vo.o_money}></td>
        </tr>
        <{/volist}>
        </tbody>
    </table>
</div>
</body>

</html>