<div class="clearfix header">
    <h2><{$title}></h2>
    <div class="link-pannel">
        <ul>
            <li>
                <a href="<{:url('/orders/export/type/'.$type)}>" target="_blank" id="link-export" data-type="<{$type}>" data-list-type="3"><i class="fa fa-file-excel-o"></i>导出</a>
            </li>
            <li>
                <a href="<{:url("/orders/searchOrders/type/".$type)}>" target="_blank" id="searchList" stype="<{$stype}>"><i class="fa fa-filter"></i>筛选</a>
            </li>
            <{if condition="in_array($type, array('contract', 'orders'))"}>
            <li>
                <a href="<{:url("/circulation/add/type/orders")}>" target="_blank" id="btn-circulation"><i class="fa fa-users"></i>传阅<i class="fa fa-sort-desc"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-tags"></i>标签<i class="fa fa-sort-desc"></i></a>
            </li>
            <{/if}>
            <!--<li>
                <a href="/orders/del" target="_blank" id="lists-delete"><i class="fa fa-trash"></i>删除</a>
            </li>-->
        </ul>
    </div>
</div>
<div class="main-pannel" id="main-pannel">
    <nav aria-label="Page navigation">
        <{$lists->render()}>
    </nav>
    <table class="list" cellspacing="0">
        <thead>
        <tr>
            <th style="text-align: center;padding-right: 4px;"><input type="checkbox" id="checkAll"></th>
            <th>阶段</th>
            <th>订单号</th>
            <th>项目名称</th>
            <th>订单标题</th>
            <th>购销</th>
            <th>对方名称</th>
            <th>责任人</th>
            <th class="date">发生日期</th>
            <th class="money">发生金额</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <{volist name="lists" id="vo" empty="$empty"}>
        <tr>
            <td><input type="checkbox" value="<{$vo.o_id}>" class="lists-id"></td>
            <td><?php echo getStatusList($vo['o_status']);?></td>
            <td><a href="#orders/operation?op=edit&op_id=<{$vo.o_id}>" style="color:blue;"><{$vo.o_no}></a></td>
            <td><{$vo.o_pname}></td>
            <td><{$vo.o_subject}></td>
            <td><?php echo getTypeList($vo['o_type']);?></td>
            <td><{$vo.o_coname}></td>
            <td><{$vo.o_mname}></td>
            <td><?php echo date("Y-m-d", $vo['o_date']);?></td>
            <td class="money"><{$vo.o_money|number_format=2}></td>
            <td><a href="<{:url("/orders/delete/opID/".$vo['o_id'])}>" target="_blank" class="deleteOrders" style="color: blue;">删除</a></td>
        </tr>
        <{/volist}>
        </tbody>
    </table>
    <nav aria-label="Page navigation">
        <{$lists->render()}>
    </nav>
</div>
<{load href="/static/js/plugin/select/select.min.js,/static/js/lists.js,/static/css/select.min.css"}>
<script>
    $("#checkAll").click(function(){
        var checked = $(this).prop("checked");
        $(".list td input[type='checkbox']").prop("checked", checked);
    });
    $(".list td input[type='checkbox']").click(function(){
        if($(".list td input[type='checkbox']:checked").length > 0){
            $("#checkAll").prop("checked", true);
        }else{
            $("#checkAll").prop("checked", false);
        }
    });
    $(".deleteOrders").click(function(){
        var url = $(this).attr("href");
        $.ajax({
            url: url,
            type: "json",
            success: function(data){
                custom.alert(data.message);
            }
        });
        return false;
    });
</script>
