<div class="clearfix header">
    <h2>订单信息管理（商机阶段）</h2>
    <div class="btn-pannel">
        <button type="submit" class="btn">保存</button>
        <button type="reset" class="btn red">取消</button>
    </div>
    <div class="link-pannel">
        <ul>
            <li>
                <a href="#"><i class="fa fa-calendar-check-o"></i>日志</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-pencil"></i>批注</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-share-square-o"></i>分享</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-star"></i>收藏</a>
            </li>
        </ul>
    </div>
</div>
<div class="main-pannel">
    <h3>基本信息</h3>
    <div class="content">
        <table>
            <tr>
                <td class="txt">订单号:</td>
                <td colspan="3"><{$order.o_no}></td>
                <td class="txt"><i class="fa fa-search" data="contract"></i>对应合同号:</td>
                <td>
                    <input type="text" name="o_cno" id="o_cno" value="<{$order.o_cno}>" readonly/>
                    <input type="hidden" name="o_cid" id="o_cid" value="<{$order.o_cid}>"/>
                </td>
                <td class="txt">最后更新日期:</td>
                <td><?php echo (empty($order['o_updatetime']) ? "" : date("Y-m-d", $order['o_updatetime']));?></td>
            </tr>
            <tr>
                <td class="txt"><i class="fa fa-search" data="project"></i>项目名称:</td>
                <td colspan="5">
                    <input type="text" name="o_pname" id="o_pname" value="<{$order.o_pname}>" readonly/>
                    <input type="hidden" name="o_pid" id="o_pid" value="<{$order.o_pid}>"/>
                </td>
                <td class="txt">订单责任人</td>
                <td>
                    <{$order.o_mname}>
                    <input type="hidden" name="o_mname" id="o_mname" value="<{$order.o_mname}>"/>
                    <input type="hidden" name="o_mid" id="o_mid" value="<{$order.o_mid}>"/>
                </td>
            </tr>
            <tr>
                <td class="txt">订单主题:</td>
                <td colspan="5"><input type="text" name="o_subject" id="o_subject" value="<{$order.o_subject}>"/></td>
                <td class="txt">销售/采销:</td>
                <td>
                    <select name="o_type" id="o_type">
                        <{volist name="typeList" id="tl" key="k"}>
                        <option value="<{$k}>"
                        <{eq name="$k" value="$order.o_type"}>selected<{/eq}>><{$tl}></option>
                        <{/volist}>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="txt"><i class="fa fa-search" data="company"></i>对方名称:</td>
                <td colspan="3">
                    <input name="o_coname" id="o_coname" type="text" value="<{$order.o_coname}>" readonly/>
                    <input type="hidden" name="o_coid" id="o_coid" value="<{$order.o_coid}>"/>
                </td>
                <td class="txt">外部/内部:</td>
                <td>
                    <select name="o_lie" id="o_lie">
                        <{volist name="lieList" id="ll" key="k"}>
                        <option value="<{$k}>"
                        <{eq name="$k" value="$order.o_lie"}>selected<{/eq}>><{$ll}></option>
                        <{/volist}>
                    </select>
                </td>
                <td class="txt">部门:</td>
                <td>
                    <select name="o_did" id="o_did">
                        <{volist name="dList" id="dl"}>
                        <option value="<{$dl.d_id}>"
                        <{eq name="$dl.d_id" value="$order.o_did"}>selected<{/eq}>><{$dl.d_name}></option>
                        <{/volist}>
                    </select>
                    <input type="hidden" name="o_dname" id="o_dname" value="<{$order.o_dname}>"/>
                </td>
            </tr>
            <tr>
                <td class="txt">预计日期:</td>
                <td><input type="text" name="o_date" id="o_date" value=""/></td>
                <td class="txt">预计金额:</td>
                <td><input type="text" name="o_money" id="o_money" value=""/></td>
                <td class="txt">订单数量:</td>
                <td><input type="text" name="o_num" id="o_num" value=""/></td>
                <td class="txt">税率:</td>
                <td>
                    <select name="o_tax" id="o_tax">
                        <{volist name="taxList" id="ll" key="k"}>
                        <option value="<{$k}>"
                        <{eq name="$k" value="$order.o_tax"}>selected<{/eq}>><{$ll}></option>
                        <{/volist}>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="txt">成交机会:</td>
                <td>
                    <select name="o_deal" id="o_deal">
                        <{volist name="chancesList" id="cl"}>
                        <option value="<{$cl.cs_id}>"
                        <{eq name="$cl.cs_id" value="$order.o_deal"}>selected<{/eq}>><{$cl.cs_mname}></option>
                        <{/volist}>
                    </select>
                </td>
                <td class="txt">商机状态:</td>
                <td>
                    <select name="o_status" id="o_status">
                        <{volist name="statusList" id="ll" key="k"}>
                        <option value="<{$k}>"
                        <{eq name="$k" value="$order.o_status"}>selected<{/eq}>><{$ll}></option>
                        <{/volist}>
                    </select>
                </td>
                <td class="txt">利润率:</td>
                <td>
                    <input type="text" name="o_profits" id="o_profits" value=""/>
                </td>
            </tr>
            <tr>
                <td class="txt"><i class="fa fa-search" data="tag"></i>关键字/标签:</td>
                <td colspan="3">
                    <div class="divBlock">&nbsp;</div>
                    <input type="hidden" name="tagList" id="tagList" value="<{$tagIDList}>"/>
                </td>
                <td class="txt"><i class="fa fa-search" data="member"></i>传阅人:</td>
                <td colspan="3">
                    <div class="divBlock">&nbsp;</div>
                    <input type="hidden" name="cList" id="cList" value="<{$cIDList}>"/>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="main-pannel">
    <h3>预计执行计划</h3>
    <div class="content table clearfix">
        <div class="col33">
            <table data="1">
                <thead>
                <tr>
                    <th class="icon"><i class="fa fa-plus"></i></th>
                    <th>交付月</th>
                    <th>比例</th>
                    <th>金额</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="col33">
            <table data="2">
                <thead>
                <tr>
                    <th class="icon"><i class="fa fa-plus"></i></th>
                    <th>交付月</th>
                    <th>比例</th>
                    <th>金额</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="col33">
            <table data="3">
                <thead>
                <tr>
                    <th class="icon"><i class="fa fa-plus"></i></th>
                    <th>交付月</th>
                    <th>比例</th>
                    <th>金额</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    var baseMonth = '<{$baseMonth}>';
    var baseUrl = {
        contract: "<{:url("/contract/searchContract")}>",
        project: "<{:url("/project/searchProject")}>",
        member: "<{:url("/member/searchMember")}>",
        company: "<{:url("/company/searchCompany")}>",
        tag: "<{:url("/tag/searchTag")}>",
    }
    $(document).ready(function () {
        laydate.render({
            elem: '#o_date'
        });
        $("#o_cno,#o_pname,#o_coname").focus(function(){
            $(this).parents("tr").find("i").click();
        });
        $("#o_money").change(function () {
            calculateAll();
        });
        $(".fa-plus").click(function () {
            var table = $(this).parents("table");
            bindClick(table);
        });
        $(".fa-search").click(function () {
            var type = $(this).attr("data");
            var inputs = $(this).parent().next().find("input");
            var cla = ".f-layer-" + type;
            if ($(cla).length <= 0) {
                $.ajax({
                    url: baseUrl[type],
                    dataType: "json",
                    method: "post",
                    success: function (data) {
                        $("body").append(data.content);
                        $(cla + " .save").click(function () {
                            if ($(inputs).length > 1) {
                                $(inputs).eq(0).val($(".selectRadio:checked").val());
                                $(inputs).eq(1).val($(".selectRadio:checked").attr("data"));
                            } else {
                                $(inputs).eq(0).val($(".selectRadio:checked").val());
                            }
                            $(cla).hide();
                            $(cla + "-back").hide();
                        });
                        $(cla).show();
                        $(cla + "-back").show();
                        $(cla + " .close").click(function () {
                            $(cla).hide();
                            $(cla + "-back").hide();
                        });
                    }
                });
            } else {
                $(cla).show();
                $(cla + "-back").show();
            }
        });
    });
    function bindClick(element) {
        var baseTR = getBaseTR($(element).attr('data'));
        $(element).append(baseTR);
        $(".fa-remove").unbind("click");
        $(".fa-remove").click(function () {
            $(this).parents("tr").remove();
        });
        bindChange(element);

    }
    function bindChange(element) {
        var index = $(element).attr('data');
        if ($(".orderProject_value_" + index).length > 0) {
            $(".orderProject_value_" + index).unbind("change");
            $(".orderProject_value_" + index).each(function () {
                $(this).change(function () {
                    calculate($(element).attr('data'));
                });
            })
        }
    }
    function calculateAll() {
        $(".fa-plus").each(function (i, e) {
            var i = $(e).parents("table").attr("data");
            calculate(i);
        });
    }
    function calculate(index) {
        var values = $(".orderProject_value_" + index);
        var percents = $(".orderProject_percent_" + index);
        var cal = 0;
        var total = parseFloat($("#o_money").val());
        $(values).each(function (i, ele) {
            var tmp = parseFloat($(ele).val());
            tmp = isNaN(tmp) ? 0 : tmp;
            cal = cal + tmp;
        });
        if (!isNaN(total) && total > 0) {
            if (cal > total) {
                if (total % $(values).length != 0) {
                    var c = Math.ceil(total / $(values).length);
                    $(values).eq(0).val(c.toFixed(2));
                    var e = Math.ceil(100 / $(values).length);
                    $(percents).eq(0).val(e.toFixed(2) + "%");
                    $(values).each(function (i, ele) {
                        if (i > 0) {
                            var cc = (total - c) / ($(values).length - 1);
                            $(ele).val(cc.toFixed(2));
                        }
                    });
                    $(percents).each(function (i, ele) {
                        if (i > 0) {
                            var ee = (100 - e) / ($(values).length - 1);
                            $(ele).val(ee.toFixed(2) + "%");
                        }
                    })
                } else {
                    var c = total / $(values).length;
                    var e = 100 / $(values).length;
                    $(values).each(function (i, ele) {
                        $(ele).val(c.toFixed(2));
                    });
                    $(percents).each(function (i, ele) {
                        $(ele).val(e.toFixed(2) + "%");
                    })
                }
            } else {
                $(percents).each(function (i, ele) {
                    var t = parseFloat($(values).eq(i).val());
                    if (!isNaN(t)) {
                        var e = 100 - (total - t) / total * 100;
                        $(ele).val(e.toFixed(2) + "%");
                        $(values).eq(i).val(t.toFixed(2));
                    }
                });
            }
            $("#o_money").val(total.toFixed(2));
        } else {
            $(values).each(function (i, ele) {
                $(ele).val("");
            })
            $(percents).each(function (i, ele) {
                $(ele).val("");
            })
        }
    }
    function getBaseTR(index) {
        var baseTr = '<tr><td class="icon"><i class="fa fa-remove"></i></td><td><select class="orderProject_month_' + index + '" name="project[' + index + '][month][]">';
        var bm = JSON.parse(baseMonth);
        var len = bm.length;
        for (var i = 0; i < len; i++) {
            baseTr += '<option value="+ ' + bm[i] + '">+' + bm[i] + '</option>';
        }
        baseTr += '<option value="0 M" selected>0 M</option>';
        for (var i = (len - 1); i >= 0; i--) {
            baseTr += '<option value="- ' + bm[i] + '">-' + bm[i] + '</option>';
        }
        baseTr += '</select></td><td><input type="text" class="orderProject_percent_' + index + '" readonly name="project[' + index + '][percent][]" value="" readonly/></td><td><input class="orderProject_value_' + index + '" name="project[' + index + '][value][]" type="text" value=""/></td></tr>';
        return baseTr;
    }
</script>