<{load href="/static/css/select.min.css,/static/css/bootstrap-slider.min.css"/}>
<form action="/orders/doOperation?op=<{$op}>&op_id=<{$op_id}>" method="post" id="opform">
<div class="clearfix header">
    <h2>订单信息管理（商机阶段）</h2>
    <div class="btn-pannel">
        <button type="submit" class="btn">保存</button>
        <button type="button" href="#orders" class="btn red">取消</button>
    </div>
    <div class="link-pannel">
        <ul>
            <li>
                <a href="#"><i class="fa fa-calendar-check-o"></i>日志</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-pencil"></i>批注</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-share-square-o"></i>分享</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-star"></i>收藏</a>
            </li>
        </ul>
    </div>
</div>
<div class="main-pannel">
    <h3>基本信息</h3>
    <div class="content">
        <table>
            <tr>
                <td class="txt">订单号:</td>
                <td colspan="3"><{$order.o_no}></td>
                <td class="txt">
                    <i class="fa fa-search" data="contract"></i>
                    <i class="fa fa-minus-square" style="color: red;display: none;" data="contract"></i>
                    对应合同号:</td>
                <td>
                    <input type="text" name="o_cno" id="o_cno" value="<{$order.o_cno}>" readonly/>
                    <input type="hidden" name="o_cid" id="o_cid" value="<{$order.o_cid}>"/>
                </td>
                <td class="txt">最后更新日期:</td>
                <td><?php echo (empty($order['o_updatetime']) ? date("Y-m-d") : date("Y-m-d", $order['o_updatetime']));?></td>
            </tr>
            <tr>
                <td class="txt">
                    <i class="fa fa-search" data="project"></i>
                    <i class="fa fa-minus-square" style="color: red;display: none;" data="project"></i>
                    项目名称:</td>
                <td colspan="5">
                    <input type="text" name="o_pname" id="o_pname" value="<{$order.o_pname}>" readonly/>
                    <input type="hidden" name="o_pid" id="o_pid" value="<{$order.o_pid}>"/>
                </td>
                <td class="txt">订单责任人</td>
                <td>
                    <{$order.o_mname}>
                    <input type="hidden" name="o_mname" id="o_mname" value="<{$order.o_mname}>"/>
                    <input type="hidden" name="o_mid" id="o_mid" value="<{$order.o_mid}>"/>
                </td>
            </tr>
            <tr>
                <td class="txt">订单主题:</td>
                <td colspan="5"><input type="text" name="o_subject" id="o_subject" value="<{$order.o_subject}>"/></td>
                <td class="txt">销售/采销:</td>
                <td>
                    <select name="o_type" id="o_type">
                        <{volist name="typeList" id="tl" key="k"}>
                        <option value="<{$k}>" <{eq name="$k" value="$order.o_type"}>selected<{/eq}>><{$tl}></option>
                        <{/volist}>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="txt">
                    <i class="fa fa-search" data="company"></i>
                    <i class="fa fa-minus-square" style="color: red;display: none;" data="company"></i>
                    对方名称:</td>
                <td colspan="3">
                    <input name="o_coname" id="o_coname" type="text" value="<{$order.o_coname}>" readonly/>
                    <input type="hidden" name="o_coid" id="o_coid" value="<{$order.o_coid}>"/>
                </td>
                <td class="txt">外部/内部:</td>
                <td>
                    <select name="o_lie" id="o_lie">
                        <{volist name="lieList" id="ll" key="k"}>
                        <option value="<{$k}>" <{eq name="$k" value="$order.o_lie"}>selected<{/eq}>><{$ll}></option>
                        <{/volist}>
                    </select>
                </td>
                <td class="txt">部门:</td>
                <td>
                    <select name="o_did" id="o_did">
                        <{volist name="dList" id="dl"}>
                        <option value="<{$dl.d_id}>" <{eq name="$dl.d_id" value="$order.o_did"}>selected<{/eq}>><{$dl.d_name}></option>
                        <{/volist}>
                    </select>
                    <input type="hidden" name="o_dname" id="o_dname" value="<{$order.o_dname}>"/>
                </td>
            </tr>
            <tr>
                <td class="txt"><{if condition="$op=='add'"}>预计日期:<{else /}>合同日期:<{/if}></td>
                <td><input type="text" name="o_date" id="o_date" value="<?php echo (empty($order['o_date']) ? "" : date("Y-m-d", $order['o_date'])) ?>"/></td>
                <td class="txt"><{if condition="$op=='add'"}>预计金额:<{else /}>合同金额:<{/if}></td>
                <td><input type="text" name="o_money" id="o_money" value="<{$order.o_money}>"/></td>
                <td class="txt">订单数量:</td>
                <td><input type="text" name="o_num" id="o_num" value="<{$order.o_num}>"/></td>
                <td class="txt">税率:</td>
                <td>
                    <select name="o_tax" id="o_tax">
                        <{volist name="taxList" id="ll" key="k"}>
                        <option value="<{$k}>" <{eq name="$k" value="$order.o_tax"}>selected<{/eq}>><{$ll}></option>
                        <{/volist}>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="txt">成交机会:</td>
                <td>
                    <select name="o_deal" id="o_deal">
                        <{volist name="chancesList" id="cl"}>
                        <option value="<{$cl.cs_id}>" <{eq name="$cl.cs_id" value="$order.o_deal"}>selected<{/eq}>><{$cl.cs_name}></option>
                        <{/volist}>
                    </select>
                </td>
                <td class="txt">商机状态:</td>
                <td>
                    <select name="o_status" id="o_status">
                        <{volist name="statusList" id="ll" key="k"}>
                        <option value="<{$k}>" <{eq name="$k" value="$order.o_status"}>selected<{/eq}>><{$ll}></option>
                        <{/volist}>
                    </select>
                </td>
                <td class="txt">利润率:</td>
                <td>
                    <input type="text" name="o_profits" id="o_profits" value="<{$order.o_profits}>"/>
                </td>
            </tr>
            <tr>
                <td class="txt">关键字/标签:</td>
                <td colspan="3">
                    <select class="mstag" multiple id="tagList" name="tagList[]">
                        <{foreach name="tagList" item="tl" key="k"}>
                        <optgroup label="<{$k}>">
                            <{foreach name="$tl" item="l"}>
                        <option value="<{$l.tl_id}>" <{if condition="array_key_exists($l.tl_id, $tagIDList)"}>selected<{/if}>><{$k}>:<{$l.tl_name}></option>
                            <{/foreach}>
                        </optgroup>
                        <{/foreach}>
                    </select>
                </td>
                <td class="txt">传阅人:</td>
                <td colspan="3">
                    <select class="msmember" multiple id="cList" name="cList[]">
                        <{volist name="memberList" id="ml"}>
                        <option value="<{$ml.m_id}>" <{if condition="array_key_exists($ml.m_id, $cIDList)"}>selected<{/if}>><{$ml.m_department}>-<{$ml.m_name}></option>
                        <{/volist}>
                    </select>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="main-pannel" <{if condition="$order['o_status'] != '6'"}>style="display:none;"<{/if}>>
    <h3>已完成情况</h3>
    <div class="content table clearfix">
        <div class="col33">
            <table class="invoice_1" data="1">
                <thead>
                <tr>
                    <td><i class="fa fa-search" data="invoice"></i></td>
                    <td>&#931;已交付</td>
                    <td>0</td>
                    <td>0%</td>
                </tr>
                <tr class="thead">
                    <td></td>
                    <td>开票日期</td>
                    <td>金额</td>
                    <td>凭证</td>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="col33">
            <table class="acceptance_2" data="2">
                <thead>
                <tr>
                    <td><i class="fa fa-search" data="acceptance"></i></td>
                    <td>&#931;已交付</td>
                    <td>0</td>
                    <td>0%</td>
                </tr>
                <tr class="thead">
                    <td></td>
                    <td>交付日期</td>
                    <td>金额</td>
                    <td>凭证</td>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="col33">
            <table class="received_3" data="3">
                <thead>
                <tr>
                    <td><i class="fa fa-search" data="received"></i></td>
                    <td>&#931;已交付</td>
                    <td>0</td>
                    <td>0%</td>
                </tr>
                <tr class="thead">
                    <td></td>
                    <td>付款日期</td>
                    <td>金额</td>
                    <td>凭证</td>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="main-pannel">
    <h3>预计执行计划</h3>
    <div class="content table clearfix">
        <div class="col33">
            <table data="1" style="border-collapse: separate;border-spacing: 0px 10px;">
                <thead>
                <tr>
                    <th class="icon"><i class="fa fa-plus"></i></th>
                    <th>开票月</th>
                    <th>比例</th>
                    <th>金额</th>
                </tr>
                </thead>
                <tbody>
                <{volist name="opject[1]" id="value" key="k"}>
                <tr>
                    <td class="icon"><i class="fa fa-remove"></i></td>
                    <td>
                        <select class="orderProject_month_1" name="project[1][month][]">
                            <option value="<{$value.op_month}>" selected><{$value.op_month}></option>
                        </select>
                    </td>
                    <td style="padding: 0 10px;">
                        <input class="orderProject_percent_1 sliderPercent" name="project[1][percent][]" type="text" value="<{$value.op_used}>">
                    </td>
                    <td><input type="text" class="orderProject_value_1" name="project[1][value][]" value="<{$value.op_used}>" readonly/></td>
                </tr>
                <{/volist}>
                </tbody>
            </table>
        </div>
        <div class="col33">
            <table data="2" style="border-collapse: separate;border-spacing: 0px 10px;">
                <thead>
                <tr>
                    <th class="icon"><i class="fa fa-plus"></i></th>
                    <th>交付月</th>
                    <th>比例</th>
                    <th>金额</th>
                </tr>
                </thead>
                <tbody>
                <{volist name="opject[2]" id="value" key="k"}>
                <tr>
                    <td class="icon"><i class="fa fa-remove"></i></td>
                    <td>
                        <select class="orderProject_month_2" name="project[2][month][]">
                            <option value="<{$value.op_month}>" selected><{$value.op_month}></option>
                        </select>
                    </td>
                    <td style="padding: 0 10px;">
                        <input class="orderProject_percent_2 sliderPercent" name="project[2][percent][]" type="text" value="<{$value.op_used}>">
                    </td>
                    <td><input type="text" class="orderProject_value_2" name="project[2][value][]" value="<{$value.op_used}>" readonly/></td>
                </tr>
                <{/volist}>
                </tbody>
            </table>
        </div>
        <div class="col33">
            <table data="3" style="border-collapse: separate;border-spacing: 0px 10px;">
                <thead>
                <tr>
                    <th class="icon"><i class="fa fa-plus"></i></th>
                    <th>付款月</th>
                    <th>比例</th>
                    <th>金额</th>
                </tr>
                </thead>
                <tbody>
                <{volist name="opject[3]" id="value" key="k"}>
                <tr>
                    <td class="icon"><i class="fa fa-remove"></i></td>
                    <td>
                        <select class="orderProject_month_3" name="project[3][month][]">
                            <option value="<{$value.op_month}>" selected><{$value.op_month}></option>
                        </select>
                    </td>
                    <td style="padding: 0 10px;">
                        <input class="orderProject_percent_3 sliderPercent"  name="project[3][percent][]" type="text" value="<{$value.op_used}>">
                    </td>
                    <td><input type="text" class="orderProject_value_3" name="project[3][value][]" value="<{$value.op_used}>" readonly/></td>
                </tr>
                <{/volist}>
                </tbody>
            </table>
        </div>
    </div>
</div>
</form>
<{load href="/static/js/plugin/select/select.min.js,/static/js/plugin/slider/bootstrap-slider.min.js"/}>
<script>
    var baseMonth = '<{$baseMonth}>';
    var baseUrl = {
        contract: "<{:url("/contract/searchContract")}>",
        project: "<{:url("/project/searchProject")}>",
        company: "<{:url("/company/searchCompany")}>",
        invoice: "<{:url("/invoice/searchInvoice")}>",
        acceptance: "<{:url("/acceptance/searchAcceptance")}>",
        received:"<{:url("/received/searchReceived")}>",
    }
    $(document).ready(function () {
        laydate.render({
            elem: '#o_date'
        });

        if($("#o_status option:selected").val() == 6){
            $("#o_status option").prop("disabled", true);
            $("#o_status option:last").prop("disabled", false);
        }
        $(".content.table .sliderPercent").each(function(index, element){
            var total = $("#o_money").val() == "" ? 0 : parseFloat($("#o_money").val());
            var val = parseFloat($(element).val());
            $(element).slider({
                value: val,
                max: total,
                formatter: function (value) {
                    return formatValue(value)
                },
            });
            $(element).on('slideStop', function (ele) {
                sliderChange(ele, this)
            });
        });
        $(".content.table select").each(function(index, element){
            var option = $(element).find("option:selected").val();
            var bm = JSON.parse(baseMonth);
            var len = bm.length;
            var html = "";
            for (var i = 0; i < len; i++) {
                html += '<option value="+' + bm[i] + '" ' + (option=="+"+bm[i] ? "selected" : "") + '>+ ' + bm[i] + '</option>';
            }
            html += '<option value="0 M" ' + (option=="0 M" ? "selected" : "") + '>0 M</option>';
            for (var i = (len - 1); i >= 0; i--) {
                html += '<option value="-' + bm[i] + '" ' + (option=="-"+bm[i] ? "selected" : "") + '>- ' + bm[i] + '</option>';
            }
            $(element).html(html);
        });
        $(".fa-remove").click(function () {
            $(this).parents("tr").remove();
        });
        $("#o_did").change(function(){
            $("#o_dname").val($("#o_did option:selected").html());
        });
        $("#o_did").change();
        $(".mstag").select2();
        $(".msmember").select2();
        $("#o_cno,#o_pname,#o_coname").focus(function(){
            if($(this).val() == ""){
                $(this).parents("tr").find("i:eq(0)").click();
            }else{
                $(this).parents("tr").find("i:eq(0)").hide();
                $(this).parents("tr").find("i:eq(1)").show();
            }
        });
        $("#o_money").change(function () {
            calculateAll();
        });
        $(".fa-plus").click(function () {
            var table = $(this).parents("table");
            bindClick(table);
        });
        $("#opform").submit(function(){
            var o_pname = $("#o_pname");
            var o_subject = $("#o_subject");
            var o_coname = $("#o_coname");
            var o_date = $("#o_date");
            var o_money = $("#o_money");
            var o_num = $("#o_num");
            var o_profits = $("#o_profits");
            var url = $(this).attr("action");
            var par = $(this).serialize();
            if($(o_pname).val() == ""){
                alert('项目不能为空');
                return false;
            }
            if($(o_subject).val() == ""){
                alert('订单标题不能为空');
                return false;
            }
            if($(o_coname).val() == ""){
                alert('对方名称不能为空');
                return false;
            }
            if($(o_date).val() == ""){
                alert('日期不能为空');
                return false;
            }
            if($(o_money).val() == ""){
                alert('金额不能为空');
                return false;
            }
            if(isNaN($(o_money).val())){
                alert('金额必须是数字');
                return false;
            }
            if($(o_num).val() == ""){
                alert('数量不能为空');
                return false;
            }
            if(isNaN($(o_num).val())){
                alert('数量必须是数字');
                return false;
            }
            if($(o_profits).val() == ""){
                alert('利润率不能为空');
                return false;
            }
            $(this).prop("disabled", "true");
            $.ajax({
                url:url,
                dataType: "json",
                method: "post",
                data:par,
                success:function(data){
                    $(this).prop("disabled", "false");
                    if(data.status){
                        alert("保存成功");
                    }else{
                        alert("保存失败");
                    }
                }
            });
            return false;
        });
        $(".fa-search").click(function () {
            var type = $(this).attr("data");
            var thisEle = this;
            var inputs = $(this).parent().next().find("input");
            var cla = ".f-layer-" + type;
            if ($(cla).length <= 0) {
                $.ajax({
                    url: baseUrl[type],
                    dataType: "json",
                    method: "post",
                    success: function (data) {
                        $("body").append(data.content);
                        $(cla + " .save").click(function () {
                            if ($(inputs).length > 1) {
                                $(inputs).eq(0).val($(cla+" .selectRadio:checked").attr("data"));
                                $(inputs).eq(1).val($(cla+" .selectRadio:checked").val());
                            } else {
                                $(inputs).eq(0).val($(cla+" .selectRadio:checked").val());
                            }
                            $(cla).hide();
                            $(cla + "-back").hide();
                            $(thisEle).next().show();
                            $(thisEle).hide();
                            $(thisEle).parent().next().find("input:eq(0)").unbind("focus");
                            if(type == "contract"){
                                $("#o_status option").prop("selected", false);
                                $("#o_status option").prop("disabled", true);
                                $("#o_status option:last").prop("selected", true);
                                $("#o_status option:last").prop("disabled", false);
                                $("#o_status").prop("", true);
                            }
                            return false;
                        });
                        $(cla + " .moreSave").click(function(){
                            var ci = $(cla + " .search-result input:checked");
                            var jdata = JSON.parse(decodeURIComponent($(ci).attr("json")));
                            baseUTR($(cla), jdata, type);
                            $(cla).hide();
                            $(cla + "-back").hide();
                        });
                        window.cla = cla;
                        setTimeout('$(cla).addClass("show")',500);
                        //$(cla).show();
                        $(cla + "-back").show();
                        $(cla + " .close").click(function () {
                            //$(cla).hide();
                            $(cla).removeClass("show");
                            $(cla + "-back").hide();
                            return false;
                        });
                    }
                });
            } else {
                //$(cla).show();
                $(cla).addClass("show");
                $(cla + "-back").show();
            }
        });
        $(".fa-minus-square").click(function(){
            var inputs = $(this).parent().next().find("input");
            var type = $(this).attr("data");
            var cla = ".f-layer-" + type;
            if ($(cla).length > 0) {
                $(cla+" .selectRadio:checked").prop("checked", false);
            }
            $(this).prev().show();
            $(this).hide();
            $(inputs).eq(0).focus(function(){
                $(this).parents("tr").find("i").click();
            });
            $(inputs).val("");
            if(type == "contract"){
                $("#o_status option").prop("disabled", false);
                $("#o_status option").prop("selected", false);
                $("#o_status option:first").prop("selected", true);
            }
        });
    });
    function baseUTR(element,data,type){
        var i = 1;
        switch(type){
            case "invoice":
                i=1;
                break;
            case "acceptance":
                i=2;
                break;
            case "received":
                i=3;
                break;
        }
        var cla = "."+type+"_"+i;
        var total = parseFloat($("#o_money").val());
        var val = $(element).find(".m_class").val();
        var html = '<tr><td><i class="fa fa-minus-circle"></i></td>' +
                '<td><?php echo date("Y-m-d"); ?></td>' +
                '<td class="mony-'+type+'">'+val+'</td>' +
                '<td><a href="/'+type+'/view/no/'+data.id+'" target="_blank" style="color: blue;">'+data.id+'</a>' +
                '<input type="hidden" name="used[value][]" value="'+val+'">' +
                '<input type="hidden" name="used[ot_id][]" value="'+data.id+'"></td></tr>';
        $(cla).append(html);
        var plus = 0;
        $(cla).find(".mony-"+type).each(function(index, element){
            plus += parseFloat($(element).html());
        });
        var persent = 100-((total-plus)/total*100);
        console.log(persent);
        $(cla).find("tr:first").find("td:eq(2)").html(parseFloat(plus).toFixed(2));
        $(cla).find("tr:first").find("td:eq(3)").html(Math.round(persent)+"%");
    }
    function bindClick(element) {
        var index = $(element).attr('data');
        var baseTR = getBaseTR($(element).attr('data'));
        var total = parseFloat($("#o_money").val());
        $(element).append(baseTR);
        if($(".orderProject_percent_"+index).length == 1){
            $(".orderProject_percent_"+index+":eq(0)").slider('destroy');
            $(".orderProject_percent_"+index+":eq(0)").slider({
                value: total,
                max: total,
                formatter: function (value) {
                    return formatValue(value, $(".orderProject_percent_"+index+":eq(0)"))
                },
            });
            $(".orderProject_percent_"+index+":eq(0)").on('slideStop', function (ele) {
                sliderChange(ele, this)
            });
        }else {
            $(".orderProject_percent_" + index).each(function (index, ele) {
                var val = parseFloat($(ele).val());
                $(ele).slider('destroy');
                $(ele).slider({
                    value: val,
                    max: total,
                    formatter: function (value) {
                        return formatValue(value, ele);
                    },
                });
                $(ele).on('slideStop', function (ele) {
                    sliderChange(ele, this)
                });
            });
        }
        $(".fa-remove").unbind("click");
        $(".fa-remove").click(function () {
            $(this).parents("tr").remove();
        });
    }
    function formatValue(value, ele){
        value = parseFloat(value);
        var total = parseFloat($("#o_money").val());
        $(ele).parent().next().find("input").val(value.toFixed(2));
        return Math.round(100 - (total - value) / total * 100)+"%";
    }
    function sliderChange(e, ele){
        var val = parseFloat(e.value);
        var total = parseFloat($("#o_money").val());
        var classs = $(ele).attr("class").split(" ");
        var now = 0;
        $("."+classs[0]).each(function(index, element){
            if(!$(element).is($(ele))){
                now = now + parseFloat($(element).slider().data("slider").getValue());
            }
        });
        if(total < now){
            $(ele).slider().data("slider").setValue(0);
        }else if((total-now) < val){
            val = total-now;
            $(ele).slider().data("slider").setValue(val);
        }
    }
    function calculateAll() {
        $(".fa-plus").each(function (i, e) {
            var i = $(e).parents("table").attr("data");
            calculate(i);
        });
    }
    function calculate(index) {
        var values = $(".orderProject_value_" + index);
        var percents = $(".orderProject_percent_" + index);
        var cal = 0;
        var total = parseFloat($("#o_money").val());
        $(values).each(function (i, ele) {
            var tmp = parseFloat($(ele).val());
            tmp = isNaN(tmp) ? 0 : tmp;
            cal = cal + tmp;
        });
        $(percents).each(function(i, ele){
            var val = parseFloat($(values).eq(i).val());
            $(ele).slider({
                value:val,
                max:total
            });
            $(ele).slider().data("slider").relayout();
        });
        if (!isNaN(total) && total > 0) {
            if (cal > total) {
                if (total % $(values).length != 0) {
                    var c = Math.ceil(total / $(values).length);
                    $(values).eq(0).val(c.toFixed(2));
                    var e = Math.ceil(100 / $(values).length);
                    $(percents).eq(0).val(e.toFixed(2) + "%");
                    $(values).each(function (i, ele) {
                        if (i > 0) {
                            var cc = (total - c) / ($(values).length - 1);
                            $(ele).val(cc.toFixed(2));
                        }
                    });
                    $(percents).each(function (i, ele) {
                        if (i > 0) {
                            var ee = (100 - e) / ($(values).length - 1);
                            $(ele).val(ee.toFixed(2) + "%");
                        }
                    })
                } else {
                    var c = total / $(values).length;
                    var e = 100 / $(values).length;
                    $(values).each(function (i, ele) {
                        $(ele).val(c.toFixed(2));
                    });
                    $(percents).each(function (i, ele) {
                        $(ele).val(e.toFixed(2) + "%");
                    })
                }
            } else {
                $(percents).each(function (i, ele) {
                    var t = parseFloat($(values).eq(i).val());
                    if (!isNaN(t)) {
                        var e = 100 - (total - t) / total * 100;
                        $(ele).val(e.toFixed(2) + "%");
                        $(values).eq(i).val(t.toFixed(2));
                    }
                });
            }
            $("#o_money").val(total.toFixed(2));
        } else {
            $(values).each(function (i, ele) {
                $(ele).val("");
            })
            $(percents).each(function (i, ele) {
                $(ele).val("");
            })
        }
    }
    function getBaseTR(index) {
        var baseTr = '<tr><td class="icon"><i class="fa fa-remove"></i></td><td><select class="orderProject_month_' + index + '" name="project[' + index + '][month][]">';
        var bm = JSON.parse(baseMonth);
        var len = bm.length;
        for (var i = 0; i < len; i++) {
            baseTr += '<option value="+' + bm[i] + '">+ ' + bm[i] + '</option>';
        }
        baseTr += '<option value="0 M" selected>0 M</option>';
        for (var i = (len - 1); i >= 0; i--) {
            baseTr += '<option value="-' + bm[i] + '">- ' + bm[i] + '</option>';
        }
        baseTr += '</select></td><td style="padding: 0 10px;"><input type="text" class="orderProject_percent_' + index + ' sliderPercent" name="project[' + index + '][percent][]" value=""/></td><td><input class="orderProject_value_' + index + '" name="project[' + index + '][value][]" type="text" value="" readonly/></td></tr>';
        return baseTr;
    }
</script>
