<{load href="/static/css/select.min.css,/static/css/bootstrap-slider.min.css"/}>
    <div class="clearfix header">
        <h2>订单日志</h2>
        <div class="btn-pannel">
            <button type="button" name="l_panding" value="1" class="btn">同意</button>
            <button type="button" name="l_panding" value="2" href="#orders" class="btn red">不同意</button>
            <button type="button" href="#orders" class="btn">取消</button>
        </div>
        <div class="link-pannel">
            <ul>
            </ul>
        </div>
    </div>
    <div class="main-pannel">
        <h3>基本信息</h3>
        <div class="content">
            <table>
                <tr>
                    <td class="txt">订单号:</td>
                    <td colspan="3"><{$log['l_old']['o_no']}></td>
                    <td class="txt">
                        对应合同号:</td>
                    <td>
                        <{if condition="$log['l_old']['o_cno'] != $log['l_new']['o_cno']"}>
                        <span><{$log['l_old']['o_cno']}></span> <- <span style="color: red"><{$log['l_new']['o_cno']}></span>
                        <{else}>
                        <span><{$log['l_old']['o_cno']}></span>
                        <{/if}>
                    </td>
                    <td class="txt">最后更新日期:</td>
                    <td><?php echo date("Y-m-d", $log['l_createtime']);?></td>
                </tr>
                <tr>
                    <td class="txt">
                        项目名称:</td>
                    <td colspan="5">
                        <{if condition="$log['l_old']['o_pname'] != $log['l_new']['o_pname']"}>
                        <span><{$log['l_old']['o_pname']}></span> <- <span style="color: red"><{$log['l_new']['o_pname']}></span>
                        <{else}>
                        <span><{$log['l_old']['o_pname']}></span>
                        <{/if}>
                    </td>
                    <td class="txt">订单责任人</td>
                    <td>
                        <{$log['l_old']['o_mname']}>
                    </td>
                </tr>
                <tr>
                    <td class="txt">订单主题:</td>
                    <td colspan="5">
                        <{if condition="$log['l_old']['o_subject'] != $log['l_new']['o_subject']"}>
                        <span><{$log['l_old']['o_subject']}></span> <- <span style="color: red"><{$log['l_new']['o_subject']}></span>
                        <{else}>
                        <span><{$log['l_old']['o_subject']}></span>
                        <{/if}>
                    </td>
                    <td class="txt">销售/采销:</td>
                    <td>
                        <{if condition="$log['l_old']['o_type'] != $log['l_new']['o_type']"}>
                        <span><{$log['l_old']['o_type']}></span> <- <span style="color: red"><{$log['l_new']['o_type']}></span>
                        <{else}>
                        <span><{$log['l_old']['o_type']}></span>
                        <{/if}>
                    </td>
                </tr>
                <tr>
                    <td class="txt">
                        对方名称:</td>
                    <td colspan="3">
                        <{if condition="$log['l_old']['o_coname'] != $log['l_new']['o_coname']"}>
                        <span><{$log['l_old']['o_coname']}></span> <- <span style="color: red"><{$log['l_new']['o_coname']}></span>
                        <{else}>
                        <span><{$log['l_old']['o_coname']}></span>
                        <{/if}>
                    </td>
                    <td class="txt">外部/内部:</td>
                    <td>
                        <{if condition="$log['l_old']['o_lie'] != $log['l_new']['o_lie']"}>
                        <span><{$log['l_old']['o_lie']}></span> <- <span style="color: red"><{$log['l_new']['o_lie']}></span>
                        <{else}>
                        <span><{$log['l_old']['o_lie']}></span>
                        <{/if}>
                    </td>
                    <td class="txt">部门:</td>
                    <td>
                        <{if condition="$log['l_old']['o_did'] != $log['l_new']['o_did']"}>
                        <span><{$log['l_old']['o_dname']}></span> <- <span style="color: red"><{$log['l_new']['o_dname']}></span>
                        <{else}>
                        <span><{$log['l_old']['o_dname']}></span>
                        <{/if}>
                    </td>
                </tr>
                <tr>
                    <td class="txt">日期:</td>
                    <td>
                        <{if condition="$log['l_old']['o_date'] != $log['l_new']['o_date']"}>
                        <span><?php echo date("Y-m-d", $log['l_old']['o_date']);?></span> <- <span style="color: red"><?php echo date("Y-m-d", $log['l_new']['o_date']);?></span>
                        <{else}>
                        <span><?php echo date("Y-m-d", $log['l_old']['o_date']);?></span>
                        <{/if}>
                    </td>
                    <td class="txt">金额:</td>
                    <td>
                        <{if condition="$log['l_old']['o_money'] != $log['l_new']['o_money']"}>
                        <span><{$log['l_old']['o_money']}></span> <- <span style="color: red"><{$log['l_new']['o_money']}></span>
                        <{else}>
                        <span><{$log['l_old']['o_money']}></span>
                        <{/if}>
                    </td>
                    <td class="txt">订单数量:</td>
                    <td>
                        <{if condition="$log['l_old']['o_num'] != $log['l_new']['o_num']"}>
                        <span><{$log['l_old']['o_num']}></span> <- <span style="color: red"><{$log['l_new']['o_num']}></span>
                        <{else}>
                        <span><{$log['l_old']['o_num']}></span>
                        <{/if}>
                    </td>
                    <td class="txt">税率:</td>
                    <td>
                        <{if condition="$log['l_old']['o_tax'] != $log['l_new']['o_tax']"}>
                        <span><{$log['l_old']['o_tax']}></span> <- <span style="color: red"><{$log['l_new']['o_tax']}></span>
                        <{else}>
                        <span><{$log['l_old']['o_tax']}></span>
                        <{/if}>
                    </td>
                </tr>
                <tr>
                    <td class="txt">成交机会:</td>
                    <td>
                        <{if condition="$log['l_old']['o_deal']['cs_id'] != $log['l_new']['o_deal']['cs_id']"}>
                        <span><{$log['l_old']['o_deal']['cs_name']}></span> <- <span style="color: red"><{$log['l_new']['o_deal']['cs_name']}></span>
                        <{else}>
                        <span><{$log['l_old']['o_deal']['cs_name']}></span>
                        <{/if}>
                    </td>
                    <td class="txt">商机状态:</td>
                    <td>
                        <{if condition="$log['l_old']['o_status'] != $log['l_new']['o_status']"}>
                        <span><{$log['l_old']['o_status']}></span> <- <span style="color: red"><{$log['l_new']['o_status']}></span>
                        <{else}>
                        <span><{$log['l_old']['o_status']}></span>
                        <{/if}>
                    </td>
                    <td class="txt">利润率:</td>
                    <td>
                        <{if condition="$log['l_old']['o_profits'] != $log['l_new']['o_profits']"}>
                        <span><{$log['l_old']['o_profits']}></span> <- <span style="color: red"><{$log['l_new']['o_profits']}></span>
                        <{else}>
                        <span><{$log['l_old']['o_profits']}></span>
                        <{/if}>
                    </td>
                </tr>
                <tr>
                    <td class="txt">关键字/标签:</td>
                    <td colspan="3">
                        <?php echo '<span>',implode(",", $log['l_old']['tagList']),'</span> <- <span style="color:red;">',implode(",",$log['l_new']['tagList']),'</span>'; ?>
                    </td>
                    <td class="txt">传阅人:</td>
                    <td colspan="3">
                        <?php echo '<span>',implode(",", $log['l_old']['cList']),'</span> <- <span style="color:red;">',implode(",",$log['l_new']['cList']),'</span>'; ?>
                    </td>
                </tr>
            </table>
        </div>
    </div>
<div class="main-pannel" <{if condition="$order['o_status'] != '6'"}>style="display:none;"<{/if}>>
<h3>已完成情况</h3>
<div class="content table clearfix">
    <div class="col33">
        <table class="invoice_1" data="1">
            <thead>
            <tr>
                <td><i class="fa fa-search" data="invoice"></i></td>
                <td>&#931;已交付</td>
                <td>0</td>
                <td>0%</td>
            </tr>
            <tr class="thead">
                <td></td>
                <td>开票日期</td>
                <td>金额</td>
                <td>凭证</td>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="col33">
        <table class="acceptance_2" data="2">
            <thead>
            <tr>
                <td><i class="fa fa-search" data="acceptance"></i></td>
                <td>&#931;已交付</td>
                <td>0</td>
                <td>0%</td>
            </tr>
            <tr class="thead">
                <td></td>
                <td>交付日期</td>
                <td>金额</td>
                <td>凭证</td>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="col33">
        <table class="received_3" data="3">
            <thead>
            <tr>
                <td><i class="fa fa-search" data="received"></i></td>
                <td>&#931;已交付</td>
                <td>0</td>
                <td>0%</td>
            </tr>
            <tr class="thead">
                <td></td>
                <td>付款日期</td>
                <td>金额</td>
                <td>凭证</td>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
</div>
<div class="main-pannel">
    <h3>预计执行计划</h3>
    <div class="content table clearfix">
        <div class="col33">
            <table data="1" style="border-collapse: separate;border-spacing: 0px 10px;">
                <thead>
                <tr>
                    <th>开票月</th>
                    <th>比例</th>
                    <th>金额</th>
                </tr>
                </thead>
                <{volist name="opject[1]" id="value" key="k"}>
                <tr>
                    <td>
                        <{$value.op_month}>
                    </td>
                    <td>
                        <{$value.op_percent}>
                    </td>
                    <td>
                        <{$value.op_used}>
                    </td>
                </tr>
                <{/volist}>
                </tbody>
            </table>
        </div>
        <div class="col33">
            <table data="1" style="border-collapse: separate;border-spacing: 0px 10px;color: red;">
                <thead>
                <tr>
                    <th>开票月</th>
                    <th>比例</th>
                    <th>金额</th>
                </tr>
                </thead>
                <{volist name="opject[1]" id="value" key="k"}>
                <tr>
                    <td>
                        <{$value.op_month}>
                    </td>
                    <td>
                        <{$value.op_percent}>
                    </td>
                    <td>
                        <{$value.op_used}>
                    </td>
                </tr>
                <{/volist}>
                </tbody>
            </table>
        </div>
    </div>
    <div class="content table clearfix">
        <div class="col33">
            <table data="2" style="border-collapse: separate;border-spacing: 0px 10px;">
                <thead>
                <tr>
                    <th>交付月</th>
                    <th>比例</th>
                    <th>金额</th>
                </tr>
                </thead>
                <tbody>
                <{volist name="opject[2]" id="value" key="k"}>
                <tr>
                    <td>
                        <{$value.op_month}>
                    </td>
                    <td>
                        <{$value.op_percent}>
                    </td>
                    <td>
                        <{$value.op_used}>
                    </td>
                </tr>
                <{/volist}>
                </tbody>
            </table>
        </div>
        <div class="col33">
            <table data="2" style="border-collapse: separate;border-spacing: 0px 10px;color: red;">
                <thead>
                <tr>
                    <th>交付月</th>
                    <th>比例</th>
                    <th>金额</th>
                </tr>
                </thead>
                <tbody>
                <{volist name="opject[2]" id="value" key="k"}>
                <tr>
                    <td>
                        <{$value.op_month}>
                    </td>
                    <td>
                        <{$value.op_percent}>
                    </td>
                    <td>
                        <{$value.op_used}>
                    </td>
                </tr>
                <{/volist}>
                </tbody>
            </table>
        </div>
    </div>
    <div class="content table clearfix">
        <div class="col33">
            <table data="3" style="border-collapse: separate;border-spacing: 0px 10px;">
                <thead>
                <tr>
                    <th>付款月</th>
                    <th>比例</th>
                    <th>金额</th>
                </tr>
                </thead>
                <tbody>
                <{volist name="opject[3]" id="value" key="k"}>
                <tr>
                    <td>
                        <{$value.op_month}>
                    </td>
                    <td>
                        <{$value.op_percent}>
                    </td>
                    <td>
                        <{$value.op_used}>
                    </td>
                </tr>
                <{/volist}>
                </tbody>
            </table>
        </div>
        <div class="col33">
            <table data="3" style="border-collapse: separate;border-spacing: 0px 10px;">
                <thead>
                <tr>
                    <th>付款月</th>
                    <th>比例</th>
                    <th>金额</th>
                </tr>
                </thead>
                <tbody>
                <{volist name="opject[3]" id="value" key="k"}>
                <tr>
                    <td>
                        <{$value.op_month}>
                    </td>
                    <td>
                        <{$value.op_percent}>
                    </td>
                    <td>
                        <{$value.op_used}>
                    </td>
                </tr>
                <{/volist}>
                </tbody>
            </table>
        </div>
    </div>
</div>
<{load href="/static/js/plugin/select/select.min.js,/static/js/plugin/slider/bootstrap-slider.min.js"/}>
