<{load href="/static/css/select.min.css,/static/css/bootstrap-slider.min.css"/}>
<form action="/orders/doOperation?op=<{$op}>&op_id=<{$op_id}>" method="post" id="opform">
    <div class="clearfix header">
        <h2>订单日志</h2>
        <div class="btn-pannel">
            <button type="submit" class="btn">同意</button>
            <button type="button" href="#orders" class="btn red">不同意</button>
            <button type="button" href="#orders" class="btn">取消</button>
        </div>
        <div class="link-pannel">
            <ul>
            </ul>
        </div>
    </div>
    <div class="main-pannel">
        <h3>基本信息</h3>
        <div class="content">
            <table>
                <tr>
                    <td class="txt">订单号:</td>
                    <td colspan="3"><{$order.o_no}></td>
                    <td class="txt">
                        <i class="fa fa-search" data="contract"></i>
                        <i class="fa fa-minus-square" style="color: red;display: none;" data="contract"></i>
                        对应合同号:</td>
                    <td>
                        <input type="text" name="o_cno" id="o_cno" value="<{$order.o_cno}>" readonly/>
                        <input type="hidden" name="o_cid" id="o_cid" value="<{$order.o_cid}>"/>
                    </td>
                    <td class="txt">最后更新日期:</td>
                    <td><?php echo (empty($order['o_updatetime']) ? date("Y-m-d") : date("Y-m-d", $order['o_updatetime']));?></td>
                </tr>
                <tr>
                    <td class="txt">
                        <i class="fa fa-search" data="project"></i>
                        <i class="fa fa-minus-square" style="color: red;display: none;" data="project"></i>
                        项目名称:</td>
                    <td colspan="5">
                        <input type="text" name="o_pname" id="o_pname" value="<{$order.o_pname}>" readonly/>
                        <input type="hidden" name="o_pid" id="o_pid" value="<{$order.o_pid}>"/>
                    </td>
                    <td class="txt">订单责任人</td>
                    <td>
                        <{$order.o_mname}>
                        <input type="hidden" name="o_mname" id="o_mname" value="<{$order.o_mname}>"/>
                        <input type="hidden" name="o_mid" id="o_mid" value="<{$order.o_mid}>"/>
                    </td>
                </tr>
                <tr>
                    <td class="txt">订单主题:</td>
                    <td colspan="5"><input type="text" name="o_subject" id="o_subject" value="<{$order.o_subject}>"/></td>
                    <td class="txt">销售/采销:</td>
                    <td>
                        <select name="o_type" id="o_type">
                            <{volist name="typeList" id="tl" key="k"}>
                            <option value="<{$k}>" <{eq name="$k" value="$order.o_type"}>selected<{/eq}>><{$tl}></option>
                            <{/volist}>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="txt">
                        <i class="fa fa-search" data="company"></i>
                        <i class="fa fa-minus-square" style="color: red;display: none;" data="company"></i>
                        对方名称:</td>
                    <td colspan="3">
                        <input name="o_coname" id="o_coname" type="text" value="<{$order.o_coname}>" readonly/>
                        <input type="hidden" name="o_coid" id="o_coid" value="<{$order.o_coid}>"/>
                    </td>
                    <td class="txt">外部/内部:</td>
                    <td>
                        <select name="o_lie" id="o_lie">
                            <{volist name="lieList" id="ll" key="k"}>
                            <option value="<{$k}>" <{eq name="$k" value="$order.o_lie"}>selected<{/eq}>><{$ll}></option>
                            <{/volist}>
                        </select>
                    </td>
                    <td class="txt">部门:</td>
                    <td>
                        <select name="o_did" id="o_did">
                            <{volist name="dList" id="dl"}>
                            <option value="<{$dl.d_id}>" <{eq name="$dl.d_id" value="$order.o_did"}>selected<{/eq}>><{$dl.d_name}></option>
                            <{/volist}>
                        </select>
                        <input type="hidden" name="o_dname" id="o_dname" value="<{$order.o_dname}>"/>
                    </td>
                </tr>
                <tr>
                    <td class="txt"><{if condition="$op=='add'"}>预计日期:<{else /}>合同日期:<{/if}></td>
                    <td><input type="text" name="o_date" id="o_date" value="<?php echo (empty($order['o_date']) ? "" : date("Y-m-d", $order['o_date'])) ?>"/></td>
                    <td class="txt"><{if condition="$op=='add'"}>预计金额:<{else /}>合同金额:<{/if}></td>
                    <td><input type="text" name="o_money" id="o_money" value="<{$order.o_money}>"/></td>
                    <td class="txt">订单数量:</td>
                    <td><input type="text" name="o_num" id="o_num" value="<{$order.o_num}>"/></td>
                    <td class="txt">税率:</td>
                    <td>
                        <select name="o_tax" id="o_tax">
                            <{volist name="taxList" id="ll" key="k"}>
                            <option value="<{$k}>" <{eq name="$k" value="$order.o_tax"}>selected<{/eq}>><{$ll}></option>
                            <{/volist}>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="txt">成交机会:</td>
                    <td>
                        <select name="o_deal" id="o_deal">
                            <{volist name="chancesList" id="cl"}>
                            <option value="<{$cl.cs_id}>" <{eq name="$cl.cs_id" value="$order.o_deal"}>selected<{/eq}>><{$cl.cs_name}></option>
                            <{/volist}>
                        </select>
                    </td>
                    <td class="txt">商机状态:</td>
                    <td>
                        <select name="o_status" id="o_status">
                            <{volist name="statusList" id="ll" key="k"}>
                            <option value="<{$k}>" <{eq name="$k" value="$order.o_status"}>selected<{/eq}>><{$ll}></option>
                            <{/volist}>
                        </select>
                    </td>
                    <td class="txt">利润率:</td>
                    <td>
                        <input type="text" name="o_profits" id="o_profits" value="<{$order.o_profits}>"/>
                    </td>
                </tr>
                <tr>
                    <td class="txt">关键字/标签:</td>
                    <td colspan="3">
                        <select class="mstag" multiple id="tagList" name="tagList[]">
                            <{foreach name="tagList" item="tl" key="k"}>
                            <optgroup label="<{$k}>">
                                <{foreach name="$tl" item="l"}>
                                <option value="<{$l.tl_id}>" <{if condition="array_key_exists($l.tl_id, $tagIDList)"}>selected<{/if}>><{$k}>:<{$l.tl_name}></option>
                                <{/foreach}>
                            </optgroup>
                            <{/foreach}>
                        </select>
                    </td>
                    <td class="txt">传阅人:</td>
                    <td colspan="3">
                        <select class="msmember" multiple id="cList" name="cList[]">
                            <{volist name="memberList" id="ml"}>
                            <option value="<{$ml.m_id}>" <{if condition="array_key_exists($ml.m_id, $cIDList)"}>selected<{/if}>><{$ml.m_department}>-<{$ml.m_name}></option>
                            <{/volist}>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="main-pannel" <{if condition="$order['o_status'] != '6'"}>style="display:none;"<{/if}>>
    <h3>已完成情况</h3>
    <div class="content table clearfix">
        <div class="col33">
            <table class="invoice_1" data="1">
                <thead>
                <tr>
                    <td><i class="fa fa-search" data="invoice"></i></td>
                    <td>&#931;已交付</td>
                    <td>0</td>
                    <td>0%</td>
                </tr>
                <tr class="thead">
                    <td></td>
                    <td>开票日期</td>
                    <td>金额</td>
                    <td>凭证</td>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="col33">
            <table class="acceptance_2" data="2">
                <thead>
                <tr>
                    <td><i class="fa fa-search" data="acceptance"></i></td>
                    <td>&#931;已交付</td>
                    <td>0</td>
                    <td>0%</td>
                </tr>
                <tr class="thead">
                    <td></td>
                    <td>交付日期</td>
                    <td>金额</td>
                    <td>凭证</td>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="col33">
            <table class="received_3" data="3">
                <thead>
                <tr>
                    <td><i class="fa fa-search" data="received"></i></td>
                    <td>&#931;已交付</td>
                    <td>0</td>
                    <td>0%</td>
                </tr>
                <tr class="thead">
                    <td></td>
                    <td>付款日期</td>
                    <td>金额</td>
                    <td>凭证</td>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    </div>
    <div class="main-pannel">
        <h3>预计执行计划</h3>
        <div class="content table clearfix">
            <div class="col33">
                <table data="1" style="border-collapse: separate;border-spacing: 0px 10px;">
                    <thead>
                    <tr>
                        <th class="icon"><i class="fa fa-plus"></i></th>
                        <th>开票月</th>
                        <th>比例</th>
                        <th>金额</th>
                    </tr>
                    </thead>
                    <tbody>
                    <{volist name="opject[1]" id="value" key="k"}>
                    <tr>
                        <td class="icon"><i class="fa fa-remove"></i></td>
                        <td>
                            <select class="orderProject_month_1" name="project[1][month][]">
                                <option value="<{$value.op_month}>" selected><{$value.op_month}></option>
                            </select>
                        </td>
                        <td style="padding: 0 10px;">
                            <input class="orderProject_percent_1 sliderPercent" name="project[1][percent][]" type="text" value="<{$value.op_used}>">
                        </td>
                        <td><input type="text" class="orderProject_value_1" name="project[1][value][]" value="<{$value.op_used}>" readonly/></td>
                    </tr>
                    <{/volist}>
                    </tbody>
                </table>
            </div>
            <div class="col33">
                <table data="2" style="border-collapse: separate;border-spacing: 0px 10px;">
                    <thead>
                    <tr>
                        <th class="icon"><i class="fa fa-plus"></i></th>
                        <th>交付月</th>
                        <th>比例</th>
                        <th>金额</th>
                    </tr>
                    </thead>
                    <tbody>
                    <{volist name="opject[2]" id="value" key="k"}>
                    <tr>
                        <td class="icon"><i class="fa fa-remove"></i></td>
                        <td>
                            <select class="orderProject_month_2" name="project[2][month][]">
                                <option value="<{$value.op_month}>" selected><{$value.op_month}></option>
                            </select>
                        </td>
                        <td style="padding: 0 10px;">
                            <input class="orderProject_percent_2 sliderPercent" name="project[2][percent][]" type="text" value="<{$value.op_used}>">
                        </td>
                        <td><input type="text" class="orderProject_value_2" name="project[2][value][]" value="<{$value.op_used}>" readonly/></td>
                    </tr>
                    <{/volist}>
                    </tbody>
                </table>
            </div>
            <div class="col33">
                <table data="3" style="border-collapse: separate;border-spacing: 0px 10px;">
                    <thead>
                    <tr>
                        <th class="icon"><i class="fa fa-plus"></i></th>
                        <th>付款月</th>
                        <th>比例</th>
                        <th>金额</th>
                    </tr>
                    </thead>
                    <tbody>
                    <{volist name="opject[3]" id="value" key="k"}>
                    <tr>
                        <td class="icon"><i class="fa fa-remove"></i></td>
                        <td>
                            <select class="orderProject_month_3" name="project[3][month][]">
                                <option value="<{$value.op_month}>" selected><{$value.op_month}></option>
                            </select>
                        </td>
                        <td style="padding: 0 10px;">
                            <input class="orderProject_percent_3 sliderPercent"  name="project[3][percent][]" type="text" value="<{$value.op_used}>">
                        </td>
                        <td><input type="text" class="orderProject_value_3" name="project[3][value][]" value="<{$value.op_used}>" readonly/></td>
                    </tr>
                    <{/volist}>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>
<{load href="/static/js/plugin/select/select.min.js,/static/js/plugin/slider/bootstrap-slider.min.js"/}>
