<div class="clearfix header">
    <h2>财务预算.预算模板</h2>
    <div class="link-pannel">
        <ul>
            <{/*li>
                <a href="#"><i class="fa fa-file-excel-o"></i>导出</a>
            </li*/}>
            <li>
                <a href="<{:url("/budget/templateAdd")}>"><i class="fa fa-plus"></i>添加</a>
            </li>
        </ul>
    </div>
</div>

<div class="search-panel">
    <{include file="common/allfilter"}>
</div>

<div class="main-pannel" id="main-pannel">
    <{include file="budget/template/list/2"}>
</div>
<{load href="/static/js/plugin/select/select.min.js,/static/js/lists.js,/static/css/select.min.css"}>
