<div class="clearfix header">
    <h2></h2>
    <div class="link-pannel">
        <ul>
            <li>
                <a href="#"><i class="fa fa-file-excel-o"></i>导出</a>
            </li>
            <li>
                <a href="<{:url("/budget/templateAdd")}>"><i class="fa fa-plus"></i>添加</a>
            </li>
        </ul>
    </div>
</div>
<div class="main-pannel" id="main-pannel">
    <nav aria-label="Page navigation">

    </nav>
    <table class="list" cellspacing="0">
        <thead>
        <tr>
            <th style="text-align: center;padding-right: 4px;"><input type="checkbox" id="checkAll"></th>
            <th>阶段</th>
            <th>订单号</th>
            <th>项目名称</th>
            <th>订单标题</th>
            <th>购销</th>
            <th>对方名称</th>
            <th>责任人</th>
            <th>发生日期</th>
            <th>发生金额</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <nav aria-label="Page navigation">

    </nav>
</div>
<{load href="/static/js/plugin/select/select.min.js,/static/js/lists.js,/static/css/select.min.css,/static/js/search.js"}>
