<{load href="/static/css/budget.css,/static/css/jquery.contextMenu.css"/}>
<div class="page-header">
    <h2>预算管理.预算模板</h2>
</div>

<form class="form-horizontal form-default form-add" id="form-testT-add" action="/budget/addTemplate" method="post"
      style="max-width: 800px;" onsubmit="javascript:return false;">
    <div class="form-group">
        <label class="col-sm-2 control-label">模板名称</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="t_title" name="t_title" value="<{$template.t_title}>"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">复制模板</label>
        <div class="col-sm-10">
            <select id="copy" class="form-control" <{if !empty($tid)}>disabled<{/if}>>
                <option value="0">不复制</option>
                <{foreach $lists as $val}>
                <option value="<{$val['t_id']}>"><{$val['t_title']}>(<{$val['t_row']}>*<{$val['t_col']}>)</option>
                <{/foreach}>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">设置模板<br>行列</label>
        <div class="col-sm-10">
            行：<input type="text" class="form-control table" id="t_row" name="t_row"
                     style="width: 10%;display: inline-block;text-align: center;"
                     value="<{$template.t_row ? $template.t_row : 10}>" <{if !empty($tid)}>readonly<{/if}>/> *
            列：<input type="text" class="form-control table" id="t_col" name="t_col"
                     style="width: 10%;display: inline-block;text-align: center;"
                     value="<{$template.t_col ? $template.t_col : 10}>" <{if !empty($tid)}>readonly<{/if}>/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-default" type="submit">确认</button>
        </div>
    </div>
    <input type="hidden" id="tid" value="<{$tid}>" >
</form>
<div id="table" contextmenu="html5polyfill" style="margin-bottom: 20px;">

</div>
<div class="showTips"></div>
<menu id="html5polyfill" type="context" style="display:none">
    <{if empty($tid)}>
    <command label="插入一行" onclick="insertTable('row')">
        <command label="插入一列" onclick="insertTable('col')">
            <hr>
            <command label="删除一行" onclick="deleteTable('row')">
                <command label="删除一列" onclick="deleteTable('col')">
                    <hr>
    <{/if}>
            <command label="设置只读" onclick="rdoly(1)">
                <command label="解除只读" onclick="rdoly(0)">
                    <hr>
            <command label="合并单元格" onclick="combine()">
                <command label="拆分单元格" onclick="spliTable()">
</menu>
<{load href="/static/js/jquery-ui.custom.js,/static/js/plugin/menu/jquery.ui.position.min.js,/static/js/plugin/menu/jquery.contextMenu.min.js,/static/js/budget.js"/}>
<script>
    var settingTable = "", rclickTD = "", baseTable =<{$template.cols ? $template.cols : "[]"}>, noreadOnly = true,type="template";
    $(document).ready(function () {
        $.contextMenu('html5');
        $(".table").change(function () {
            var row = parseInt($("#t_row").val());
            var col = parseInt($("#t_col").val());
            if (isNaN(row) || isNaN(col)) {
                custom.alert("行列只能输入数字!");
                return false;
            }
            if (row <= 0 || col <= 0) {
                custom.alert("行列输入的数字必须大于等于1!");
                if (row <= 0) {
                    row = 1;
                    $("#t_row").val(1);
                }
                if (col <= 0) {
                    col = 1;
                    $("#t_col").val(1);
                }
                return false;
            }
            setTable(row, col, []);
        });
        if (baseTable.length > 0) {
            setTable($("#t_row").val(), $("#t_col").val(), baseTable);
        } else {
            $(".table").change();
        }
        $("#form-testT-add").submit(function () {
            var title = $.trim($("#t_title").val()), tdata = {}, data = {}, url = $(this).attr("action");
            if (title == "") {
                custom.alert("请输入模板名称!");
                return false;
            }
            $(".stcol").each(function (i, e) {
                var col = $(e).attr("col"), row = $(e).attr("row"), val = $.trim($(e).val()), data = $(e).attr("data"),
                    cid=($(e).attr("cid") == undefined ? 0 : $(e).attr("cid")),
                    dval = $.trim($(e).attr("data")), val = ((dval === undefined || dval == "") ? val : dval),
                    colSpan = $(e).parents("td").attr("colspan") === undefined ? "0" : $(e).parents("td").attr("colspan"),
                    rowSpan = $(e).parents("td").attr("rowspan") === undefined ? "0" : $(e).parents("td").attr("rowspan"),
                    display = $(e).parents("td").is(":hidden") ? "none" : "block",readonly = (($(e).prop("readonly") == false && (data == undefined || data == "")) ? "1" : "0");
                if (tdata[row] === undefined) {
                    eval("tdata[" + row + "] = {}");
                    eval("tdata[" + row + "][" + col + "] = []");
                    tdata[row][col] = {
                        val: val,
                        colSpan: colSpan,
                        rowSpan: rowSpan,
                        display: display,
                        readonly: readonly,
                        cid: cid,
                    };
                } else if (tdata[row][col] === undefined) {
                    eval("tdata[" + row + "][" + col + "] = []");
                    tdata[row][col] = {
                        val: val,
                        colSpan: colSpan,
                        rowSpan: rowSpan,
                        display: display,
                        readonly: readonly,
                        cid: cid,
                    };
                }
            });
            data["data"] = tdata, data['t_title'] = title, data['t_row'] = $("#t_row").val(), data['t_col'] = $("#t_col").val(),
            data['tid'] = $("#tid").val();
            loading.show();
            $.ajax({
                url: url,
                dataType: "json",
                method: "post",
                data: data,
                success: function (data) {
                    loading.hide();
                    custom.alert(data.message);
                    if (data.status == true) {
                        window.setTimeout("location.reload()", 800);
                    }
                }
            });
            return false;
        });
        $('td').mousedown(function (e) {
            if (e.button == 2) {
                rclickTD = $(this);
            }
        });
        $("#copy").change(function () {
            var val = $(this).val();
            if (val == 0) {
                return;
            }
            loading.show();
            $.ajax({
                url: "/budget/getTemplateTable?tid="+val,
                dataType: "json",
                method: "post",
                success: function (data) {
                    loading.hide();
                    $("#t_row").val(data.message.t_row),$("#t_col").val(data.message.t_col);
                    var t = JSON.parse(data.message.cols);
                    setTable(data.message.t_row,data.message.t_col,t);
                    funChange();
                }
            });
        });
    });
</script>