.buildpath
.project
.settings
.htaccess
application/database.php
application/config.php
runtime/*
composer.lock
.idea/*
.idea
.DS_Store
autoload.php
think
uploads/xlsx/*
public/boindex.php
public/attachment/*
