<div id="<{$type}>-import" class="data-import">
	<h2>
		<{$typeName}>导入&nbsp;&nbsp;&nbsp;&nbsp;<a href="/data/download/type/<{$type}>.html" target="_blank">Excel样本下载</a>
	</h2>
	<form action="/data/import/type/<{$type}>" id="form-data-import" enctype="multipart/form-data" method="POST">
		<div class="form-group">
			<label for="input-import-file">请选择要导入的Excel文件</label><br/>
			<input type="file" id="input-import-file" name="file" />
			<p class="help-block"></p>
		</div>	
	</form>
	<button class="btn btn-default" id="btn-data-import">确认</button>
	<div class="bg-danger" id="import-info">
		<ul>
			<li><i class="fa fa-warning fa-lg"></i> Excel非必填列可以留空、但不能删除</li>
			<li><i class="fa fa-warning fa-lg"></i> 为保证Excel能正常解析,请务必保证导入的Excel没有不需要的内容,包括背景色,尤其是超出有效内容范围的各种格式设置</li>
			<li><i class="fa fa-warning fa-lg"></i> 请务必保证日期列格式为Y/m/d或者Y-m-d（记账月不在此例）</li>
		</ul>
	</div>
	<div id="import-msg">
		<{include file="data/import/message"}>
	</div>
</div>
<script>
	$("#btn-data-import").click(function(){
		var type = "<{$type}>";
		var fd = new FormData( document.getElementById("form-data-import") );
		var $_this = $(this);
		var $_msg = $("#import-msg");
		if( $("#input-import-file").val() ){
			$_this.prop("disabled","disabled");
			$_msg.html("<i class='loading'>Loading ...</i>");
			$.ajax({
				url:"/data/import/type/<{$type}>",
				type:'POST',
				data:fd,
	            contentType: false,  
	            processData: false,
				success:function(res){
					$("#input-import-file").val("");
					$_this.removeAttr("disabled");
					$_msg.html(res);
				}
			});
		}else{
			$("#dialog-box").dialogBox({
				hasClose:true,
				hasMask:true,
				title:'新智云',
				content:'请选择要导入的 Excel 文件.'
			})
		}	
	});
</script>