<{notempty name="msgs"}>
<ul>
    <{volist name="msgs" id="msg"}>
    <li class="bg-success"><i class="fa fa-info-circle fa-lg"></i> <{$msg}></li>
    <{/volist}>
</ul>
<{/notempty}>
<{notempty name="errors"}>
<ul>
    <{volist name="errors" id="error"}>
    <li class="bg-danger"><i class="fa fa-times-circle fa-lg"></i> <{$error}></li>
    <{/volist}>
</ul>
<{/notempty}>
<{notempty name="warnings"}>
<ul>
    <{volist name="warnings" id="warning"}>
    <li class="bg-warning"><i class="fa fa-warning fa-lg"></i> <{$warning}></li>
    <{/volist}>
</ul>
<{/notempty}>