<div class="page-header">
    <h2>部门管理.添加部门</h2>
</div>

<form class="form-horizontal form-default form-add" id="form-department-add" action="/department/add" method="post" onsubmit="return false;">

    <div class="form-group">
        <label for="inputName" class="col-sm-2 control-label">名称</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputName" name="name"/>
        </div>
    </div>

    <div class="form-group">
        <label for="inputCode" class="col-sm-2 control-label">编码</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputCode" name="code"/>
        </div>
    </div>

    <div class="form-group">
        <label for="inputMName" class="col-sm-2 control-label">领导姓名</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputMName" name="mname"/>
        </div>
    </div>

    <div class="form-group">
        <label for="inputMCode" class="col-sm-2 control-label">领导编号</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputMCode" name="mcode"/>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-default" id="btn-add-project">确认</button>
        </div>
    </div>

</form>

<{load file="/static/js/update.js"}>