<form action="/department/update" method="post" onsubmit="return false" id="form-update">
    <div class="clearfix header">
        <h2>科室管理.数据查看</h2>
        <div class="btn-pannel">
            <button type="button" href="#department/all" class="btn red">取消</button>
            <button type="submit" class="btn">保存</button>
        </div>
    </div>
    <div class="main-pannel">
        <h3>基本信息</h3>
        <div class="content">
            <table class="detail" style="max-width:500px">
                <colgroup>
                </colgroup>
                <tbody>
                <tr>
                    <td class="bo-label"><label>公司:</label></td>
                    <td><input type="text" name="cname" value="<{$data.d_cname}>"<{if !$isAdmin}> class="no-border" readonly<{/if}>/></td>
                    <td class="bo-label"><label>名称:</label></td>
                    <td><input type="text" name="name" value="<{$data.d_name}>"<{if !$isAdmin}> class="no-border" readonly<{/if}>/><input type="hidden" name="id" value="<{$data.d_id}>"/></td>
                </tr>
                <tr>
                    <td class="bo-label"><label>编码:</label></td>
                    <td><input type="text" name="code" value="<{$data.d_code}>"<{if !$isAdmin}> class="no-border" readonly<{/if}>/></td>
                    <td class="bo-label"><label>领导/负责人:</label></td>
                    <td>
                        <input type="text" name="mname" value="<{$data.m_name}>" <{if $isAdmin}>id="ipt-member-name"<{else}>class="no-border" readonly<{/if}>/>
                        <input type="hidden" name="mcode" value="<{$data.m_code}>" />
                        <input type="hidden" name="o-mcode" value="<{$data.m_code}>"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
<{load file="/static/js/update.js"}}>