<div class="search-result">
    <nav aria-label="Page navigation" style="width: 80%;display: inline-block;">
        <{$lists->render()}>
    </nav>
    <table cellspacing="0" class="list">
        <thead>
        <tr>
            <th></th>
            <th>科室名称</th>
            <th>部门编码</th>
            <th>领导</th>
            <!--th></th-->
        </tr>
        </thead>
        <tbody>
        <{volist name="lists" id="val" empty="$empty"}>
        <tr>
            <td><input type="radio" class="selectRadio" name="selectRadio" value="<{$val.d_id}>" data="<{$val.d_name}>" /></td>
            <td><{$val.d_name}></td>
            <td><{$val.d_code}></td>
            <td><{$val.m_name}></td>
            <!--td><{$val.m_code}></td-->
        </tr>
        <{/volist}>
        </tbody>
    </table>
    <nav aria-label="Page navigation" style="width: 80%;display: inline-block;">
        <{$lists->render()}>
    </nav>
</div>