<div class="page-header">
    <h2>添加合同</h2>
</div>

<form class="form-horizontal form-default form-add" id="form-add-contract" action="/contract/add" method="post" onsubmit="return false;">

    <div class="form-group">
        <label for="inputNo" class="col-sm-2 control-label"><i class="asterisk">*</i>合同号</label>
        <div class="col-sm-10">
            <input type="text" class="form-control input-sm" id="inputNo"  name="no" required onblur="toUpperCase(this)" onkeyup="toUpperCase(this)" rangelength="[8,32]"/>
        </div>
    </div>

    <div class="form-group">
        <label for="inputName" class="col-sm-2 control-label"><i class="asterisk">*</i>合同名</label>
        <div class="col-sm-10">
            <input type="text" class="form-control input-sm" id="inputName"  name="name" required minlength="4"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">类型</label>
        <div class="col-sm-10">
            <select class="form-control input-sm" name="type">
                <{foreach name=":getTypeList()" item="type" key="k"}>
                <option value="<{$k}>"><{$type}></option>
                <{/foreach}>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="ipt-company-name"><i class="asterisk">*</i>对方公司</label>
        <div class="col-sm-10">
            <input type="text" class="form-control input-sm" name="coname" id="ipt-company-name" readonly required/>
            <input type="hidden" name="coid" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label"><i class="asterisk">*</i>合同总金额</label>
        <div class="col-sm-10">
            <input type="text" class="form-control input-sm" name="money" required number="true"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label"><i class="asterisk">*</i>签约日期</label>
        <div class="col-sm-10">
            <input type="text" class="form-control input-sm" name="date" id="inputDate" readonly required/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">记账月</label>
        <div class="col-sm-10">
            <input type="text" class="form-control input-sm" name="accdate" number="true" placeholder="格式:1711"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">附件</label>
        <div class="col-sm-10">
            <input type="file" name="attachment"/>
            <p class="help-block">请上传相关附件</p>
        </div>
    </div>

    <div class="form-group">
        <label for="txtContent" class="col-sm-2 control-label">合同摘要</label>
        <div class="col-sm-10">
            <textarea class="form-control" rows="3" name="bakup" id="txtContent"></textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-default" id="btn-add-contract" type="submit">确认</button>
        </div>
    </div>

</form>

<{load file="/static/js/update.js"}>