<div class="clearfix header">

    <h2>所有合同</h2>

    <div class="link-pannel">
        <ul>
            <li>
                <a href="#"><i class="fa fa-file-excel-o"></i>导出</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-filter"></i>筛选</a>
            </li>
            <li>
                <a href="/circulation/add/type/contract" id="btn-circulation" target="_blank" onclick="return false;"><i class="fa fa-users"></i>传阅<i class="fa fa-sort-desc"></i></a>
            </li>
            <!--li>
                <a href="#"><i class="fa fa-tags"></i>标签<i class="fa fa-sort-desc"></i></a>
            </li-->
            <li>
                <a href="/contract/del" id="lists-delete" target="_blank" onclick="return false;"><i class="fa fa-trash"></i>删除</a>
            </li>
            <!--li>
                <a href="/project/add"><i class="fa fa-file-text-o"></i>新建</a>
            </li-->
        </ul>
    </div>
</div>
<nav aria-label="Page navigation">
    <{$lists->render()}>
</nav>
<div class="main-pannel">
    <table class="list" cellspacing="0">
        <thead>
        <tr>
            <th style="min-width: 50px;text-align:center;padding-right:4px;"><input type="checkbox" id="lists-all-checked" value="all"/></th>
            <th>合同号</th>
            <th>合同名</th>
            <th>责任人</th>
            <th>对方公司</th>
            <th>类型</th>
            <th>总金额</th>
            <th>已使用金额</th>
            <th>未使用金额</th>
            <th>验收时间</th>
            <th>备注</th>
        </tr>
        </thead>
        <tbody>
        <{volist name="lists" id="vo" empty="$empty"}>
        <tr>
            <td><input type="checkbox" value="<{$vo.c_id}>" class="lists-id"></td>
            <td><{$vo.c_no}></td>
            <td><{$vo.c_name}></td>
            <td><{$vo.c_mname}></td>
            <td><{$vo.c_coname}></td>
            <td><{if $vo.c_type==1}>销售<{else}>采销<{/if}></td>
            <td><{$vo.c_money}></td>
            <td><{$vo.c_used}></td>
            <td><{$vo.c_noused}></td>
            <td><{$vo.c_date|date="Y-m-d",###}></td>
            <td><{$vo.c_bakup}></td>
        </tr>
        <{/volist}>
        </tbody>
    </table>
</div>
<nav aria-label="Page navigation">
    <{$lists->render()}>
</nav>
<{load href="/static/js/plugin/select/select.min.js,/static/js/lists.js,/static/css/select.min.css"}>