<div class="clearfix header">

    <h2><{if empty(isset($pageType))}>合同管理<{elseif $pageType=='trashed'}>回收站<{/if}>.合同列表</h2>

    <div class="link-pannel">

        <ul>
            <{if empty(isset($pageType))}>
            <li>
                <a href="<{:url('/contract/export')}>" target="_blank" id="link-export" data-type="contract" data-list-type="3"><i class="fa fa-file-excel-o"></i>导出</a>
            </li>
            <{if $isAdmin}>
            <li>
                <a href="<{:url('/circulation/delAll/type/contract')}>" id="btn-circulation-del" target="_blank" onclick="return false;"><i class="fa fa-users"></i>取消传阅<i class="fa fa-sort-desc"></i></a>
            </li>
            <{/if}>
            <li>
                <a href="/circulation/add/type/contract" id="btn-circulation" target="_blank" onclick="return false;"><i class="fa fa-users"></i>传阅<i class="fa fa-sort-desc"></i></a>
            </li>
            <li>
                <a href="/contract/del" id="lists-delete" target="_blank" onclick="return false;"><i class="fa fa-trash"></i>删除</a>
            </li>
            <li>
                <a href="<{:url("/taglib/del/type/contract")}>" target="_blank" id="btn-taglib-del"><i class="fa fa-braille"></i>取消标签<i class="fa fa-sort-desc"></i></a>
            </li>
            <li>
                <a href="<{:url("/taglib/add/type/contract")}>" target="_blank" id="btn-taglib"><i class="fa fa-braille" style="color: #1d9d74;"></i>标签<i class="fa fa-sort-desc"></i></a>
            </li>
            <{elseif $pageType=='trashed'}>
            <li>
                <a href="<{:url('/contract/restore')}>" target="_blank" id="btn-restore"><i class="fa fa-mail-reply-all"></i>恢复</a>
            </li>
            <{/if}>
        </ul>

    </div>
</div>

<div class="search-panel">
    <{include file="common/allfilter"}>
</div>

<div class="main-pannel all-page" id="main-pannel">
    <{include file="contract/list/2"}>
</div>

<script type="text/javascript" src="/static/js/lists.js?v=1801101410"></script>