<form action="/contract/update" method="post" onsubmit="return false" id="form-update">
    <div class="clearfix header">
        <h2>合同管理.数据查看</h2>
        <div class="btn-pannel">
            <button type="button" href="#contract/all" class="btn red">取消</button>
            <{/*<button type="submit" class="btn">保存</button>*/}>
        </div>
    </div>
    <div class="main-pannel">
        <h3>基本信息</h3>
        <div class="content">
            <table>
                <tr>
                    <td width="64">合同号:</td>
                    <td><input type="text" name="no" value="<{$data.c_no}>" class="no-border" readonly/><input type="hidden" name="id" value="<{$data.c_id}>"/> </td>
                    <td style="padding-left:20px;width:84px;">签约日期:</td>
                    <td>
                        <{if $readonly == true}>
                        <input type="text" value="<{$data.c_date|date='Y-m-d',###}>" class="no-border" readonly/>
                        <input type="hidden" name="date" value="<{$data.c_date|date='Y-m-d',###}>" />
                        <{else}>
                        <input type="text" name="date" value="<{$data.c_date|date='Y-m-d',###}>"/>
                        <{/if}>
                    </td>
                    <td style="padding-left:20px;width:104px">合同总金额:</td>
                    <td><input type="text" value="<{$data.c_money}>" name="money"<{if $readonly==true}> class="no-border" readonly<{/if}>/></td>
                </tr>
                <tr>
                    <td>合同名称:</td>
                    <td colspan="3">
                        <input type="text" name="name" value="<{$data.c_name}>"<{if $readonly==true}> class="no-border" readonly<{/if}>/>
                    </td>
                    <td style="padding-left:20px;width:84px">销售/采销:</td>
                    <td>
                        <select name="type"<{if $readonly == true}> disabled="disabled"<{/if}>>
                            <option value="1"<{if $data.c_type == 1}> selected<{/if}>>销售</option>
                            <option value="2"<{if $data.c_type == 2}> selected<{/if}>>采销</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>对方名称:</td>
                    <td>

                        <input type="text" value="<{$data.c_coname}>" name="coname" <{if $readonly==true}>class="no-border"<{else}>id="ipt-company-name"<{/if}> readonly/>
                        <input type="hidden" name="coid" value="<{$data.c_coid}>" id="ipt-company-id">
                    </td>
                    <td style="padding-left:20px;">责任人:</td>
                    <td colspan="3">
                        <input type="text" value="<{$data.c_mname}>" name="mname" class="no-border" readonly/>
                        <input type="hidden" value="<{$data.c_mid}>" name="mid"/>
                    </td>
                </tr>
                <tr>
                    <td>合同摘要:</td>
                    <td colspan="3">
                        <textarea readonly style="width:500px;height:50px;resize: none;border-radius: 3px;" disabled>
                            <{$data.c_bakup}>
                        </textarea>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="main-pannel">
        <h3>已对应订单情况</h3>
        <div class="content">
            <table class="table2">
                <tr>
                    <!--td style="width: 2em;"></td-->
                    <td>已对应订单金额:</td>
                    <td><input type="text" name="used" value="<{$data.c_used}>" class="no-border" readonly/></td>
                    <td>未对应订单金额</td>
                    <td><input type="text" name="noused" value="<{$data.c_noused}>" class="no-border" readonly/></td>
                </tr>
                <tr>
                    <!--th id="btn-add-order"><i class="fa fa-plus-circle"></i></th-->
                    <th>订单号</th>
                    <th>订单金额</th>
                    <th>订单主题</th>
                    <th>对方名称</th>
                    <th>责任人</th>
                    <th>项目名称</th>
                </tr>
                <{volist name="orders" id="order" empty="<tr><td colspan='7' style='text-align: center'>暂无数据</td></tr>"}>
                <tr>
                    <!--td><i class="fa fa-minus-circle"></i><input type="hidden" name="oids[]" value="<{$order.o_id}>"</td-->
                    <td><a href="/orders/operation?op=edit&op_id=<{$order.o_id}>"><{$order.o_no}></a></td>
                    <td><{$order.o_money}><input type="hidden" name="omoneys[]" value="<{$order.o_money}>"/></td>
                    <td><{$order.o_subject}></td>
                    <td><{$order.o_coname}></td>
                    <td><{$order.o_mname}></td>
                    <td><{$order.o_pname}></td>
                </tr>
                <{/volist}>
            </table>
        </div>
    </div>
</form>
<{load file="/static/js/update.js"}}>