<div class="clearfix header searchTitle">
    <h2></h2>
    <div class="btn-pannel paginate">
        <{$lists->render()}>
    </div>
</div>
<div class="search-result">
    <table cellspacing="0" class="list">
        <thead>
        <tr>
            <th></th>
            <th>合同号</th>
            <th>合同名称</th>
            <th>对方名称</th>
            <th>合同类型</th>
            <th>签约日期</th>
            <th>合同金额</th>
            <th>未对应订单金额</th>
        </tr>
        </thead>
        <tbody>
        <{volist name="lists" id="val" empty="$empty"}>
        <tr>
            <td><input type="radio" class="selectRadio" name="selectRadio" value="<{$val.c_id}>" data="<{$val.c_no}>" data-value="<?php echo urlencode(json_encode($val->toArray())) ?>" /></td>
            <td><{$val.c_no}></td>
            <td><{$val.c_name}></td>
            <td><{$val.c_coname}></td>
            <td><{$val.c_type}></td>
            <td><?php echo date("Y-m-d", $val['c_date']); ?></td>
            <td><{$val.c_money}></td>
            <td><{$val.c_noused}></td>
        </tr>
        <{/volist}>
        </tbody>
    </table>
</div>