<div class="clearfix header">

    <h2>员工管理.员工列表</h2>

    <div class="link-pannel">
        <ul>
            <li>
                <a href="<{:url('/member/export')}>" target="_blank" id="link-export" data-type="member" data-list-type="3"><i class="fa fa-file-excel-o"></i>导出</a>
            </li>
            <!--li>
                <a href="<{:url("/member/searchMemberNoList")}>" target="_blank" id="searchList" stype="<{$stype}>"><i class="fa fa-filter"></i>筛选</a>
            </li-->
            <li>
                <a href="/member/del" id="lists-delete" target="_blank" onclick="return false;"><i class="fa fa-trash"></i>删除</a>
            </li>
        </ul>
    </div>
</div>
<div class="search-panel">
    <{include file="common/allfilter"}>
</div>
<div class="main-pannel all-page" id="main-pannel">
    <{include file="member/list/2"}>
</div>

<{load href="/static/js/plugin/select/select.min.js,/static/js/lists.js,/static/css/select.min.css"}>