<form action="/member/update" method="post" onsubmit="return false" id="form-update">
    <div class="clearfix header">
        <h2>员工管理.数据查看</h2>
        <div class="btn-pannel">
            <button type="button" href="#historyBack" class="btn red">取消</button>
            <button type="submit" class="btn"<{if !$isSelf && !$isAdmin}> disabled<{/if}>>保存</button>
        </div>
    </div>
    <div class="main-pannel">
        <h3>基本信息</h3>
        <div class="content">
            <table class="detail">
                <tr>
                    <td class="bo-label"><label for="ipt-dm-name">姓名:</label></td>
                    <td><input type="text" name="name" id="ipt-dm-name" value="<{$data.m_name}>"<{if !$isAdmin}> class="no-border" readonly<{/if}>/></td>
                    <td class="bo-label"><label for="ipt-dm-email">邮箱:</label></td>
                    <td><input type="text" name="email" id="ipt-dm-email" value="<{$data.m_email}>"<{if !$isAdmin}> class="no-border" readonly<{/if}>/><input type="hidden" name="id" value="<{$data.m_id}>"/></td>
                    <{if $isSelf || $isAdmin}>
                    <td class="bo-label"><label for="ipt-dm-password">密码:<span style="color: red">(留空密码不变)</span></label></td>
                    <td><input type="password" name="password" id="ipt-dm-password" value="" autocomplete="new-password" /></td>
                    <{/if}>
                </tr>
                <tr>
                    <td class="bo-label"><label for="ipt-dm-code">编码:</label></td>
                    <td><input type="text" name="code" id="ipt-dm-code" value="<{$data.m_code}>"<{if !$isAdmin}> class="no-border" readonly<{/if}>/></td>
                    <td class="bo-label"><label for="ipt-dm-phone">电话:</label></td>
                    <td><input type="text" name="phone" id="ipt-dm-phone" value="<{$data.m_phone}>"<{if !$isSelf && !$isAdmin}> class="no-border" readonly<{/if}>/></td>
                    <td class="bo-label"><label for="inputDepartment">科室:</label></td>
                    <td><input type="text" readonly name="department" value="<{$data.m_department}>" <{if !$isAdmin}>class="no-border"<{else}>id="inputDepartment"<{/if}>/> <input type="hidden" name="did" value="<{$data.m_did}>"/></td>
                </tr>

                <tr>
                    <td class="bo-label"><label for="ipt-dm-office">部门:</label></td>
                    <td><input type="text" name="office" id="ipt-dm-office" value="<{$data.m_office}>"<{if !$isAdmin}> class="no-border" readonly<{/if}>/></td>
                    <td class="bo-label"><label>管理员:</label></td>
                    <td>
                        <label><input type="radio" name="isAdmin" value="0"<{if $data.m_isAdmin==0}> checked<{/if}><{if $isAdmin !=1}> disabled<{/if}>/>&nbsp;否</label>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <label><input type="radio" name="isAdmin" value="1"<{if $data.m_isAdmin==1}> checked<{/if}><{if $isAdmin !=1}> disabled<{/if}>/>&nbsp;是</label>
                    </td>
                    <td colspan="2"></td>

                </tr>
            </table>
        </div>
    </div>
</form>
<{load file="/static/js/update.js"}}>