<form action="/member/update" method="post" onsubmit="return false" id="form-update">
    <div class="clearfix header">
        <h2>员工管理.数据查看</h2>
        <div class="btn-pannel">
            <button type="button" href="#historyBack" class="btn red">取消</button>
            <button type="submit" class="btn"<{if !$isSelf && !$isAdmin}> disabled<{/if}>>保存</button>
        </div>
    </div>
    <div class="main-pannel">
        <h3>基本信息</h3>
        <div class="content">
            <table class="detail">
                <tr>
                    <td class="bo-label"><label for="ipt-dm-name"><i class="asterisk">*</i>姓名:</label></td>
                    <td><input class="input-sm" type="text" name="name" id="ipt-dm-name" value="<{$data.m_name}>" required<{if !$isAdmin}> readonly<{/if}>/></td>
                    <td class="bo-label"><label for="ipt-dm-email"><i class="asterisk">*</i>邮箱:</label></td>
                    <td><input class="input-sm" type="text" name="email" id="ipt-dm-email" value="<{$data.m_email}>" required email="true"<{if !$isAdmin}> readonly<{/if}>/><input type="hidden" name="id" value="<{$data.m_id}>"/></td>
                    <{if $isSelf || $isAdmin}>
                    <td class="bo-label"><label for="ipt-dm-password">密码:<span style="color: red">(留空密码不变)</span></label></td>
                    <td><input class="input-sm" type="password" name="password" id="ipt-dm-password" value="" autocomplete="new-password" /></td>
                    <{/if}>
                </tr>
                <tr>
                    <td class="bo-label"><label for="ipt-dm-code"><i class="asterisk">*</i>编码:</label></td>
                    <td><input class="input-sm" type="text" name="code" id="ipt-dm-code" value="<{$data.m_code}>" required<{if !$isAdmin}> readonly<{/if}>/></td>
                    <td class="bo-label"><label for="ipt-dm-phone"><i class="asterisk">*</i>电话:</label></td>
                    <td><input class="input-sm" type="text" name="phone" id="ipt-dm-phone" value="<{$data.m_phone}>" required<{if !$isSelf && !$isAdmin}> readonly<{/if}>/></td>
                    <td class="bo-label"><label for="inputDepartment"><i class="asterisk">*</i>部门:</label></td>
                    <td><input class="input-sm" type="text" readonly name="department" id="inputDepartment" value="<{$data.m_department}>" required<{if !$isAdmin}> disabled<{/if}>/> <input type="hidden" name="did" value="<{$data.m_did}>"/></td>
                </tr>
                <tr>
                    <td class="bo-label"><label for="ipt-dm-office">组织:</label></td>
                    <td><input type="text" class="input-sm" name="office" id="ipt-dm-office" value="<{$data.m_office}>"<{if !$isAdmin}> readonly<{/if}>/></td>
                    <td class="bo-label"><label for="ipt-dm-cname">公司:</label></td>
                    <td><input type="text" class="input-sm" name="cname" id="ipt-dm-cname" value="<{$data.m_cname}>"<{if !$isAdmin}> readonly<{/if}>/></td>
                </tr>
                <tr>
                    <td class="bo-label"><label>管理员:</label></td>
                    <td>
                        <label><input type="radio" name="isAdmin" class="isAdmin" value="2"<{if $data.m_isAdmin==2}> checked<{/if}><{if $isAdmin !=1}> disabled<{/if}>/>&nbsp;否</label>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <label><input type="radio" name="isAdmin" class="isAdmin" value="1"<{if $data.m_isAdmin==1}> checked<{/if}><{if $isAdmin !=1}> disabled<{/if}>/>&nbsp;是</label>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="main-pannel">
        <h3>权限信息</h3>
        <div class="content">
            <table id="tree" style="width: 300px;margin: 0 10px;">
                <colgroup>
                    <col width="100px">
                </colgroup>
                <thead class="alignCenter">
                <tr>
                    <th><span style="display: inline-block;float: left;padding-left: 20px;"><input type="checkbox" id="checkAll"></span>菜单</th>
                </tr>
                </thead>
                <tbody>
                <!-- Define a row template for all invariant markup: -->
                <tr>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <input type="hidden" name="permissions" id="permissions" value="">
</form>
<{load href="/static/js/jquery-ui.custom.js,/static/fancytree/jquery.fancytree.min.js,/static/fancytree/jquery.fancytree-all.min.js,/static/fancytree/skin-win8/ui.fancytree.min.css"}>
<{load href="/static/js/menu.js"}>
<script type="text/javascript">

    var SOURCE =<{$menuList}>, tree="", isAdmin = "<{$data.m_isAdmin}>", plist = '<{$memberList}>';

    $(function () {
        laydate.render({
            elem: "input[name='date']",
            min: '1970-01-01 08:00:00',
            max: 0
        });
        tree = $("#tree").fancytree({
            checkbox: true,
            titlesTabbable: true,     // Add all node titles to TAB chain
            quicksearch: true,        // Jump to nodes when pressing first character
            source: SOURCE,
            //source: { url: "ajax-tree-products.json"},

            extensions: ["edit", "dnd", "table", "gridnav"],

            dnd: {
                preventVoidMoves: true,
                preventRecursiveMoves: true,
                autoExpandMS: 400,
                dragStart: function (node, data) {
                    return true;
                },
                dragEnter: function (node, data) {
                    // return ["before", "after"];
                    return true;
                },
                dragDrop: function (node, data) {
                    data.otherNode.moveTo(node, data.hitMode);
                }
            },
            table: {
                indentation: 20,
                //nodeColumnIdx: 2,
                //checkboxColumnIdx: 0
            },
            gridnav: {
                autofocusInput: false,
                handleCursorKeys: true
            },
            click: function (event, data) {
                if(data.targetType != "checkbox"){
                    return;
                }
                var selected = data.node.selected == undefined ? true : (data.node.selected == false ? true : false);
                if(data.node.children != null){
                    for (var i in data.node.children) {
                        data.node.children[i].setSelected(selected);
                    }
                }else if(data.node.parent != null){
                    var c = false;
                    for(var i in data.node.parent.children){
                        if(data.node.parent.children[i] == data.node){
                            if(selected == true){
                                c = selected;
                            }
                        }else if(data.node.parent.children[i].selected == true){
                            c = true;
                        }
                    }
                    data.node.parent.setSelected(c);
                }
            },
        });
        tree = $("#tree").fancytree("getTree");
        if(isAdmin == "1"){
            for(var i in tree.rootNode.children){
                tree.rootNode.children[i].setSelected(true);
                if(tree.rootNode.children[i].children != null){
                    for(var j in tree.rootNode.children[i].children){
                        tree.rootNode.children[i].children[j].setSelected(true);
                    }
                }
            }
        }else{
            for(var i in tree.rootNode.children){
                if(plist.indexOf(','+tree.rootNode.children[i].data.id+',') >= 0){
                    tree.rootNode.children[i].setSelected(true);
                }
                if(tree.rootNode.children[i].children != null){
                    for(var j in tree.rootNode.children[i].children){
                        if(plist.indexOf(','+tree.rootNode.children[i].children[j].data.id+',') >= 0){
                            tree.rootNode.children[i].children[j].setSelected(true);
                        }
                    }
                }
            }
        }

        $("#form-update [type='submit']").click(function () {
            loading.show();
            var form = $("#form-update");
            var nodes = tree.getSelectedNodes(), ids = [];
            if (nodes.length > 0) {
                for (var i in nodes) {
                    ids.push(nodes[i].data.id);
                }
            }
            $("#permissions").val(ids.join(","));
            form.validate({
                'submitHandler': function () {
                    var form = $("#form-update");
                    var data = new FormData(form[0]);
                    $.ajax({
                        url: form.attr("action"),
                        method: form.attr("method"),
                        data: data,
                        contentType: false,
                        processData: false,
                        dataType: "json",
                        success: function (res) {
                            loading.hide();
                            custom.alert(res.msg);
                            if(res.flag == 1) {
                                var el;
                                if ($("#ipt-attachment").length > 0) {
                                    el = "#ipt-attachment";
                                }
                                $(el).val("");
                                if ( res.image !== undefined) {
                                    $(el).parent().addClass("attachment").find("img").remove();
                                    $(el).parent().find("a").remove();
                                    $(el).parent().prepend('<img src="' + res.image + '"  width="240" data-action="zoom"/>');
                                }else if (res.file !== undefined){
                                    $(el).parent().find("img").remove();
                                    $(el).parent().find("a").remove();
                                    $(el).parent().prepend('<a href="' + res.file + '" target="_blank"><i class="fa fa-paperclip"></i> 附件</a>');
                                }
                            }
                        }
                    });
                }
            });
        });
        $(".isAdmin").click(function(){
            var val = $(this).val();
            if(val == "1"){
                for(var i in tree.rootNode.children){
                    tree.rootNode.children[i].setSelected(true);
                    tree.rootNode.children[i].unselectable = true;
                    if(tree.rootNode.children[i].children != null){
                        for(var j in tree.rootNode.children[i].children){
                            tree.rootNode.children[i].children[j].setSelected(true);
                            tree.rootNode.children[i].children[j].unselectable = true;
                        }
                    }
                }
                $("#checkAll").prop("checked", true);
                $("#checkAll").prop("disabled", true);
            }else{
                $("#checkAll").prop("disabled", false);
                for(var i in tree.rootNode.children){
                    tree.rootNode.children[i].unselectable = false;
                    if(tree.rootNode.children[i].children != null){
                        for(var j in tree.rootNode.children[i].children){
                            tree.rootNode.children[i].children[j].unselectable = false;
                        }
                    }
                }
            }
        });
        $("#checkAll").click(function(){
            var c = $(this).prop("checked");
            for(var i in tree.rootNode.children){
                tree.rootNode.children[i].setSelected(c);
                if(tree.rootNode.children[i].children != null){
                    for(var j in tree.rootNode.children[i].children){
                        tree.rootNode.children[i].children[j].setSelected(c);
                    }
                }
            }
        });
        if(isAdmin == "1"){
            $("#checkAll").click();
            $("#checkAll").prop("disabled", true);
            for(var i in tree.rootNode.children){
                tree.rootNode.children[i].unselectable = true;
                if(tree.rootNode.children[i].children != null){
                    for(var j in tree.rootNode.children[i].children){
                        tree.rootNode.children[i].children[j].unselectable = true;
                    }
                }
            }
        }
        $("#inputDepartment").click(function () {
            $(".f-layer-back").show();
            if ($(".f-layer-department").length > 0) {
                $(".f-layer-back").hide();
                $(".f-layer-department-back").show();
                $(".f-layer-department").addClass("show");
            } else {
                $.ajax({
                    url: "/department/searchDepartment",
                    method: "post",
                    dataType: "json",
                    success: function (res) {
                        $(".f-layer-back").hide();
                        $("#popDIV").append(res.content);
                        $(".f-layer-department .close").click(function () {
                            $(".f-layer-department-back").hide();
                            $(".f-layer-department").removeClass("show");
                        });
                        $(".f-layer-department .save").click(function () {
                            var radio = $(".f-layer-department .selectRadio:checked");
                            if (radio.length > 0) {
                                $("input[name='did']").val(radio.val());
                                $("input[name='department']").val(radio.attr('data'));
                                $("input[name='dname']").val(radio.attr('data'));
                                $(".f-layer-department .close").click();
                            } else {
                                custom.alert('请至少选择一项');
                            }

                        });
                        $(".f-layer-department-back").show();
                        setTimeout('$(".f-layer-department").addClass("show")', 500);
                    }
                });
            }
        });
    });
</script>