* {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: #000000;
}

li {
    list-style: none;
}

h2 {
    font-size: 18px;
    display: inline;
    float: left;
}
h1,h2{
	margin:0;
}
h2, h3 {
    font-weight: normal;
}

h3 {
    background: #d2f0ff;
    height: 2em;
    line-height: 2em;
    padding-left: 10px;
    font-size: 16px;
}

i {
    margin-right: .2em;
}

table {
    width: 100%;
    line-height: 2em;
}

table select {
    width: 100%;
    min-width: 5em;
}

input[type=text] {
    width: 100%;
    border: solid 1px #D9D9D9;
    padding: 0 1px;
    line-height:16px;
    font-size:14px;
    border-radius:4px;
}

td {
    padding-right: 4px;
}

td.txt {
    padding-left: 10px;
}

td.holder {
    min-width: 2em;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

.header {
    padding: 10px;
}

.btn {
    background: #0070c0;
    border: none;
    color: #FFFFFF;
    padding: 0 1em;
}
.btn.close{
	padding:0 1em;
	opacity:1;
	text-shadow:none;
	font-size:14px;
	line-height:normal
}
.btn.red {
    background: #c00000;
}

.fa-calendar-check-o {
    color: #cb7339;
}

.fa-pencil {
    color: #6f99c0;
}

.fa-share-square-o {
    color: #82ab66;
}

.fa-star {
    color: #f29d1d;
}

.fa-file-excel-o {
    color: #1e7745;
}

.fa-trash {
    color: #486dad;
}

.fa-tags {
    color: #68c1f8;
}

.fa-sort-desc {
    color: #BFBFBF;
    vertical-align: top;
    margin-left: .4em;
}

.fa-users {
    color: #37ac85;
}

.fa-filter {
    color: #4fadd8;
}

.fa-plus {
    color: #0431ff;
}

.fa-remove {
    color: #f20d13;
}
.fa-file-text-o{
    color: #486dad
}

.fa-search {
    background: #6493ae;
    background-image: linear-gradient(90deg, #b4fcff, #788ea5);
    padding: .3em .3em;
    color: #fff;
    border-radius: .2em;
    transform: rotate(90deg);
}

.fa-plus-circle,
.fa-minus-circle {
    color: #0431FF;
}

.btn-pannel {
    display: inline;
    float: right;
}

.btn-pannel button {
    float: right;
    margin-right: 5px;
}
.btn-pannel .pager{
	margin:0;
}
.btn-pannel .pager li>a,
.btn-pannel .pager li>span{
	padding:0;
	border-radius:0;
	background:#0070C0;
	border:none;
	color:#FFF;
}
.btn-pannel .pager li>span{
	background:grey;
}
.btn-pannel button:first-child {
    margin-right: 0;
}

.link-pannel {
    display: inline;
    float: right;
}

.link-pannel ul li {
    float: right;
    margin-right: 2em;
}

.main-pannel .content {
    padding: 10px;
}

.col33 {
    width: 32%;
    float: left;
    margin-right: 2%;
}

.col33:last-child {
    float: right;
    margin-right: 0;
}

.col33 th {
    background: #D9D9D9;
    font-weight: normal;
    text-align: center;
    border-right: 2px #fff solid;
}

.col33 th.icon {
    background: #FFFFFF;
}

.col33 td:first-child {
    width: 1.6em;
    padding: 0;
    text-align: center;
}

th.icon {
    text-align: left;
    width: 1em;
}

.f-layer {
    width: 90%;
    position: fixed;
    top: 100px;
    left: 5%;
    z-index: -9;
    background: #FFFFFF;
    padding: 15px 20px;
    box-shadow: 0px 0px 15px;
    border-radius: 4px; 
	-webkit-transform: scale(0.6);
	-ms-transform: scale(0.6);
	transform: scale(0.6);
	opacity:0;
	transition: all 0.3s;
}
.f-layer.show{
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
	z-index:9999;	
}

.list th {
    text-align: left;
    background: #D2F0FF
}

table.list tbody tr:nth-child(2n) {
    background: #F2F2F2;
}

table.list td:first-child {
    width: 2em;
    text-align: center;
}

.thead td {
    background: #D9D9D9;
    text-align: center;
}

.thead td:first-child {
    background: none;
}

.pager li {
    float: left;
    background: #0070c0;
    border: none;
    color: #FFFFFF;
    padding: 0 1em;
    margin-right: 5px;
    border-radius:4px;
}

.pager li.disabled {
    background: grey;
    color: black;
}

.pager li a {
    color: white;
}

.search-block {
    width: 47%;
    padding-left: 2%;
    float: left;
    margin-bottom: 10px;
}

.search-block select {
    width: 100px;
    padding-left: 10px;
}

.search-block input {
    width: 200px;
}

.divBlock {
    min-height: 25px;
    width: 98%;
    border: 1px solid #d9d9d9;
    padding: 3px;
}

.divBlock span {
    padding-left: 2px;
    float: left;
    display: inline-block;
    width: 50px;
    background-color: #0070c0;
    color: white;
    text-align: center;
}
.data-import{
	padding:20px 20px 0 20px;
}
.data-import h2{
	border-bottom:solid 1px #eee;
	display:block;
	padding:0.5em 0;
	float:none;
	margin-bottom:2em;
	font-weight:700;
}
.data-import label{
	font-weight:700;
	display:inline-block;
	margin-bottom:5px;
	font-size:14px;
}
.data-import h2 a {
	text-decoration:underline;
	color:#00f;
}
.form-group{
	margin-bottom:.8em;
}
.btn-default{
	padding:6px 12px !important;
	border-radius:4px;
	cursor: pointer;
}
.btn-default:disabled{
	background:#eee !important;
}
.loading{
	padding-right:35px;
	background:url(../images/loading.gif) top right/30px 30px no-repeat;
	height:30px;
	line-height:30px;
	display:inline-block;
}
#import-msg{
	border-top:solid 1px #eee;
	padding:12px 0;
	margin-top:2em;
}
#import-msg ul{
	/*padding-left:2em;*/
}
#import-msg ul li{
	display:block;
	height:3em;
	line-height:3em;
	margin-bottom:2px;
	padding-left:1.5em;
}
#import-msg ul li.error{
	background:#f2dede;
}
#import-msg ul li.warning{
	background:#fcf8e3;
}
#import-msg ul li.msg{
	background:#dff0d8;
}

#loading{
	width:4%;
	display:none;
	z-index:111111;
	position:fixed;
	top:200px;
	left:48%;
}
#loading img{
	width:100%;
}

.treeview .list-group-item {
	cursor: pointer;
}

.treeview span.indent {
	margin-left: 10px;
	margin-right: 10px;
}
.treeview span.icon {
	width: 12px;
	margin-right: 5px;
}

.treeview .node-disabled {
	color: silver;
	cursor: not-allowed;
}
.form-default{
    margin-top: 4em;
    max-width: 500px
}