<div class="page-header">
    <h2>添加成交机会</h2>
</div>

<form class="form-horizontal form-default" id="form-add-turnover" action="/turnover/doOpt" method="post" onsubmit="return false;">

    <div class="form-group">
        <label for="cs_name" class="col-sm-2 control-label"><i class="asterisk">*</i>名称</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="cs_name" name="cs_name" value="<{$chances.cs_name}>" required>
        </div>
    </div>

    <div class="form-group">
        <label for="cs_isShow" class="col-sm-2 control-label">是否显示</label>
        <div class="col-sm-10">
            <label class="radio-inline"><input type="radio" name="cs_isShow" class="cs_isShow" value="1" <{eq name="$chances.cs_isShow" value="1"}>checked<{/eq}>>是</label>
            <label class="radio-inline"><input type="radio" name="cs_isShow" class="cs_isShow" value="2" <{eq name="$chances.cs_isShow" value="2"}>checked<{/eq}>>否</label>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-default" id="btn-add-turnover">确认</button>
        </div>
    </div>
    <input type="hidden" class="form-control" id="cs_id" name="cs_id" value="<{$cs_id}>">
</form>

<script>
    (function($){
        if($("#cs_id").val() == ""){
            $(".cs_isShow:eq(0)").prop("checked", true);
        }
        var form = $("#form-add-turnover");
        $("#btn-add-turnover").click(function(){
            $("#form-add-turnover").validate({
                'submitHandler':function(){
                    $.ajax({
                        'url':form.attr("action"),
                        'method':'POST',
                        'dataType':'json',
                        'data': form.serialize(),
                        'success':function(res){
                            custom.alert(res.message)
                            if( res.status == 1 ) {
                                //historyBack();
                                form[0].reset();
                            }
                        }
                    });
                }
            });
        });
    })(jQuery);
</script>