<nav aria-label="Page navigation" class="clearfix">
    <{$lists->render()}>
    <{include file="common/setpagelimit" /}>
</nav>

<div class="search-result">
    <table cellspacing="0" class="list table">
        <thead>
        <tr>
            <th style="min-width: 50px;text-align:center;padding-right:4px;">
                <input type="checkbox" class="checkAll" value="all"/>
            </th>
            <th>
                <a href="/contract/all/sort/c_no/order/<{:getSortOrder($sort,'c_no')}>">
                    合同号<i class="<{:getSortClass($sort,'c_no')}>"></i>
                </a>
            </th>
            <th>
                <a href="/contract/all/sort/c_name/order/<{:getSortOrder($sort,'c_name')}>">
                    合同名称<i class="<{:getSortClass($sort,'c_name')}>"></i>
                </a>
            </th>
            <th>
                <a href="/contract/all/sort/c_mname/order/<{:getSortOrder($sort,'c_mname')}>">
                    责任人<i class="<{:getSortClass($sort,'c_mname')}>"></i>
                </a>
            </th>
            <th width="200">
                <a href="/contract/all/sort/c_coname/order/<{:getSortOrder($sort,'c_coname')}>">
                    对方名称<i class="<{:getSortClass($sort,'c_coname')}>"></i>
                </a>
            </th>
            <th>
                <a href="/contract/all/sort/c_type/order/<{:getSortOrder($sort,'c_type')}>">
                    合同类型<i class="<{:getSortClass($sort,'c_type')}>"></i>
                </a>
            </th>
            <th class="date">
                <a href="/contract/all/sort/c_date/order/<{:getSortOrder($sort,'c_date')}>">
                    签约日期<i class="<{:getSortClass($sort,'c_date')}>"></i>
                </a>
            </th>
            <th>
                <a href="/contract/all/sort/c_accdate/order/<{:getSortOrder($sort,'c_accdate')}>">
                    记账月<i class="<{:getSortClass($sort,'c_accdate')}>"></i>
                </a>
            </th>
            <th class="money">
                <a href="/contract/all/sort/c_money/order/<{:getSortOrder($sort,'c_money')}>">
                    合同总金额<i class="<{:getSortClass($sort,'c_money')}>"></i>
                </a>
            </th>
            <th class="money">
                <a href="/contract/all/sort/c_noused/order/<{:getSortOrder($sort,'c_noused')}>">
                    未对应订单金额<i class="<{:getSortClass($sort,'c_noused')}>"></i>
                </a>
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <{volist name="lists" id="val" empty="<tr><td colspan='11'>暂无数据</td></tr>"}>
        <tr>
            <td><input type="checkbox" value="<{$val.c_id}>" class="lists-id" data-name="<{$val.c_no}>"></td>
            <td class="nowrap">
                <a href="/contract/statistics/id/<{$val.c_id}>" class="link-statistics" title="合同执行情况"><i class="fa fa-windows"></i></a>
                <a href="/contract/detail?id=<{$val.c_id}>"><{$val.c_no}></a>
            </td>
            <td><{$val.c_name}></td>
            <td><{$val.c_mname}></td>
            <td><{$val.c_coname}></td>
            <td style="color:<{if $val['c_type']==1}>green<{elseif $val['c_type']==2}>#c00<{else}>#000<{/if}>"><?php echo getTypeList($val['c_type']);?></td>
            <td><?php echo date("Y-m-d", $val['c_date']); ?></td>
            <td><{$val.c_accdate}></td>
            <td class="money"><{$val.c_money|number_format=2}></td>
            <td class="money"><{$val.c_noused|number_format=2}></td>
            <td><a href="/circulation/list/type/contract/id/<{$val.c_id}>">传阅列表</a></td>
        </tr>
        <{/volist}>
        </tbody>
    </table>
</div>
<nav aria-label="Page navigation" class="clearfix">
    <{$lists->render()}>
    <{include file="common/setpagelimit" /}>
</nav>

<{load href="/static/js/all.js"}>
