<{load href="/static/css/select.min.css,/static/css/budget.css,/static/css/jquery.contextMenu.css"/}>
<div class="page-header">
    <h2>预算管理.预算表</h2>
</div>

<form class="form-horizontal form-default form-add" id="form-testT-add" action="/budget/addTable" method="post"
      style="max-width: 800px;" onsubmit="javascript:return false;">
    <div class="form-group">
        <label class="col-sm-2 control-label">表名称</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="title" name="title" value="<{$table.title}>"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">选择模板</label>
        <div class="col-sm-10">
            <select id="tid"<{if empty($tableID)}> name="tid"<{/if}> class="form-control" <{if !empty($tableID)}>disabled<{/if}>>
            <option value="0">请选择</option>
            <{foreach $lists as $val}>
            <option value="<{$val['t_id']}>" data="<{$val['t_title']}>" <{if $val['t_id'] == $table.tid}>selected<{/if}>><{$val['t_title']}>(<{$val['t_row']}>*<{$val['t_col']}>)</option>
            <{/foreach}>
            </select>
            <{if !empty($tableID)}>
            <input type="hidden" name="tid" value="<{$table.tid}>">
            <{/if}>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">责任部门</label>
        <div class="col-sm-10">
            <select id="did" name="did" class="form-control">
                <option value="0">请选择</option>
                <{foreach $departments as $val}>
                <option value="<{$val['d_id']}>" data="<{$val['d_name']}>" <{if $val['d_id'] == $table.did}>selected<{/if}>><{$val['d_name']}>(<{$val['d_code']}>)</option>
                <{/foreach}>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">表状态</label>
        <div class="col-sm-10">
            <select id="status" name="status" class="form-control">
                <option value="0"
                <{if "0" == $table.status}>selected<{/if}>>开放</option>
                <option value="1"
                <{if "1" == $table.status}>selected<{/if}>>锁定(关闭写权限)</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-default" type="submit">确认</button>
        </div>
    </div>
    <div class="form-group" style="margin-top: 30px;">
        <label class="col-sm-2 control-label">已设置权限</label>
        <div class="col-sm-2" style="position: absolute;margin-left: 121px;margin-top: -26px;">
            <div class="blockColor read">读</div>
            <div class="blockColor both">读/写</div>
        </div>
        <div class="col-sm-10 pcrLists" style="border: none;">

        </div>
    </div>
    <div id="table" contextmenu="html5polyfill" style="margin-left: 15%;width: 100%">
    </div>
    <input type="hidden" id="pcr" name="pcr" value="">
    <input type="hidden" id="t_title" name="t_title" value="<{$table.t_title}>">
    <input type="hidden" id="dname" name="dname" value="<{$table.dname}>">
    <input type="hidden" id="id" name="id" value="<{$tableID}>">
</form>
<input type="hidden" id="t_row" value=""/>
<input type="hidden" id="t_col" value=""/>
<menu id="html5polyfill" type="context" style="display:none">
    <command label="设置权限" onclick="permissions()">
</menu>
<div class="showTips"></div>
<div class="permissionDiv">
    <div class="closeDiv"><i class="fa fa-times close pcd"></i></div>
    <div>
        <span style="font-weight: bold;">请设置权限人：</span>
        <select multiple id="permissions" style="width: 300px;">
            <{volist name="memberList" id="ml"}>
            <option value="<{$ml.m_id}>" data="<{$ml.m_department}>-<{$ml.m_name}>">
                <{$ml.m_department}>-<{$ml.m_name}>
            </option>
            <{/volist}>
        </select>
        <select id="rw">
            <option value="1">读</option>
            <option value="3">读/写</option>
        </select>
    </div>
    <p style="padding-top: 10px;padding-right: 35px;text-align: right;">
        <button class="submitPermissions">确认</button>
        <button class="red pcd">取消</button>
    </p>
</div>
<{load href="/static/js/plugin/select/select.min.js,/static/js/jquery-ui.custom.js,/static/js/budget.js,/static/js/plugin/menu/jquery.ui.position.min.js,/static/js/plugin/menu/jquery.contextMenu.min.js"/}>
<script>
    var settingTable = "", rclickTD = "", tpcr =<{$tpcr}>,first = true,noreadOnly=false,type="table";
    $(document).ready(function () {
        $("#permissions").select2();
        $("#rw").select2();
        $.contextMenu('html5');
        $("#tid").change(function () {
            var val = $(this).val();
            if (val != "0") {
                loading.show();
                $.ajax({
                    url: "/budget/getTemplateTable?tid=" + val + "&tableID=<{$tableID}>",
                    dataType: "json",
                    method: "post",
                    success: function (data) {
                        loading.hide();
                        $("#t_row").val(data.message.t_row), $("#t_col").val(data.message.t_col);
                        var t = JSON.parse(data.message.cols);
                        setTable(data.message.t_row, data.message.t_col, t);
                        funChange();
                        if ((tpcr.read != undefined || tpcr.other != undefined) && first) {
                            for (var i in tpcr){
                                var v = i == "read" ? 1 : 3;
                                $("#rw option").prop("selected", false);
                                $(tpcr[i]).each(function (i, e) {
                                    $(".cbTool[cid='" + e.cid + "']").prop("checked", true);
                                    $("#permissions option[value='" + e.mid + "']").prop("selected", true);
                                });
                                $("#rw option[value='" + v + "']").prop("selected", true);
                                $(".submitPermissions").click();
                                $("#permissions option").prop("selected", false);
                                $("#rw option").prop("selected", false);
                            }
                        }
                        first = false;
                        $(".stcol").prop("readonly", true);
                    }
                });
                $("#t_title").val($(this).find("option:selected").attr("data"));
            } else {
                $("#t_title").val("");
                $("table").html("");
                settingTable = "";
                rclickTD = "";
            }
        });
        $("#tid").change();
        $("#did").change(function () {
            var val = $(this).val();
            if (val != "0") {
                $("#dname").val($(this).find("option:selected").attr("data"));
            } else {
                $("#dname").val("");
            }
        });
        $("#did").change();
        $("#form-testT-add").submit(function () {
            var data = $(this).serialize(), url = $(this).attr("action");
            loading.show();
            $.ajax({
                url: url,
                data: data,
                dataType: "json",
                method: "post",
                success: function (data) {
                    loading.hide();
                    custom.alert(data.message);
                    if (data.status == true) {
                        window.setTimeout("location.reload()", 800);
                    }
                }
            });
        });
    });
</script>