<div class="clearfix header">

    <h2>发票管理.发票列表</h2>

    <div class="link-pannel">
        <ul>
            <li>
                <a href="#"><i class="fa fa-file-excel-o"></i>导出</a>
            </li>
            <li>
                <a href="<{:url("/invoice/searchInvoiceNoList")}>" target="_blank" id="searchList" stype="<{$stype}>"><i class="fa fa-filter"></i>筛选</a>
            </li>
            <li>
                <a href="/circulation/add/type/invoice" id="btn-circulation" target="_blank" onclick="return false;"><i class="fa fa-users"></i>传阅<i class="fa fa-sort-desc"></i></a>
            </li>
            <!--li>
                <a href="#"><i class="fa fa-tags"></i>标签<i class="fa fa-sort-desc"></i></a>
            </li-->
            <li>
                <a href="/invoice/del" id="lists-delete" target="_blank" onclick="return false;"><i class="fa fa-trash"></i>删除</a>
            </li>
            <!--li>
                <a href="/project/add"><i class="fa fa-file-text-o"></i>新建</a>
            </li-->
        </ul>
    </div>
</div>
<div class="main-pannel" id="main-pannel">
    <nav aria-label="Page navigation">
        <{$lists->render()}>
    </nav>
    <table class="list" cellspacing="0">
        <thead>
        <tr>
            <th style="min-width: 50px;text-align:center;padding-right:4px;"><input type="checkbox" id="lists-all-checked" value="all"/></th>
            <th>发票号</th>
            <th>责任人</th>
            <th width="250">描述</th>
            <th>类型</th>
            <th>对方公司</th>
            <th class="money">总金额</th>
            <th class="money">已使用金额</th>
            <th class="money">未使用金额</th>
            <th class="date">验收时间</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <{volist name="lists" id="vo" empty="<tr><td colspan='11'></td></tr>"}>
        <tr>
            <td><input type="checkbox" value="<{$vo.i_id}>" class="lists-id"></td>
            <td><a href="/invoice/detail?id=<{$vo.i_id}>"><{$vo.i_no}></a></td>
            <td><{$vo.i_mname}></td>
            <td><{$vo.i_content}></td>
            <td><{if $vo.i_type==1}>销售<{else}>采销<{/if}></td>
            <td><{$vo.i_coname}></td>
            <td class="money"><{$vo.i_money|number_format=2}></td>
            <td class="money"><{$vo.i_used|number_format=2}></td>
            <td class="money"><{$vo.i_noused|number_format=2}></td>
            <td><{$vo.i_date|date="Y-m-d",###}></td>
            <td><a href="/circulation/list/type/invoice/id/<{$vo.i_id}>">传阅列表</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/invoice/detail?id=<{$vo.i_id}>">查看</a></td>
        </tr>
        <{/volist}>
        </tbody>
    </table>
    <nav aria-label="Page navigation">
    <{$lists->render()}>
    </nav>
</div>
<{load href="/static/js/plugin/select/select.min.js,/static/js/lists.js,/static/css/select.min.css"}>