<form action="/invoice/update" method="post" onsubmit="return false" id="form-update">
    <div class="clearfix header">
        <h2>验收单管理.数据查看</h2>
        <div class="btn-pannel">
            <button type="submit" class="btn">保存</button>
            <button type="button" href="#invoice/all" class="btn red">取消</button>
        </div>
        <div class="link-pannel">
            <ul>
                <li>
                    <a href="#"><i class="fa fa-calendar-check-o"></i>日志</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-pencil"></i>批注</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-share-square-o"></i>分享</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-star"></i>收藏</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-pannel">
        <h3>基本信息</h3>
        <div class="content">
            <table>
                <tr>
                    <td width="64">验收单号:</td>
                    <td><input type="text" name="no" value="<{$data.i_no}>" class="no-border" readonly/><input type="hidden" name="id" value="<{$data.i_id}>"/> </td>
                    <td style="padding-left:20px;width:84px;">验收日期:</td>
                    <td><input type="text" name="date" value="<{$data.i_date|date='Y-m-d',###}>" name="date"/></td>
                    <td style="padding-left:20px;width:84px">总金额:</td>
                    <td><input type="text" value="<{$data.i_money}>" name="money"<{if $orders}> class="no-border" readonly<{/if}>/></td>
                </tr>
                <tr>
                    <td>销售/采销:</td>
                    <td>
                        <select name="type">
                            <option value="1"<{if $data.i_type == 1}> selected<{/if}>>销售</option>
                            <option value="2"<{if $data.i_type == 2}> selected<{/if}>>采销</option>
                        </select>
                    </td>
                    <td style="padding-left:20px;">对方名称:</td>
                    <td>
                        <input type="text" value="<{$data.i_coname}>" name="coname" id="ipt-company-name" readonly/>
                        <input type="hidden" name="coid" value="<{$data.i_coid}>" id="ipt-company-id">
                    </td>
                    <td style="padding-left:20px;">责任人:</td>
                    <td>
                        <input type="text" value="<{$data.i_mname}>" name="mname" class="no-border" readonly/>
                        <input type="hidden" value="<{$data.i_mid}>" name="mid"/>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="main-pannel">
        <h3>已对应订单情况</h3>
        <div class="content">
            <table class="table2">
                <tr>
                    <!--td style="width: 2em;"></td-->
                    <td>已对应订单金额:</td>
                    <td><input type="text" name="used" value="<{$data.i_used}>" class="no-border" readonly/></td>
                    <td>未对应订单金额</td>
                    <td><input type="text" name="noused" value="<{$data.i_noused}>" class="no-border" readonly/></td>
                </tr>
                <tr>
                    <!--th id="btn-add-order"><i class="fa fa-plus-circle"></i></th-->
                    <th>订单号</th>
                    <th>订单金额</th>
                    <th>对应金额</th>
                    <th>订单主题</th>
                    <th>对方名称</th>
                    <th>责任人</th>
                    <th>项目名称</th>
                </tr>
                <{volist name="orders" id="order" empty="<tr><td colspan='8' style='text-align: center'>暂无数据</td></tr>"}>
                <tr>
                    <!--td><i class="fa fa-minus-circle"></i><input type="hidden" name="oids[]" value="<{$order.o_id}>"</td-->
                    <td><a href="/orders/operation?op=edit&op_id=<{$order.o_id}>"><{$order.o_no}></a></td>
                    <td><{$order.o_money}></td>
                    <td><{$order.ou_used}><input type="hidden" name="oused[]" value="<{$order.ou_used}>"</td>
                    <td><{$order.o_subject}></td>
                    <td><{$order.o_coname}></td>
                    <td><{$order.o_mname}></td>
                    <td><{$order.o_pname}></td>
                </tr>
                <{/volist}>
            </table>
        </div>
    </div>
</form>
<{load file="/static/js/update.js"}}>