<nav aria-label="Page navigation">
    <{$lists->render()}>
</nav>
<table class="list table" cellspacing="0">
    <thead>
    <tr>
        <{if condition="(isset($hideSelected)) AND ($hideSelected == false)"}>
        <th style="text-align: center;padding-right: 4px;"><input type="checkbox" class="checkAll"></th>
        <{else/}>
        <th style="width:1em;"></th>
        <{/if}>
        <{if $type == 'contract'}>
        <th style="width: 4em">内/外</th>
        <{else/}>
        <th style="width: 4em">状态</th>
        <{/if}>
        <th>
            <a href="<{$formUrl}>/sort/o_no/order/<{:getSortOrder($sort,'o_no')}>">
                订单号<i class="<{:getSortClass($sort,'o_no')}>"></i>
            </a>
        </th>
        <th>
            <a href="<{$formUrl}>/sort/o_pname/order/<{:getSortOrder($sort,'o_pname')}>">
                项目名称<i class="<{:getSortClass($sort,'o_pname')}>"></i>
            </a>
        </th>
        <th>
            <a href="<{$formUrl}>/sort/o_subject/order/<{:getSortOrder($sort,'o_subject')}>">
                订单标题<i class="<{:getSortClass($sort,'o_subject')}>"></i>
            </a>
        </th>
        <th>
            <a href="<{$formUrl}>/sort/o_type/order/<{:getSortOrder($sort,'o_type')}>">
                收支<i class="<{:getSortClass($sort,'o_type')}>"></i>
            </a>
        </th>
        <th>
            <a href="<{$formUrl}>/sort/o_coname/order/<{:getSortOrder($sort,'o_coname')}>">
                对方名称<i class="<{:getSortClass($sort,'o_coname')}>"></i>
            </a>
        </th>
        <th>
            <a href="<{$formUrl}>/sort/o_mname/order/<{:getSortOrder($sort,'o_mname')}>">
                责任人<i class="<{:getSortClass($sort,'o_mname')}>"></i>
            </a>
        </th>
        <th class="date">
            <a href="<{$formUrl}>/sort/o_date/order/<{:getSortOrder($sort,'o_date')}>">
                发生日期<i class="<{:getSortClass($sort,'o_date')}>"></i>
            </a>
        </th>
        <th class="datetime">
            <a href="<{$formUrl}>/sort/o_createtime/order/<{:getSortOrder($sort,'o_createtime')}>">
                订单创建日期<i class="<{:getSortClass($sort,'o_createtime')}>"></i>
            </a>
        </th>
        <th class="money">
            <a href="<{$formUrl}>/sort/o_money/order/<{:getSortOrder($sort,'o_money')}>">
                发生金额<i class="<{:getSortClass($sort,'o_money')}>"></i>
            </a>
        </th>
        <th style="width: 40px;">操作</th>
    </tr>
    </thead>
    <tbody>
    <{volist name="lists" id="vo" empty="<td colspan='11'>暂无数据</td>"}>
    <tr>
        <{if condition="(isset($hideSelected)) AND ($hideSelected == false)"}>
        <td><input type="checkbox" value="<{$vo.o_id}>" class="lists-id" data-name="<{$vo.o_no}>"></td>
        <{else/}>
        <td></td>
        <{/if}>
        <{if $type == 'contract'}>
        <td><{if $vo.o_lie == 2}>内部<{else/}>外部<{/if}></td>
        <{else/}>
        <td><?php echo getStatusList($vo['o_status']);?></td>
        <{/if}>
        <td class="nowrap"><a href="#orders/operation?op=edit&op_id=<{$vo.o_id}>" style="color:blue;"><{$vo.o_no}></a></td>
        <td><{$vo.o_pname}></td>
        <td><{$vo.o_subject}></td>
        <td><?php echo getTypeList($vo['o_type']);?></td>
        <td><{$vo.o_coname}></td>
        <td><{$vo.o_mname}></td>
        <td class="date"><?php echo date("Y-m-d", $vo['o_date']);?></td>
        <td><{$vo.o_createtime|date='Y-m-d H:i:s',###}></td>
        <td class="money"><{$vo.o_money|number_format=2}></td>
        <td><a href="<{:url("/orders/delete/opID/".$vo['o_id'])}>" target="_blank" class="deleteOrders" style="color: blue;">删除</a></td>
    </tr>
    <{/volist}>
    </tbody>
</table>
<nav aria-label="Page navigation">
    <{$lists->render()}>
</nav>
<{load file='/static/js/all.js'}>