<div class="clearfix header">

    <h2>验收单管理.验收单列表</h2>

    <div class="link-pannel">
        <ul>
            <li>
                <a href="<{:url('/acceptance/export')}>" target="_blank" id="link-export" data-type="acceptance" data-list-type="3"><i class="fa fa-file-excel-o"></i>导出</a>
            </li>
            <!--li>
                <a href="<{:url("/acceptance/searchAcceptanceNoList")}>" target="_blank" id="searchList" stype="<{$stype}>"><i class="fa fa-filter"></i>筛选</a>
            </li-->
            <li>
                <a href="/circulation/add/type/acceptance" id="btn-circulation" target="_blank" onclick="return false;"><i class="fa fa-users"></i>传阅<i class="fa fa-sort-desc"></i></a>
            </li>
            <!--li>
                <a href="#"><i class="fa fa-tags"></i>标签<i class="fa fa-sort-desc"></i></a>
            </li-->
            <li>
                <a href="/acceptance/del" id="lists-delete" target="_blank" onclick="return false;"><i class="fa fa-trash"></i>删除</a>
            </li>
            <!--li>
                <a href="/project/add"><i class="fa fa-file-text-o"></i>新建</a>
            </li-->
        </ul>
    </div>
</div>
<div class="search-panel">
    <{include file="common/allfilter"}>
</div>
<div class="main-pannel all-page" id="main-pannel">
    <{include file="acceptance/list/2"}>
</div>
<{load href="/static/js/plugin/select/select.min.js,/static/js/lists.js,/static/css/select.min.css"}>