<form action="/acceptance/update" method="post" onsubmit="return false" id="form-update">
    <div class="clearfix header">
        <h2>验收单管理.数据查看</h2>
        <div class="btn-pannel">
            <button type="button" href="#contract/all" class="btn red">取消</button>
            <button type="submit" class="btn" disabled>保存</button>
        </div>
    </div>
    <div class="main-pannel">
        <h3>基本信息</h3>
        <div class="content">
            <table class="detail">
                <tr>
                    <td><label for="ipt-no">验收单号:</label></td>
                    <td><input type="text" name="no" value="<{$data.a_no}>" class="input-sm" id="ipt-no" readonly disabled/><input type="hidden" name="id" value="<{$data.a_id}>"/> </td>
                    <td><label for="ipt-subject">主题:</label></td>
                    <td colspan="3"><input type="text" class="input-sm" id="ipt-subject" name="subject" value="<{$data.a_subject}>" readonly disabled></td>
                    <td><label for="ipt-mname">责任人:</label></td>
                    <td>
                        <{$data.a_mname}>
                        <input type="hidden" name="mname" value="<{$data.a_mname}>"/>
                        <input type="hidden" value="<{$data.a_mid}>" name="mid"/>
                    </td>
                </tr>
                <tr>
                    <td><label for="sel-type">销售/采销:</label></td>
                    <td>
                        <select name="type" id="sel-type" class="input-sm" disabled>
                            <option value="1"<{if $data.a_type == 1}> selected<{/if}>><{:getTypeList2(1)}></option>
                            <option value="2"<{if $data.a_type == 2}> selected<{/if}>><{:getTypeList2(2)}></option>
                        </select>
                    </td>
                    <td><label for="ipt-date">验收日期:</label></td>
                    <td><input type="text" value="<{$data.a_date|date='Y-m-d',###}>"  readonly class="input-sm" id="ipt-date" disabled/></td>
                    <td><label for="ipt-accdate">记账月:</label></td>
                    <td><input type="text" value="<{$data.a_accdate}>" readonly class="input-sm" id="ipt-accdate" disabled/></td>
                    <td><label for="ipt-money">总金额:</label></td>
                    <td><input type="text" value="<{$data.a_money}>" name="money" id="ipt-money" class="input-sm" readonly disabled/></td>
                </tr>
                <tr>
                    <td><label for="ipt-coname">对方名称:</label></td>
                    <td colspan="5">
                        <input type="text" value="<{$data.a_coname}>" name="coname" id="ipt-coname" readonly class="input-sm" disabled/>
                        <input type="hidden" name="coid" value="<{$data.a_coid}>" id="ipt-company-id">
                    </td>
                </tr>
                <tr>
                    <td><label for="txtContent">摘要:</label></td>
                    <td colspan="5"><textarea class="form-control" name="content" id="txtContent" disabled><{$data.a_content}></textarea></td>
                </tr>
                <tr>
                    <td><label>附件:</label></td>
                    <td colspan="5">
                        <{if $data.a_attachment}>
                            <img src="<{$data.a_attachment}>" width="240" data-action="zoom"/>
                        <{/if}>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="main-pannel">
        <h3>已对应订单情况</h3>
        <div class="content">
            <table class="table2 table">
                <tr>
                    <!--td style="width: 2em;"></td-->
                    <td>已对应订单金额:</td>
                    <td><input type="text" name="used" value="<{$data.a_used}>" class="no-border" readonly/></td>
                    <td>未对应订单金额</td>
                    <td><input type="text" name="noused" value="<{$data.a_noused}>" class="no-border" readonly/></td>
                </tr>
                <tr>
                    <!--th id="btn-add-order"><i class="fa fa-plus-circle"></i></th-->
                    <th>订单号</th>
                    <th>订单金额</th>
                    <th>对应金额</th>
                    <th>订单主题</th>
                    <th>对方名称</th>
                    <th>责任人</th>
                    <th>项目名称</th>
                </tr>
                <{volist name="orders" id="order" empty="<tr><td colspan='8' style='text-align: center'>暂无数据</td></tr>"}>
                <tr>
                    <!--td><i class="fa fa-minus-circle"></i><input type="hidden" name="oids[]" value="<{$order.o_id}>"</td-->
                    <td><a href="/orders/operation?op=edit&op_id=<{$order.o_id}>"><{$order.o_no}></a></td>
                    <td><{$order.o_money}></td>
                    <td><{$order.ou_used}><input type="hidden" name="oused[]" value="<{$order.ou_used}>"</td>
                    <td><{$order.o_subject}></td>
                    <td><{$order.o_coname}></td>
                    <td><{$order.o_mname}></td>
                    <td><{$order.o_pname}></td>
                </tr>
                <{/volist}>
            </table>
        </div>
    </div>
</form>
<{load file="/static/js/update.js"}>