<{if (!isset($listType)) OR empty($listType) }>
<{assign name="listType" value="1"}>
<{/if}>
<div class="search-result">
    <nav aria-label="Page navigation">
        <{$lists->render()}>
    </nav>
    <table cellspacing="0" class="list">
        <thead>
        <tr>
            <th style="width: 50px;text-align:center;padding-right:4px;">
                <{if $listType == 2}>
                <input type="checkbox" id="lists-all-checked" value="all"/>
                <{/if}>
            </th>
            <th>验收单号</th>
            <th>对方名称</th>
            <th class="date">验收日期</th>
            <th class="money">验收金额 </th>
            <th class="money">未对应订单金额</th>
            <{if $listType==2}>
            <th></th>
            <{/if}>
        </tr>
        </thead>
        <tbody>
        <{volist name="lists" id="val" empty="$empty"}>
        <?php
            $json = array(
                "id"=>$val['a_id'],
                "coname"=>$val['a_coname'],
                "money"=>$val['a_money'],
                "noused"=>$val['a_noused'],
                "date"=>date("Y-m-d", $val['a_date']),
                );
        ?>
        <tr <{if !empty($fi)}>style="<{$val['a_noused']=="0.00"?"background-color: red":"background-color: green"}>;color: white;border-bottom: 1px solid white;"<{/if}>>
        <{if $listType == 2}>
            <td><input type="checkbox" value="<{$val.a_id}>" class="lists-id"></td>
            <td><a href="/acceptance/detail?id=<{$val.a_id}>"><{$val.a_no}></a></td>
        <{else}>
            <td><input type="radio" <{if !empty($fi)}><{$val['a_noused']=="0.00"?"disabled":""}><{/if}>  class="selectRadio" name="selectRadio" value="<{$val.a_id}>" data="<{$val.a_no}>" json="<?php echo urlencode(json_encode($json)); ?>" /></td>
            <td><{$val.a_no}></td>
        <{/if}>
            <td><{$val.a_coname}></td>
            <td><?php echo date("Y-m-d", $val['a_date']); ?></td>
            <td class="money"><{$val.a_money|number_format=2}></td>
            <td class="money"><{$val.a_noused|number_format=2}></td>
        <{if $listType == 2}>
            <td><a href="/circulation/list/type/acceptance/id/<{$val.a_id}>">传阅列表</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/acceptance/detail?id=<{$val.a_id}>">查看</a></td>
        <{/if}>
        </tr>
        <{/volist}>
        </tbody>
    </table>
    <nav aria-label="Page navigation">
        <{$lists->render()}>
    </nav>
</div>
<script>
    (function($){
        $("#lists-all-checked").unbind("click");
        $("#lists-all-checked").click(function () {
            var _this = $(this);
            $(".lists-id").prop("checked", _this.prop("checked"));
        });
    })(jQuery);
</script>