<{load href="/static/js/jquery-ui.custom.js,/static/fancytree/jquery.fancytree.min.js,/static/fancytree/jquery.fancytree-all.min.js,/static/fancytree/skin-win8/ui.fancytree.min.css"}>
<{load href="/static/js/menu.js"}>
<div class="page-header">
  <h2>所有菜单</h2>
</div>
  <table id="tree">
        <colgroup>
        <col width="300px">
        <col width="20px">
        <col width="80px">
        <col width="150px">
        <col width="50px">
        <col width="100px">
        </colgroup>
        <thead class="alignCenter">
            <tr>
            	<th>菜单</th>
            	<th>排序</th>
            	<th>名称</th> 
            	<th>URL</th> 
            	<th>是否显示</th>
            	<th>操作</th>
            </tr>
        </thead>
        <tbody>
            <!-- Define a row template for all invariant markup: -->
            <tr>
                <td></td>
                <td><input name="list_order" type="input"/></td>
                <td><input name="name" type="input" onchange="Menu.changeName(this);"></td>
                <td><input name="url" type="input"></td>
                <td class="alignCenter"><input name="is_show" type="checkbox" value="1" /></td>
                <td class="alignCenter">					 
                </td>
            </tr>
        </tbody>
    </table>
<script type="text/javascript">
var CLIPBOARD = null;

SOURCE = <{$source}>;


$(function(){

	$("#tree").fancytree({
		titlesTabbable: true,     // Add all node titles to TAB chain
		quicksearch: true,        // Jump to nodes when pressing first character
		source: SOURCE,
		//source: { url: "ajax-tree-products.json"},

		extensions: ["edit", "dnd", "table", "gridnav"],

		dnd: {
			preventVoidMoves: true,
			preventRecursiveMoves: true,
			autoExpandMS: 400,
			dragStart: function(node, data) {
				return true;
			},
			dragEnter: function(node, data) {
				// return ["before", "after"];
				return true;
			},
			dragDrop: function(node, data) {
				data.otherNode.moveTo(node, data.hitMode);
			}
		},
		edit: {
			triggerStart: ["f2", "shift+click", "mac+enter"],
			close: function(event, data) {
				if( data.save && data.isNew ){
					// Quick-enter: add new nodes until we hit [enter] on an empty title
					$("#tree").trigger("nodeCommand", {cmd: "addSibling"});
				}
			}
		},
		table: {
			indentation: 20,
			//nodeColumnIdx: 2,
			//checkboxColumnIdx: 0
		},
		gridnav: {
			autofocusInput: false,
			handleCursorKeys: true
		},
        createNode: function(event, data) {
            var node = data.node,
                $tdList = $(node.tr).find(">td");
            
            var lastTd = $(node.tr).find(">td:last-child");  

            // Span the remaining columns if it's a folder.
            // We can do this in createNode instead of renderColumns, because
            // the `isFolder` status is unlikely to change later
            if( node.isFolder() ) {
                $tdList.find("input[name='url']").parent().css("background","#fcf8e3").find("input").remove();
                lastTd.append("<a href='#menu/add' data-id='"+node.data.id+"' style='color:#0070c0' onclick='return Menu.add(this);'>添加子菜单</a>&nbsp;|&nbsp;");
            }
            
            lastTd.append("<a href='javascript:;' class='action-save' data-id='"+node.data.id+"' style='color:#0070C0' onclick='Menu.update(this)'>保存</a>&nbsp;|&nbsp;");
            lastTd.append("<a href='javascript:;' class='action-delete' data-id='"+node.data.id+"' style='color:#0070C0' onclick='Menu.remove(this)'>删除</a>");
          
        },		
		renderColumns: function(event, data) {
			var node = data.node,
				$tdList = $(node.tr).find(">td");

			// (Index #0 is rendered by fancytree by adding the checkbox)
			// Set column #1 info from node data:
			//$tdList.eq(1).text(node.getIndexHier());
			// (Index #2 is rendered by fancytree)
			// Set column #3 info from node data:
			$tdList.find("input[name='name']").val(node.data.name);
			$tdList.find("input[name='list_order']").val(node.data.list_order);
			$tdList.find("input[name='url']").val(node.data.url);
			if( node.data.is_show == 1 ){
				$tdList.find("input[name='is_show']").attr("checked","checked");	
			}

			// Static markup (more efficiently defined as html row template):
			// $tdList.eq(3).html("<input type='input' value='" + "" + "'>");
			// ...
		}
	});

});
</script>

