<div class="clearfix header">

    <h2>公司管理.<{$titleName}>列表</h2>

    <div class="link-pannel">
        <ul>
            <li>
                <a href="<{:url('/company/export/type/'.$type)}>" target="_blank" id="link-export" data-type="company" data-list-type="<{if $type==1}>3<{else}>4<{/if}>"><i class="fa fa-file-excel-o"></i>导出</a>
            </li>
            <li>
                <a href="/circulation/add/type/company" id="btn-circulation" target="_blank" onclick="return false;"><i class="fa fa-users"></i>传阅<i class="fa fa-sort-desc"></i></a>
            </li>
            <{if $isAdmin}>
            <li>
                <a href="/company/del" id="lists-delete" target="_blank" onclick="return false;"><i class="fa fa-trash"></i>删除</a>
            </li>
            <{/if}>
        </ul>
    </div>
</div>
<div class="search-panel">
    <{include file="common/allfilter"}>
</div>
<div class="main-pannel all-page" id="main-pannel">
    <{include file="company/list/2"}>
</div>
<{load href="/static/js/lists.js"}>