<div class="clearfix header">

    <h2>公司管理.<{$titleName}>列表</h2>

    <div class="link-pannel">
        <ul>
            <li>
                <a href="<{:url('/company/export/type/'.$type)}>" target="_blank" id="link-export" data-type="company" data-list-type="<{if $type==1}>3<{else}>4<{/if}>"><i class="fa fa-file-excel-o"></i>导出</a>
            </li>
            <!--li>
                <a href="<{:url("/company/searchCompanyNoList")}>?c_type=<{$type==1?2:1}>" target="_blank" id="searchList" stype="<{$stype}>"><i class="fa fa-filter"></i>筛选</a>
            </li-->
            <li>
                <a href="/company/add/type/company" id="btn-circulation" target="_blank" onclick="return false;"><i class="fa fa-users"></i>传阅<i class="fa fa-sort-desc"></i></a>
            </li>
            <!--li>
                <a href="#"><i class="fa fa-tags"></i>标签<i class="fa fa-sort-desc"></i></a>
            </li-->
            <li>
                <a href="/company/del" id="lists-delete" target="_blank" onclick="return false;"><i class="fa fa-trash"></i>删除</a>
            </li>
            <!--li>
                <a href="/project/add"><i class="fa fa-file-text-o"></i>新建</a>
            </li-->
        </ul>
    </div>
</div>
<div class="search-panel">
    <{include file="common/allfilter"}>
</div>
<div class="main-pannel" id="main-pannel">
    <{include file="company/all_list" listType="2"}>
</div>
<{load href="/static/js/plugin/select/select.min.js,/static/js/lists.js,/static/css/select.min.css"}>