<form action="/company/update" method="post" onsubmit="return false" id="form-update">
    <div class="clearfix header">
        <h2>公司管理.<{if $data.co_type == 1}>供应商<{else}>客户<{/if}>数据查看</h2>
        <div class="btn-pannel">
            <button type="button" href="#historyBack" class="btn red">取消</button>
            <button type="submit" class="btn">保存</button>
        </div>
    </div>
    <div class="main-pannel">
        <h3>基本信息</h3>
        <div class="content">
            <table class="detail">
                <tr>
                    <td><label>类型:</label></td>
                    <td>
                        <label><input type="radio" name="type" value="1"<{if $data.co_type==1}> checked<{/if}>>&nbsp;&nbsp;供应商</label>
                        <label><input type="radio" name="type" value="2"<{if $data.co_type==2}> checked<{/if}>>&nbsp;&nbsp;客户</label>
                    </td>
                    <td colspan="3">
                        <label>内部供应商/客户:</label>
                    </td>
                    <td>
                        <label><input type="radio" name="internal_flag" value="1"<{if $data.co_internal_flag==1}> checked<{/if}>>&nbsp;&nbsp;是</label>
                        <label><input type="radio" name="internal_flag" value="2"<{if $data.co_internal_flag!=1}> checked<{/if}>>&nbsp;&nbsp;否</label>
                    </td>
                </tr>
                <tr>
                    <td><label for="ipt-code"><i class="asterisk">*</i>编号:</label></td>
                    <td><input class="input-sm" type="text" name="code" id="ipt-code" value="<{$data.co_code}>" required minlength="4" onblur="toUpperCase(this)" onkeyup="toUpperCase(this)"/><input type="hidden" name="id" value="<{$data.co_id}>"/> </td>
                    <td><label for="ipt-name"><i class="asterisk">*</i>名称:</label></td>
                    <td><input class="input-sm" id="ipt-name" type="text" name="name" value="<{$data.co_name}>" required minlength="4"/></td>
                    <td><label for="ipt-remark">简称:</label></td>
                    <td><input id="ipt-remark" class="input-sm" type="text" name="remark" value="<{$data.co_remark}>"/></td>
                    <td><label for="ipt-mnemonic_code">助记码:</label></td>
                    <td><input class="input-sm" id="ipt-mnemonic_code" type="text" value="<{$data.co_mnemonic_code}>" name="mnemonic_code"/></td>
                </tr>
                <tr>
                    <td><label for="ipt-industry">行业:</label></td>
                    <td><input id="ipt-industry" class="input-sm" type="text" name="industry" value="<{$data.co_industry}>"></td>
                    <td><label for="ipt-address">地址:</label></td>
                    <td colspan="5"><input id="ipt-address" class="input-sm" type="text" name="address" value="<{$data.co_address}>"/></td>
                </tr>
                <tr>
                    <td><label for="ipt-tax_id">税务登记号:</label></td>
                    <td><input id="ipt-tax_id" class="input-sm" type="text" name="tax_id" value="<{$data.co_tax_id}>"/> </td>
                    <td><label for="ipt-reg_id">工商注册号:</label></td>
                    <td><input id="ipt-reg_id" class="input-sm" type="text" name="reg_id" value="<{$data.co_reg_id}>"/></td>
                    <td><label for="ipt-lr">法人代表:</label></td>
                    <td><input id="ipt-lr" class="input-sm" type="text" name="lr" value="<{$data.co_lr}>"/></td>
                    <td><label for="ipt-internal_name">集团内名称:</label></td>
                    <td><input id="ipt-internal_name" class="input-sm" type="text" name="internal_name" value="<{$data.co_internal_name}>"/> </td>
                </tr>
                <tr>
                    <td><label for="ipt-create_org">创建组织:</label></td>
                    <td colspan="3"><input id="ipt-create_org" class="input-sm" type="text" name="create_org" value="<{$data.co_create_org}>"></td>
                </tr>
                <tr>
                    <td><label>状态:</label></td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="status" value="1"<{if $data.co_status==1}> checked<{/if}>> 核准
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="status" value="0"<{if $data.co_status!=1}> checked<{/if}>> 禁用
                        </label>
                    </td>
                    <td><label>委外商:</label></td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="flag" value="0"<{if $data.co_flag != 1}> checked<{/if}>> 否
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="flag" value="1"<{if $data.co_flag==1}> checked<{/if}>> 是
                        </label>
                    </td>
                </tr>
                <tr>
                    <td><label for="ipt-bank">开户行:</label></td>
                    <td><input id="ipt-bank" type="text" name="bank" value="<{$data.co_bank}>"/> </td>
                    <td><label for="ipt-bank_card">开户行账号:</label></td>
                    <td><input id="ipt-bank_card" name="bank_card" value="<{$data.co_bank_card}>" /></td>
                </tr>
                <tr>
                    <td><label for="ipt-invoice_type">发票类型:</label></td>
                    <td><input type="text" id="ipt-invoice_type" name="invoice_type" value="<{$data.co_invoice_type}>"></td>
                    <td><label for="ipt-invoice_address">发票邮寄地址:</label></td>
                    <td><input type="text" id="ipt-invoice_address" name="invoice_address" value="<{$data.co_invoice_address}>"></td>
                    <td><label for="ipt-invoice_recipient">发票接收人:</label></td>
                    <td><input type="text" id="ipt-invoice_recipient" name="invoice_recipient" value="<{$data.co_invoice_recipient}>"></td>
                    <td><label for="ipt-invoice_phone">发票接收人电话:</label></td>
                    <td><input type="text" id="ipt-invoice_phone" name="invoice_phone" value="<{$data.co_invoice_phone}>"></td>
                </tr>
            </table>
        </div>
    </div>
</form>
<{load file="/static/js/update.js"}}>