<{if $listType == 2}>
<{include file="company/list/2"}>
<{else}>
<div class="search-result">
    <nav aria-label="Page navigation" style="width: 80%;display: inline-block;">
        <{$lists->render()}>
    </nav>
    <table cellspacing="0" class="list">
        <thead>
        <tr>
            <th style="min-width: 50px;text-align:center;padding-right:4px;"></th>
            <th>编码</th>
            <th>名称</th>
            <th>核准/禁用</th>
            <th>助记码</th>
            <th>行业</th>
            <th>地址</th>
            <th>税务登记号</th>
            <th>工商注册号</th>
            <th>法人代表</th>
            <th>集团内公司名称</th>
            <th class="date">创建时间</th>
            <th style="width: 2em">内部</th>
            <{if $type == 1}>
            <th>委外商</th>
            <{/if}>
        </tr>
        </thead>
        <tbody>
        <{volist name="lists" id="vo" empty="<tr><td colspan='11'>暂无数据</td></tr>"}>
        <tr>
            <td><input type="radio" class="selectRadio" name="selectRadio" value="<{$vo.co_id}>" data="<{$vo.co_name}>" /></td>
            <td><{$vo.co_code}></td>
            <td><{$vo.co_name}></td>
            <td><{if $vo.co_status == 1}><span style="color:green">核准</span><{else}><span style="color:red;">禁用</span><{/if}></td>
            <td><{$vo.co_mnemonic_code}></td>
            <td><{$vo.co_industry}></td>
            <td><{$vo.co_address}></td>
            <td><{$vo.co_tax_id}></td>
            <td><{$vo.co_reg_id}></td>
            <td><{$vo.co_lr}></td>
            <td><{$vo.co_internal_name}></td>
            <td class="date"><{$vo.co_create_time|date='Y-m-d',###}></td>
            <td><{if $vo.co_internal_flag == 1}><span style="color:green;">是</span><{else}><span style="color: #f00;">否</span><{/if}></td>
            <{if $type == 1}>
            <td><{if $vo.co_flag==1}><span style="color:green;">是</span><{else}><span style="color: #f00;">否</span><{/if}></td>
            <{/if}>
        </tr>
        <{/volist}>
        </tbody>
    </table>
    <nav aria-label="Page navigation" style="width: 80%;display: inline-block;">
        <{$lists->render()}>
    </nav>
</div>
<{/if}>