<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>项目收支跟踪管理系统</title>
    <{load href="/static/css/font-awesome.min.css,/static/css/base.css,/static/css/login.css,/static/js/jquery-3.2.1.min.js"}>
</head>
<body class="animated fadeInDown  desktop-detected pace-done">
<div role="main">
    <!-- MAIN CONTENT -->
    <div id="content" class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                <div class="well no-padding">
                    <form id="change-password-form" class="smart-form client-form" method="post">
                        <header>
                            <{if $needOldPwd}>
                            修改密码
                            <{else}>
                            请设置密码
                            <{/if}>
                        </header>
                        <fieldset>
                            <input type="email" name="email" value="<{$email}>" hidden="hidden"/>
                            <{if $needOldPwd}>
                            <section>
                                <label class="label" for="password">原密码</label>
                                <label class="input"><i class="icon-append fa fa-lock"></i>
                                    <input type="password" name="password0" id="password0">
                                </label>
                            </section>
                            <{/if}>
                            <section>
                                <label class="label" for="password">新密码</label>
                                <label class="input"> <i class="icon-append fa fa-lock"></i>
                                    <input type="password" name="password" id="password">
                                </label>
                            </section>
                            <section>
                                <label class="label" for="password2">重复密码</label>
                                <label class="input"> <i class="icon-append fa fa-lock"></i>
                                    <input type="password" name="password2" id="password2">
                                </label>
                            </section>
                        </fieldset>
                        <footer>
                            <button type="submit" class="btn btn-primary">
                                修改
                            </button>
                        </footer>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    (function($){
        $("#change-password-form").submit(function(){
            $(this).find("input").removeClass("invalid");
            $(this).find("label").removeClass("state-error");
            $(this).find("em").remove();
            var ret = true;
            if($("#password0").length>0 && $("#password0").val()==""){
                ret = false;
                var html = '<em class="invalid">请输入原密码</em>';
                $("#password0").addClass("invalid");
                $("#password0").parent().addClass("state-error");
                $("#password0").parents("section").append(html);
            }
            if($("#password").val() == "" ){
                ret = false;
                var html = '<em class="invalid">请输入新密码</em>';
                $("#password").addClass("invalid");
                $("#password").parent().addClass("state-error");
                $("#password").parents("section").append(html);
            }
            if($("#password").val().length<6){
                ret = false;
                var html = '<em class="invalid">密码不能少于6位</em>';
                $("#password").addClass("invalid");
                $("#password").parent().addClass("state-error");
                $("#password").parents("section").append(html);
            }
            if($("#password2").val() == "" ){
                ret = false;
                var html = '<em class="invalid">请输入重复密码</em>';
                $("#password2").addClass("invalid");
                $("#password2").parent().addClass("state-error");
                $("#password2").parents("section").append(html);
            }

            if($("#password").val() != $("#password2").val()){
                ret = false;
                var html = '<em class="invalid">两次输入的密码不一致</em>';
                $("#password2").addClass("invalid");
                $("#password2").parent().addClass("state-error");
                $("#password2").parents("section").append(html);
            }

            return ret;
        });
    })(jQuery);
</script>
</body>
</html>