<div class="f-layer f-layer-<{$type.'-'.$listType}>" style="display: block;">
    <form action="<{$url}>" id="<{$type.'-'.$listType}>-form" method="post">
        <div class="clearfix header">
            <h2>搜索条件:</h2>
            <div class="btn-pannel">
                <button class="btn save <{$operator}>" type="submit"><{$btnSaveText}></button>
                <button class="btn red close" type="reset">取消</button>
                <button class="btn search" type="submit">搜索</button>
            </div>
        </div>
        <div class="search-condition clearfix">
        </div>
        <div class="checked-result">
            <label for="sel-<{$type.'-'.$listType}>-ids">已选择:</label><select name="ids[]"
                                                                             id="sel-<{$type.'-'.$listType}>-ids"
                                                                             multiple></select>
        </div>
    </form>
    <div id="<{$type.'-'.$listType}>-list">
        <{$listHtml}>
    </div>
</div>
<script>
    (function ($) {

        var fLayer = ".f-layer-<{$type.'-'.$listType}>";
        var form = "#<{$type.'-'.$listType}>-form";

        var mName = "<{$type}>";
        var search = eval('(<{$searchable|json_encode=###}>)');
        $(".f-layer-" + mName + "-<{$listType}> .search-condition").initSearchable(search, mName);

        $(document).ready(function () {
            $(fLayer).find(".btn.close").click(function () {
                $(this).parents(".f-layer").removeClass("show");
                $(".f-layer-back").hide();
            });

            $(fLayer).find(".btn.search").click(function () {
                var listid = "<{$type.'-'.$listType}>-list";
                $(form).find("input[name='operator']").remove();
                var param = {
                    url: $(form).attr("action"),
                    method: "POST",
                    data: $(form).serialize(),
                };
                contentAjax(listid, param, "jump");
                return false;
            });

            $(fLayer).find(".btn.export").click(function () {
                console.log('export');
                if ($(form).find('input[name=operator]').length == 0) {
                    $(form).append("<input type='hidden' name='operator' value='export' />");
                }
                $(form).submit();
            });

        });

    })(jQuery);
</script>