<!-- 弹窗 START -->
<{if empty($Request.get)}>
<{assign name="str" value=""}>
<{else}>
<{assign name="str" value="?"}>
<{foreach $Request.get as $key=>$val}>
<{if $str != '?'}>
<{assign name="str" value="$str.'&'"}>
<{/if}>
<{assign name="str" value="$str.$key.'='.$val"}>
<{/foreach}>
<{/if}>
<{if !empty($other)}>
    <{if empty($str)}>
        <{assign name="str" value="?listType=all"}>
    <{else}>
        <{assign name="str" value="$str.'&listType=all'"}>
    <{/if}>
<{/if}>
<{if !empty($controller)}>
<?php $formUrl = "/".$controller."/search".ucfirst($controller)."/type/".$type.$str;$type = $controller; ?>
<{else}>
<?php $formUrl = "/".$type."/search".ucfirst($type)."/type/".$type.$str; ?>
<{/if}>
<div class="f-layer-<{$type}>-back"
     style="display:none;background-color: black;opacity: 0.5;width: 100%;height: 100%;position: fixed;top: 0;z-index:999"></div>
<div class="f-layer f-layer-<{$type}>" style="display: block;">
    <form action="<{$formUrl}>" id="<{$type}>Form">
    <div class="clearfix header">
        <h2>搜索条件:</h2>
        <div class="btn-pannel">
            <button class="btn red close" type="reset">取消</button>
            <{if condition="empty($other)"}>
            <button class="btn save" type="reset">确认</button>
            <{/if}>
            <button class="btn search" type="submit">搜索</button>
        </div>
    </div>
    <div class="search-condition clearfix">
    </div>
    </form>
    <div id="checked-result">
        <label for="sel-ids">已选择:</label><select name="ids[]" id="sel-ids" multiple></select>
    </div>
    <div id="<{$type}>List">
    </div>
</div>
<!-- 弹窗 END -->
<script>
    var mName = "<{$type}>";
    var search = eval('(<{$searchable|json_encode=###}>)');
    $(".f-layer-" + mName + " .search-condition").initSearchable(search, mName);
    $(document).ready(function(){
        $("#<{$type}>Form").submit(function() {
            var data = $(this).serialize();
            var url = $(this).attr("action");

            var tt = {
                url: url,
                dataType: "json",
                method: "post",
                data: data,
            };
            contentAjax("<{if condition="!empty($other)"}><{$other}><{else}><{$type}>List<{/if}>", tt, 'jump');
            return false;
        });
        <{if condition="empty($other)"}>
        $("#<{$type}>Form").submit();
        <{/if}>
    });
</script>