<!-- 弹窗 START -->
<{if empty($Request.get)}>
<{assign name="str" value=""}>
<{else}>
<{assign name="str" value="?"}>
<{foreach $Request.get as $key=>$val}>
<{if $str != '?'}>
<{assign name="str" value="$str.'&'"}>
<{/if}>
<{assign name="str" value="$str.$key.'='.$val"}>
<{/foreach}>
<{/if}>
<{if !empty($controller)}>
<?php $formUrl = "/".$controller."/search".ucfirst($controller)."/type/".$type.$str;$type = $controller; ?>
<{else}>
<?php $formUrl = "/".$type."/search".ucfirst($type)."/type/".$type.$str; ?>
<{/if}>
<div class="f-layer-<{$type}>-back"
     style="display:none;background-color: black;opacity: 0.5;width: 100%;height: 100%;position: fixed;top: 0;z-index:999"></div>
<div class="f-layer f-layer-<{$type}>" style="display: none;">
    <div class="clearfix header">
        <div style="margin-bottom: 10px;">
            <p style="display: inline-block;font-size: 18px;font-weight: bold;">订单对应凭证金额</p>
            <div class="btn-pannel" style="float: right;">
                <button class="btn red close" type="reset">取消</button>
                <button class="btn moreSave" type="reset">保存</button>
            </div>
        </div>
        <div>
            <p style="width: 48%;height: 20px;display: inline-block;margin-bottom: 10px;">
                <span>凭证号:</span><span class="on_class" style="width: 200px;display: inline-block;"></span>
                <span>对方名称:</span><span class="cp_class"></span>
            </p>
            <p style="width: 48%;height: 20px;display: inline-block;margin-bottom: 10px;">
                <span>金额:</span><span class="money_class"></span>
            </p>
            <p style="width: 48%;height: 20px;display: inline-block;margin-bottom: 10px;">
                <span>本次对应金额:</span><input type="text" class="m_class" max="0" value="0" style="width: 300px;margin-left: 10px;">
            </p>
            <p style="width: 48%;height: 20px;display: inline-block;margin-bottom: 10px;">
                <span>未对应余额:</span><span class="no_class"></span>
            </p>
        </div>
    </div>
    <form action="<{$formUrl}>" id="<{$type}>Form">
    <div class="clearfix header">
        <h2>搜索条件:</h2>
        <div class="btn-pannel">
            <button class="btn search" type="submit">搜索</button>
        </div>
    </div>
    <div class="search-condition"></div>
    </form>
    <div id="<{$type}>List">
    </div>
</div>
<!-- 弹窗 END -->
<script>
    var mName = "<{$type}>";
    var search = eval('(<{$searchable|json_encode=###}>)');
    $(".f-layer-" + mName + " .search-condition").initSearchable(search, mName);
    $(document).ready(function(){
        $("#<{$type}>Form").submit(function() {
            var formData = $(this).serialize();
            var url = $(this).attr("action");
            var tt = {
                url: url,
                dataType: "json",
                method: "post",
                data: formData,
                success:function(data){
                    $("#<{$type}>List").html(data.content);
                    $("#<{$type}>List input").click(function(){
                        var cla = ".f-layer-<{$type}>";
                        if($(this).attr('c') == "true"){
                            $(this).prop("checked", false);
                            $(this).attr("c", "false");
                            $(cla).find(".on_class").html("");
                            $(cla).find(".cp_class").html("");
                            $(cla).find(".money_class").html("");
                            $(cla).find(".m_class").val("0");
                            $(cla).find(".m_class").attr("max", "0");
                            $(cla).find(".no_class").html("");
                        }else{
                            $(this).prop("checked", true);
                            $(this).attr("c", "true");
                            var jdata = JSON.parse(decodeURIComponent($(this).attr("json")));
                            var money = parseFloat($("#o_money").val());
                            jdata.noused = parseFloat(jdata.noused);
                            if(money > jdata.noused){
                                money = jdata.noused;
                            }else if(money < jdata.noused){
                                money = money;
                                $(".mony-<{$type}>").each(function(index, element){
                                    money -= parseFloat($(element).html());
                                });
                            }
                            if(money <= 0){
                                custom.alert("金额不能小于等于0");
                                return false;
                            }
                            money = money.toFixed(2);
                            $(cla).find(".on_class").html(jdata.id);
                            $(cla).find(".cp_class").html(jdata.coname);
                            $(cla).find(".money_class").html(jdata.money);
                            $(cla).find(".m_class").val(money);
                            $(cla).find(".m_class").attr("max", jdata.noused);
                            $(cla).find(".no_class").html(jdata.noused);
                        }
                    });
                    $("#<{$type}>List a").click(function(){
                        var href = $(this).attr("href");
                        if(href != "" && href != "#"){
                            href = href.replace("#", "/");
                            var tts = {
                                url: href,
                                method: "post",
                                data:formData,
                                dataType:"json"
                            }
                            contentAjax("<{$type}>List", tts, 'jump');
                        }
                        return false;
                    });
                }
            };
            contentAjax("<{$type}>List", tt, 'jump');
            return false;
        });
        $("#<{$type}>Form").submit();
    });

</script>