<div class="page-header">
    <h2>添加付款单</h2>
</div>

<form class="form-horizontal form-default form-add" id="form-add-received" action="/received/add" method="post" onsubmit="return false;">

    <div class="form-group">
        <label for="inputNo" class="col-sm-2 control-label"><i class="asterisk">*</i>付款单号</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputNo"  name="no" required/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">类型</label>
        <div class="col-sm-10">
            <select class="form-control" name="type">
                <{foreach name=":getTypeList()" item="type" key="k"}>
                <option value="<{$k}>"><{$type}></option>
                <{/foreach}>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label"><i class="asterisk">*</i>对方公司</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="coname" id="ipt-company-name" readonly required/>
            <input type="hidden" name="coid" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label"><i class="asterisk">*</i>总金额</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="money" required/>
        </div>
    </div>

    <{/*div class="form-group">
        <label class="col-sm-2 control-label">已用金额</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="used"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">剩余金额</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="noused"/>
        </div>
    </div*/}>
    <div class="form-group">
        <label class="col-sm-2 control-label"><i class="asterisk">*</i>发生日期</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="date" id="inputDate" required readonly/>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-default" id="btn-add-received" type="submit">确认</button>
        </div>
    </div>

</form>

<{load file="/static/js/update.js"}>