<{if (!isset($listType)) OR empty($listType) }>
<{assign name="listType" value="1"}>
<{/if}>

<div class="paginate">
    <{$lists->render()}>
</div>

<div class="search-result">
    <table cellspacing="0" class="list">
        <thead>
        <tr>
            <th style="width: 50px;text-align:center;padding-right:4px;">
                <{if $listType == 2}>
                <input type="checkbox" id="lists-all-checked" value="all"/>
                <{/if}>
            </th>
            <th>付/回款单号</th>
            <th>对方名称</th>
            <th>类型</th>
            <th class="date">付/回款日期</th>
            <th class="money">付/回款金额</th>
            <th class="money">未对应订单金额</th>
            <{if $listType == 2}>
            <th></th>
            <{/if}>
        </tr>
        </thead>
        <tbody>
        <{volist name="lists" id="val" empty="$empty"}>
        <?php
            $json = array(
                "id"=>$val['r_id'],
                "coname"=>$val['r_coname'],
                "money"=>$val['r_money'],
                "noused"=>$val['r_noused'],
                "date"=>date("Y-m-d", $val['r_date']),
                );
        ?>
        <tr>
            <{if $listType == 2}>
            <td><input type="checkbox" value="<{$val.r_id}>" class="lists-id"></td>
            <td><a href="/received/detail?id=<{$val.r_id}>"><{$val.r_no}></a></td>
            <{else}>
            <td><input type="radio" <{if !empty($fi)}><{$val['r_noused']=="0.00"?"disabled":""}><{/if}> class="selectRadio" name="selectRadio" value="<{$val.r_id}>" data="<{$val.r_no}>" json="<?php echo urlencode(json_encode($json)); ?>" /></td>
            <td><{$val.r_no}></td>
            <{/if}>
            <td><{$val.r_coname}></td>
            <td><?php echo getTypeList($val['r_type']); ?></td>
            <td><?php echo date("Y-m-d", $val['r_date']); ?></td>
            <td class="money"><{$val.r_money|number_format=2}></td>
            <td class="money"><{$val.r_noused|number_format=2}></td>
            <{if $listType == 2}>
                <td><a href="/circulation/list/type/received/id/<{$val.r_id}>">传阅列表</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/received/detail?id=<{$val.r_id}>">查看</a</td>
            <{/if}>
        </tr>
        <{/volist}>
        </tbody>
    </table>
</div>

<div class="paginate">
    <{$lists->render()}>
</div>

<script>
    (function($){
        $("#lists-all-checked").unbind("click");
        $("#lists-all-checked").click(function () {
            var _this = $(this);
            $(".lists-id").prop("checked", _this.prop("checked"));
        });
    })(jQuery);
</script>