<div class="clearfix header searchTitle">
    <h2></h2>
    <div class="btn-pannel paginate">
        <{$lists->render()}>
    </div>
</div>
<div class="search-result">
    <table cellspacing="0" class="list">
        <thead>
        <tr>
            <th></th>
            <th>回款号</th>
            <th>对方名称</th>
            <th>回款日期</th>
            <th>回款金额</th>
            <th>未对应订单金额</th>
        </tr>
        </thead>
        <tbody>
        <{volist name="lists" id="val" empty="$empty"}>
        <?php
            $json = array(
                "id"=>$val['r_id'],
                "coname"=>$val['r_coname'],
                "money"=>$val['r_money'],
                "noused"=>$val['r_noused'],
                "date"=>date("Y-m-d", $val['r_date']),
                );
        ?>
        <tr <{if !empty($fi)}>style="<{$val['r_noused']=="0.00"?"background-color: red":"background-color: green"}>;color: white;border-bottom: 1px solid white;"<{/if}>>
            <td><input type="radio" <{if !empty($fi)}><{$val['r_noused']=="0.00"?"disabled":""}><{/if}> class="selectRadio" name="selectRadio" value="<{$val.r_id}>" data="<{$val.r_no}>" json="<?php echo urlencode(json_encode($json)); ?>" /></td>
            <td><{$val.r_no}></td>
            <td><{$val.r_coname}></td>
            <td><?php echo date("Y-m-d", $val['r_date']); ?></td>
            <td><{$val.r_money}></td>
            <td><{$val.r_noused}></td>
        </tr>
        <{/volist}>
        </tbody>
    </table>
</div>