<nav aria-label="Page navigation" class="clearfix">
    <{$lists->render()}>
    <{include file="common/setpagelimit" /}>
</nav>

<table class="list" cellspacing="0">
    <thead>
    <tr>
        <th style="min-width: 50px;text-align:center;padding-right:4px;"></th>
        <th>姓名</th>
        <th>编码</th>
        <th>Email</th>
        <th>电话</th>
        <th>组织</th>
        <th>部门</th>
        <th>部门领导</th>
        <th>管理员</th>
    </tr>
    </thead>
    <tbody>
    <{volist name="lists" id="vo" empty="<tr><td colspan='11'>暂无数据</td></tr>"}>
    <tr>
        <td><input type="radio" value="<{$vo.m_id}>" name="id" class="selectRadio"></td>
        <td><{$vo.m_name}></td>
        <td><{$vo.m_code}></td>
        <td><{$vo.m_email}></td>
        <td><{$vo.m_phone}></td>
        <td><{$vo.m_office}></td>
        <td><{$vo.m_department}></td>
        <td><{if $vo.m_is_lead == 1}><span style="color: green;">是</span><{else}><span style="color:red">否</span><{/if}></td>
        <td><{if $vo.m_isAdmin == 1}><span style="color: green;">是</span><{else}><span style="color:red">否</span><{/if}></td>
    </tr>
    <{/volist}>
    </tbody>
</table>
<nav aria-label="Page navigation" class="clearfix">
    <{$lists->render()}>
    <{include file="common/setpagelimit" /}>
</nav>
