<nav aria-label="Page navigation">
    <{$lists->render()}>
</nav>
<table class="list table" cellspacing="0">
    <thead>
    <tr>
        <th style="min-width: 50px;text-align:center;padding-right:4px;"><input type="checkbox" class="checkAll" value="all"/></th>
        <th>
            <a href="/member/all/sort/m_name/order/<{:getSortOrder($sort,'m_name')}>">
                姓名<i class="<{:getSortClass($sort,'m_name')}>"></i>
            </a>
        </th>
        <th>
            <a href="/member/all/sort/m_code/order/<{:getSortOrder($sort,'m_code')}>">
                编码<i class="<{:getSortClass($sort,'m_code')}>"></i>
            </a>
        </th>
        <th>
            <a href="/member/all/sort/m_email/order/<{:getSortOrder($sort,'m_email')}>">
                Email<i class="<{:getSortClass($sort,'m_email')}>"></i>
            </a>
        </th>
        <th>
            <a href="/member/all/sort/m_phone/order/<{:getSortOrder($sort,'m_phone')}>">
                电话<i class="<{:getSortClass($sort,'m_phone')}>"></i>
            </a>
        </th>
        <th>
            <a href="/member/all/sort/m_office/order/<{:getSortOrder($sort,'m_office')}>">
                部门<i class="<{:getSortClass($sort,'m_office')}>"></i>
            </a>
        </th>
        <th>
            <a href="/member/all/sort/m_department/order/<{:getSortOrder($sort,'m_department')}>">
                科室<i class="<{:getSortClass($sort,'m_department')}>"></i>
            </a>
        </th>
        <th>
            <a href="/member/all/sort/m_is_lead/order/<{:getSortOrder($sort,'m_is_lead')}>">
                科室领导<i class="<{:getSortClass($sort,'m_is_lead')}>"></i>
            </a>
        </th>
        <th>
            <a href="/member/all/sort/m_isAdmin/order/<{:getSortOrder($sort,'m_isAdmin')}>">
                管理员<i class="<{:getSortClass($sort,'m_isAdmin')}>"></i>
            </a>
        </th>
    </tr>
    </thead>
    <tbody>
    <{volist name="lists" id="vo" empty="<tr><td colspan='9'>暂无数据</td></tr>"}>
    <tr>
        <td><input type="checkbox" value="<{$vo.m_id}>" class="lists-id" data-name="<{$vo.m_name}>"></td>
        <td><a href="/member/detail?id=<{$vo.m_id}>"><{$vo.m_name}></a></td>
        <td><{$vo.m_code}></td>
        <td><{$vo.m_email}></td>
        <td><{$vo.m_phone}></td>
        <td><{$vo.m_office}></td>
        <td><{$vo.m_department}></td>
        <td><{if $vo.m_is_lead == 1}><span style="color: green;">是</span><{else}><span style="color:red">否</span><{/if}></td>
        <td><{if $vo.m_isAdmin == 1}><span style="color: green;">是</span><{else}><span style="color:red">否</span><{/if}></td>
    </tr>
    <{/volist}>
    </tbody>
</table>
<nav aria-label="Page navigation">
    <{$lists->render()}>
</nav>
<{load href="/static/js/all.js"}>