<nav aria-label="Page navigation">
    <{$lists->render()}>
</nav>
<div class="main-pannel">
    <table class="list" cellspacing="0">
        <thead>
        <tr>
            <th style="min-width: 50px;text-align:center;padding-right:4px;">
                <input type="checkbox" class="checkAll" value="all"/>
            </th>
            <th>姓名</th>
            <th>编码</th>
            <th>Email</th>
            <th>电话</th>
            <th>部门</th>
            <th>组织</th>
            <th>管理员</th>
        </tr>
        </thead>
        <tbody>
        <{volist name="lists" id="vo" empty="<tr><td colspan='11'>暂无数据</td></tr>"}>
        <tr>
            <td><input type="checkbox" value="<{$vo.m_id}>" class="lists-id"></td>
            <td><{$vo.m_name}></td>
            <td><{$vo.m_code}></td>
            <td><{$vo.m_email}></td>
            <td><{$vo.m_phone}></td>
            <td><{$vo.m_department}></td>
            <td><{$vo.m_office}></td>
            <td><{if $vo.m_isAdmin == 1}><span style="color: green;">是</span><{else}><span style="color:red">否</span><{/if}></td>
        </tr>
        <{/volist}>
        </tbody>
    </table>
</div>
<nav aria-label="Page navigation">
    <{$lists->render()}>
</nav>
<script>
    (function($){
        var pid = "<{$type.'-'.$listType.'-list'}>" ;
        //var form = $(".f-layer-<{$type.'-'.$listType}> form");
        var sel = $("#sel-<{$type.'-'.$listType}>-ids");

        $("#"+pid).find(".lists-id").each(function(){
            if(sel.find("option[value="+$(this).attr("value")+"]").length>0)
                $(this).prop("checked",true);
        });

        $("#"+pid).find("a").click(function(){
            var data = {
                url:$(this).attr("href"),
                method:"GET",
                dataType:"json"
            }
            contentAjax(pid,data,"jump");
            return false;
        });
        $("#"+pid).find(".checkAll").click(function(){
            var status = $(this).prop("checked");
            $("#"+pid).find(".lists-id").each(function(){
                $(this).prop("checked",status);
                var val = $(this).attr("value");
                sel.find("option[value="+val+"]").remove();
                if(status == true) {
                    sel.append("<option value='"+val+"' selected>"+$(this).attr("data-name")+"</option>");
                }
            });
        });
        $("#"+pid).find(".lists-id").click(function(){
            var val = $(this).attr("value");
            sel.find("option[value="+val+"]").remove();
            if($(this).prop("checked") == true){
                sel.append("<option value='"+val+"' selected>"+$(this).attr("data-name")+"</option>");
            }
        });
    })(jQuery);
</script>