<nav aria-label="Page navigation">
    <{$lists->render()}>
</nav>
<table cellspacing="0" class="list">
    <thead>
    <tr>
        <th style="width: 50px;text-align:center;padding-right:4px;">
            <input type="checkbox" class="checkAll" value="all"/>
        </th>
        <th>发票号</th>
        <th>开票摘要</th>
        <th>对方名称</th>
        <th>税率</th>
        <th>开票日期</th>
        <th>开票金额</th>
        <th>未对应订单金额</th>
        <{if $listType == 2}>
        <th></th>
        <{/if}>
    </tr>
    </thead>
    <tbody>
    <{volist name="lists" id="val" empty="$empty"}>
    <tr>
    <td><input type="checkbox" value="<{$val.i_id}>" class="lists-id"></td>
    <td><{$val.i_no}></td>
    <td><{$val.i_content}></td>
    <td><{$val.i_coname}></td>
    <td><?php echo getTaxList($val['i_tax']); ?></td>
    <td><?php echo date("Y-m-d", $val['i_date']); ?></td>
    <td class="money"><{$val.i_money|number_format=2}></td>
    <td class="money"><{$val.i_noused|number_format=2}></td>
    </tr>
    <{/volist}>
    </tbody>
</table>
<nav aria-label="Page navigation">
    <{$lists->render()}>
</nav>
<script>
    (function($){
        var pid = "<{$type.'-'.$listType.'-list'}>" ;
        //var form = $(".f-layer-<{$type.'-'.$listType}> form");
        var sel = $("#sel-<{$type.'-'.$listType}>-ids");

        $("#"+pid).find(".lists-id").each(function(){
            if(sel.find("option[value="+$(this).attr("value")+"]").length>0)
                $(this).prop("checked",true);
        });

        $("#"+pid).find("a").click(function(){
            var data = {
                url:$(this).attr("href"),
                method:"GET",
                dataType:"json"
            }
            contentAjax(pid,data,"jump");
            return false;
        });
        $("#"+pid).find(".checkAll").click(function(){
            var status = $(this).prop("checked");
            $("#"+pid).find(".lists-id").each(function(){
                $(this).prop("checked",status);
                var val = $(this).attr("value");
                sel.find("option[value="+val+"]").remove();
                if(status == true) {
                    sel.append("<option value='"+val+"' selected>"+$(this).attr("data-name")+"</option>");
                }
            });
        });
        $("#"+pid).find(".lists-id").click(function(){
            var val = $(this).attr("value");
            sel.find("option[value="+val+"]").remove();
            if($(this).prop("checked") == true){
                sel.append("<option value='"+val+"' selected>"+$(this).attr("data-name")+"</option>");
            }
        });
    })(jQuery);
</script>