<nav aria-label="Page navigation">
    <{$lists->render()}>
</nav>
<div class="search-result">
    <table cellspacing="0" class="list table">
        <thead>
        <tr>
            <th style="min-width: 50px;text-align:center;padding-right:4px;">
                <input type="checkbox" class="checkAll" value="all"/>
            </th>
            <th width="100">
                <a href="/project/all/sort/p_no/order/<{:getSortOrder($sort,'p_no')}>">项目号<i class="<{:getSortClass($sort,'p_no')}>"></i></a>
            </th>
            <th style="width:auto;">
                <a href="/project/all/sort/p_name/order/<{:getSortOrder($sort,'p_name')}>">项目名称<i class="<{:getSortClass($sort,'p_name')}>"></i></a>
            </th>
            <th>
                <a href="/project/all/sort/p_mname/order/<{:getSortOrder($sort,'p_mname')}>">创建人<i class="<{:getSortClass($sort,'p_mname')}>"></i></a>
            </th>
            <th>
                <a href="/project/all/sort/p_createtime/order/<{:getSortOrder($sort,'p_createtime')}>">创建时间<i class="<{:getSortClass($sort,'p_createtime')}>"></i></a>
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <{volist name="lists" id="val" empty="<td colspan='6'>暂无数据</td>"}>
        <tr>
            <td>
                <input type="checkbox" value="<{$val.p_id}>" class="lists-id" data-name="<{$val.p_no}>">
            </td>
            <td>
                <a href="/project/detail?id=<{$val.p_id}>"><{$val.p_no}></a>
            </td>
            <td><{$val.p_name}></td>
            <td><{$val.p_mname}></td>
            <td><{$val.p_createtime|date='Y-m-d H:i:s',###}></td>
            <td><a href="/circulation/list/type/project/id/<{$val.p_id}>">传阅列表</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/project/detail?id=<{$val.p_id}>">查看</a></td>
        </tr>
        <{/volist}>
        </tbody>
    </table>
</div>
<nav aria-label="Page navigation">
    <{$lists->render()}>
</nav>
<{load href="/static/js/all.js"}>
