<nav aria-label="Page navigation" class="clearfix">
    <{$lists->render()}>
    <{include file="common/setpagelimit" /}>
</nav>
<div class="search-result">
    <table cellspacing="0" class="list table">
        <thead>
        <tr>
            <th style="min-width: 50px;text-align:center;padding-right:4px;">
                <input type="checkbox" class="checkAll" value="all"/>
            </th>
            <th width="100">
                <a href="/project/all/sort/p_no/order/<{:getSortOrder($sort,'p_no')}>">项目号<i class="<{:getSortClass($sort,'p_no')}>"></i></a>
            </th>
            <th style="width:auto;">
                <a href="/project/all/sort/p_name/order/<{:getSortOrder($sort,'p_name')}>">项目名称<i class="<{:getSortClass($sort,'p_name')}>"></i></a>
            </th>
            <th>
                <a href="/project/all/sort/p_mname/order/<{:getSortOrder($sort,'p_mname')}>">责任人<i class="<{:getSortClass($sort,'p_mname')}>"></i></a>
            </th>
            <th>
                <a href="/project/all/sort/p_dname/order/<{:getSortOrder($sort,'p_dname')}>">立项部门<i class="<{:getSortClass($sort,'p_dname')}>"></i></a>
            </th>
            <th class="money">
                <a href="/project/all/sort/p_income/order/<{:getSortOrder($sort,'p_income')}>">预计总收入<i class="<{:getSortClass($sort,'p_income')}>"></i></a>
            </th>
            <th class="money">
                <a href="/project/all/sort/p_pay/order/<{:getSortOrder($sort,'p_pay')}>">预计总支出<i class="<{:getSortClass($sort,'p_pay')}>"></i></a>
            </th>
            <th class="date">
                <a href="/project/all/sort/p_date/order/<{:getSortOrder($sort,'p_date')}>">立项日期<i class="<{:getSortClass($sort,'p_date')}>"></i></a>
            </th>
            <th>
                <a href="/project/all/sort/p_createtime/order/<{:getSortOrder($sort,'p_createtime')}>">创建时间<i class="<{:getSortClass($sort,'p_createtime')}>"></i></a>
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <{volist name="lists" id="val" empty="<td colspan='10'>暂无数据</td>"}>
        <tr>
            <td>
                <input type="checkbox" value="<{$val.p_id}>" class="lists-id" data-name="<{$val.p_no}>">
            </td>
            <td>
                <a href="/project/detail?id=<{$val.p_id}>"><{$val.p_no}></a>
            </td>
            <td><{$val.p_name}></td>
            <td><{$val.p_mname}></td>
            <td><{$val.p_dname}></td>
            <td class="money"><{$val.p_income|number_format=2}></td>
            <td class="money"><{$val.p_pay|number_format=2}></td>
            <td><{$val.p_date|date='Y-m-d',###}></td>
            <td><{$val.p_createtime|date='Y-m-d H:i:s',###}></td>
            <td><a href="/circulation/list/type/project/id/<{$val.p_id}>">传阅列表</a></td>
        </tr>
        <{/volist}>
        </tbody>
    </table>
</div>
<nav aria-label="Page navigation" class="clearfix">
    <{$lists->render()}>
    <{include file="common/setpagelimit" /}>
</nav>
<{load href="/static/js/all.js"}>
