<nav aria-label="Page navigation">
    <{$lists->render()}>
</nav>
<div class="auto-scroll">
<table class="list table scroll" cellspacing="0">
    <thead>
    <tr>
        <th style="min-width: 50px;text-align:center;padding-right:4px;"><input type="checkbox" class="checkAll" value="all"/></th>
        <th>
            <a href="/company/all/type/<{$type}>/sort/co_code/order/<{:getSortOrder($sort,'co_code')}>">
                编码<i class="<{:getSortClass($sort,'co_code')}>"></i>
            </a>
        </th>
        <th width="200">
            <a href="/company/all/type/<{$type}>/sort/co_name/order/<{:getSortOrder($sort,'co_name')}>">
                名称<i class="<{:getSortClass($sort,'co_name')}>"></i>
            </a>
        </th>
        <th>核准/禁用</th>
        <th>助记码</th>
        <th>行业</th>
        <th width="200">地址</th>
        <th>税务登记号</th>
        <th>工商注册号</th>
        <th>开户行</th>
        <th>开户行账号</th>
        <th>发票类型</th>
        <th>发票邮寄地址</th>
        <th>发票接收人</th>
        <th>发票接收人电话</th>
        <th>法人代表</th>
        <th>集团内公司名称</th>
        <th class="date">创建时间</th>
        <th style="width:40px">内部</th>
        <{if $type == 1}>
        <th style="width:40px">委外商</th>
        <{/if}>
    </tr>
    </thead>
    <tbody>
    <{volist name="lists" id="vo" empty="<tr><td colspan='11'>暂无数据</td></tr>"}>
    <tr>
        <td><input type="checkbox" value="<{$vo.co_id}>" class="lists-id" data-name="<{$vo.co_code}>"></td>
        <td><a href="/company/detail?id=<{$vo.co_id}>"><{$vo.co_code}></a></td>
        <td><{$vo.co_name}></td>
        <td><{if $vo.co_status == 1}><span style="color:green">核准</span><{else}><span style="color:red;">禁用</span><{/if}></td>
        <td><{$vo.co_mnemonic_code}></td>
        <td><{$vo.co_industry}></td>
        <td><{$vo.co_address}></td>
        <td><{$vo.co_tax_id}></td>
        <td><{$vo.co_reg_id}></td>
        <td><{$vo.co_bank}></td>
        <td><{$vo.co_bank_card}></td>
        <td><{$vo.co_invoice_type}></td>
        <td><{$vo.co_invoice_address}></td>
        <td><{$vo.co_invoice_recipient}></td>
        <td><{$vo.co_invoice_phone}></td>
        <td><{$vo.co_lr}></td>
        <td><{$vo.co_internal_name}></td>
        <td><{$vo.co_create_time|date='Y-m-d',###}></td>
        <td style="text-align:center;"><{if $vo.co_internal_flag == 1}><span style="color:green;">是</span><{else}><span style="color: #f00;">否</span><{/if}></td>
        <{if $type == 1}>
        <td style="text-align:center;"><{if $vo.co_flag==1}><span style="color:green;">是</span><{else}><span style="color: #f00;">否</span><{/if}></td>
        <{/if}>
    </tr>
    <{/volist}>
    </tbody>
</table>
</div>
<nav aria-label="Page navigation">
    <{$lists->render()}>
</nav>
<{load href="/static/js/all.js"}>
