<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>项目收支跟踪管理系统</title>
    <{load href="/static/bootstrap/css/bootstrap.min.css,/static/bootstrap/css/bootstrap-theme.min.css,/static/js/jquery-3.2.1.min.js,/static/bootstrap/js/bootstrap.min.js"}>
    <{load href="/static/css/font-awesome.min.css,/static/css/base.css,/static/css/frame.css,/static/js/plugin/laydate/laydate.js"/}>
    <{load href="/static/js/plugin/dialog/dialogbox.js,/static/css/jquery.dialogbox.css"}>
    <{load href="/static/css/menu.css,/static/css/zoom.css"}>
    <{load href="/static/js/plugin/dialog/loading.js,/static/js/jquery.fix.clone.js"}>
    <{load href="/static/js/custom.js,/static/js/jquery.initsearchable.js,/static/js/plugin/validate/jquery.validate.min.js,/static/js/plugin/validate/jquery.validate.messages_zh.js,/static/js/plugin/zoom/zoom.min.js"}>
</head>

<body>
<header>
    <h1 style="padding: 5px;display: inline-block;font-size:24px;line-height:39px;"><i class="fa fa-bars"></i>新智超脑</h1>
    <div style="float: right;">
        <p style="margin: 13px 0;">
            <span style="font-size: 16px;margin-right: 20px;cursor: pointer;" id="popinfo"><i class="fa fa-user-circle"></i><{$member.m_name}></span>
            <a href="<{:url("/dashboard/logout")}>" style="color: blue;" id="link-site-exit"><i class="fa fa-sign-out"></i>退出</a>
        </p>
    </div>
</header>
<aside id="left-pannel">
    <nav>
        <ul>
            <!--<li>-->
                <!--<a><i class="fa fa-lg fa-fw fa-credit-card"></i><span class="menu-item-parent">我的预算</span><b class="collapse-sign"><em class="fa fa-plus-square-o"></em></b></a>-->
                <!--<ul>-->
                    <!--<li>-->
                        <!--<a href="#mybudget">被授权的预算表</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</li>-->
            <{volist name="menuList" id="menu"}>
            <{if condition="isset($menu['name'])"}>
            <li>
                <a <{if condition="!empty($menu['url'])"}>href="#<{$menu['url']}>"<{/if}>><i class="fa fa-lg fa-fw <{$menu['flag']}>"></i> <span
                        class="menu-item-parent"><{$menu['name']}></span><b class="collapse-sign"><em
                        class="fa fa-plus-square-o"></em></b></a>
                <{if condition="count($menu['children']) > 0"}>
                <ul>
                    <{volist name="$menu['children']" id="children"}>
                    <li>
                        <a href="#<{$children['url']}>"><{$children['name']}></a>
                    </li>
                    <{/volist}>
                </ul>
                <{/if}>
            </li>
            <{/if}>
            <{/volist}>
        </ul>
    </nav>
</aside>
<div id="main-container" style="margin-left: 230px;margin-right: 10px;">
</div>
<div id="popDIV"></div>
<div id="dialog-box"></div>
<div id="dialog-box1"></div>
<div id="loading"><img src="/static/images/loading.gif" /></div>
<div class="f-layer-back" style="display:none;background-color: black;opacity: 0.5;width: 100%;height: 100%;position: fixed;top: 0;z-index:999"></div>
<div id="for-export" style="dis"></div>
<div id="btn-close-menu-tree"><a href="javascript:;" title="关闭左侧菜单"><i class="fa fa-angle-double-left"></i></a></div>
<script>
    var detectBack = {
        initialize: function() {
            //监听hashchange事件
            window.addEventListener('hashchange', function() {
                //为当前导航页附加一个tag
                this.history.replaceState('hasHash', '', '');
            }, false);

            window.addEventListener('popstate', function(e) {
                if (e.state) {
                    //侦测是用户触发的后退操作, dosomething
                    //这里刷新当前url
                    this.location.reload();
                }
            }, false);
        }
    };
    var in_array = function(search,arr){
        for(var i in arr){
            if(search == arr[i]){
                return true;
            }
        }
        return false;
    };
    var toUpperCase = function(obj){
        obj.value = obj.value.toUpperCase();
    };
    $(document).ready(function () {

        $("#btn-close-menu-tree").click(function(){
            var e = $(this).find("i.fa");
            if(e.hasClass("fa-angle-double-left")){
                e.removeClass("fa-angle-double-left").addClass("fa-angle-double-right");
                $("#left-pannel").css("margin-left","-220px");
                $(this).css("left","0");
                $("#main-container").css("margin-left","10px");
                $("body").css("background","none");
            }else{
                e.removeClass("fa-angle-double-right").addClass("fa-angle-double-left");
                $("#left-pannel").css("margin-left",0);
                $(this).css("left","220px");
                $("#main-container").css("margin-left","230px");
                $("body").css("background","url(/static/images/body-bg.png) repeat-y");
            }
        });

        $("#popinfo").click(function(){
            var mid = "<{$member.m_id}>",pop='<div class="f-layer-member-back" ' +
                'style="display:none;background-color: black;opacity: 0.5;width: 100%;height: 100%;position: fixed;top: 0;z-index:999"></div>' +
                '<div class="f-layer f-layer-member" style="display: block;">';
            loading.show()
            $.ajax({
                url: "/member/detail?pop=1&id="+mid,
                dataType: "json",
                method: "get",
                success: function (data) {
                    pop += data+'</div>';
                    $("#popDIV").html(pop);
                    setTimeout('$(".f-layer-member").addClass("show")',500);
                    //$(cla).show();
                    $(".f-layer-member-back").show();
                    $(".f-layer-member .close").click(function () {
                        //$(cla).hide();
                        $(".f-layer-member").removeClass("show");
                        $(".f-layer-member-back").hide();
                        return false;
                    });
                    $("#member-update [type='submit']").click(function () {
                        //loading.show();
                        var form = $("#member-update");
                        var data = new FormData(form[0]);
                        form.validate({
                            'submitHandler': function () {
                                var form = $("#member-update");
                                var data = new FormData(form[0]);
                                $.ajax({
                                    url: form.attr("action"),
                                    method: form.attr("method"),
                                    data: data,
                                    contentType: false,
                                    processData: false,
                                    dataType: "json",
                                    success: function (res) {
                                        loading.hide();
                                        custom.alert(res.msg);
                                        if(res.flag == 1) {
                                            var el;
                                            if ($("#ipt-attachment").length > 0) {
                                                el = "#ipt-attachment";
                                            }
                                            $(el).val("");
                                            if ( res.image !== undefined) {
                                                $(el).parent().addClass("attachment").find("img").remove();
                                                $(el).parent().find("a").remove();
                                                $(el).parent().prepend('<img src="' + res.image + '"  width="240" data-action="zoom"/>');
                                            }else if (res.file !== undefined){
                                                $(el).parent().find("img").remove();
                                                $(el).parent().find("a").remove();
                                                $(el).parent().prepend('<a href="' + res.file + '" target="_blank"><i class="fa fa-paperclip"></i> 附件</a>');
                                            }
                                        }
                                    }
                                });
                            }
                        });
                    })
                    loading.hide();
                }
            });
        });

        detectBack.initialize();
        var lh = location.href;
        var i = lh.indexOf("/#");
        var bak = "";
        if(i > 0){
            bak = lh.substr(i+1);
            var click = false;
            $("#left-pannel a").each(function(index, element){
                if($(element).attr("href") == bak){
                    click = true;
                    $(element).click();
                }
            });
            if(!click){
                bak = bak.replace("#", "/");
                var data = {
                    url: bak,
                    method: "get",
                };
                contentAjax("main-container",data);
            }
        }

        $("#main-container").change(function () {
            $("#left-pannel").height(Math.ceil(parseFloat($("html").height()))+"px");
        });

        $("#left-pannel a").click(function(){
            var e = this;
            var c = $(e).next("ul");
            var p = $(e).parent("li");
//            if($(e).parents("ul").parent("li").length == 1){
//                if($(p).hasClass("active")){
//                    return false;
//                }
//            }
            $("#left-pannel li").attr("class", "");
            $("#left-pannel li>ul>li").attr("class", "");
            $("#left-pannel em").each(function(index, element){
                if(!$(p).find("em").is($(element))){
                    $(element).attr("class", "fa fa-plus-square-o");
                    $(element).parents("a").next().hide();
                }
            });
            if($(e).parents("ul").parent("li").length == 1){
                $(e).parents("ul").parent("li").attr("class", "open");
                $(e).parent("li").attr("class", "active");
                $(e).parents("ul").parent("li").find("em").attr("class", "fa fa-minus-square-o");
                $(e).parents("ul").parent("li").find("ul").show();
            }else{
                $(p).attr("class", "open");
                if($(c).is(":hidden")){
                    $(p).find("em").attr("class", "fa fa-minus-square-o");
                    $(c).show();
                }else{
                    $(p).find("em").attr("class", "fa fa-plus-square-o");
                    $(c).hide();
                }
            }
            $(p).addClass("click");
            var href = $(e).attr("href");
            if(href != "" && href != "#" && href != "/" && href != undefined){
                href = href.replace("#", "/");
                var data = {
                    url: href,
                    method: "get",
                };
                contentAjax("main-container",data);
            }
        });
        $("#left-pannel a").each(function (index, ele) {
            var childen = $(ele).next();
            if(childen.length == 1){
                $(ele).find(".fa-minus-square-o").show();
            }else{
                $(ele).find(".fa-minus-square-o").hide();
            }
            $(childen).hide();
            if(bak == $(ele).attr("href")){
                $(ele).click();
            }
        });

        $("#link-site-exit").click(function(){
            custom.confirm("您确定要退出登录吗？",function(){
                location.href=$("#link-site-exit").attr("href");
            });
            return false;
        });
    });
    function contentAjax(id,ajaxData,jump){
        if(id == 'main-container'){
            $("#popDIV").html("");
        }
        sessionStorage.current = "/"+location.href.substr(location.href.indexOf("#")+1);
        if(ajaxData.url == "/historyBack"){
            historyBack();
            return false;
        }else if(jump != "jump"){
            setHistoryBack(ajaxData.url);
        }
        loading.show();
        if(ajaxData.success == undefined){
            ajaxData.success = function(data){
                if(data.code == "0"){
                    custom.alert(data.msg);
                    window.setTimeout("location.href='/'", 800);
                }
                if(data.content != undefined){
                    $("#"+id).html(data.content);
                }else{
                    $("#"+id).html(data);
                }
                pageLimit();
                loading.hide();
                $("#"+id+" a[target!='_blank'],button[type='button']").unbind("click");
                $("#"+id+" a[target!='_blank'],button[type='button']").click(function(){
                    var hrefs = $(this).attr("href");
                    if(hrefs != "" && hrefs != "#" && hrefs !=undefined ) {
                        hrefs = hrefs.replace("#", "/");
                        delete ajaxData.success;
                        ajaxData.url = hrefs;
                        contentAjax(id,ajaxData);
                    }
                    return false;
                });
            }
        }else{
        	var succ = ajaxData.success ;
        	ajaxData.success = function(data){
        		loading.hide();
        		succ(data);
                pageLimit();
        	}
        }
        if(ajaxData.error == undefined){
            ajaxData.error = function(){
                loading.hide();
                custom.alert("页面加载出错，请联系管理员！");
            }
        }
        var url = ajaxData.url;
        if(url.indexOf("/") >= 0 || url.indexOf("#") >= 0){
            url = url.substr(1);
        }
        url = "/#"+url;
        if(jump != "jump") {
            location.href = url;
        }
        $.ajax(ajaxData);
    }
    function historyBack(){
        var sessionStore = JSON.parse(sessionStorage.historyBack);
        var url = "/";
        if(sessionStore.length > 0){
            sessionStore.pop();
            url = sessionStore[(sessionStore.length-1)];
            sessionStorage.historyBack = JSON.stringify(sessionStore);
        }
        var ajaxData = {
            url : url
        }
        location.href = "/#"+url.substr(1);
        location.reload();
    }
    function setHistoryBack(url) {
        var sessionStore = sessionStorage.historyBack;
        sessionStore = (sessionStore == undefined || sessionStore == "") ? [] : JSON.parse(sessionStore);
        var tmp = url != "" && url != undefined ? url : location.href;
        var i = tmp.indexOf("/");
        if(i >= 0){
            tmp = "/" + tmp.substr((i+1));
            if(sessionStorage.current == tmp && sessionStorage.current != undefined){
                return false;
            }
            if(sessionStore.length == 0){
                sessionStore.push(tmp);
            }else{
                var p = sessionStore.join(",") + ",";
                if(p.indexOf(tmp+",") < 0){
                    sessionStore.push(tmp);
                }else{
                    for(var i in sessionStore){
                        if(sessionStore[i] == tmp){
                            sessionStore.splice(i,1);
                            break;
                        }
                    }
                    sessionStore.push(tmp);
                }
            }
        }
        sessionStorage.historyBack = JSON.stringify(sessionStore);
    }

    function pageLimit(){
        $(".pageLimit").unbind("change");
        var pt = "<{$pageLimit}>";
        if(pt != $(".pageLimit").val()){
            $(".pageLimit option").each(function(index, element){
                if($(element).val() == pt){
                    $(element).prop("selected", true);
                }else{
                    $(element).prop("selected", false);
                }
            });
        }
        $(".pageLimit").change(function(){
            var val = $(this).val();
            $(".pageLimit option").each(function(index, element){
                if($(element).val() == val){
                    $(element).prop("selected", true);
                }else{
                    $(element).prop("selected", false);
                }
            });
            $.ajax({
                url: "<{:url('/Dashboard/setPageLimit')}>",
                method: "POST",
                data: "pageLimit="+val,
                success: function () {
                    location.reload();
                }
            });
        });
    }
</script>
</body>
</html>
