<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>商机管理管理</title>
    <{load href="/static/bootstrap/css/bootstrap.min.css,/static/bootstrap/css/bootstrap-theme.min.css,/static/js/jquery-3.2.1.min.js,/static/bootstrap/js/bootstrap.min.js"}>
    <{load href="/static/css/font-awesome.min.css,/static/css/base.css,/static/css/frame.css,/static/js/plugin/laydate/laydate.js"/}>
    <{load href="/static/js/plugin/dialog/dialogbox.js,/static/css/jquery.dialogbox.css"}>
    <{load href="/static/css/menu.css"}>
    <{load href="/static/js/plugin/dialog/loading.js"}>
    <{load href="/static/js/jquery-ui.custom.js,/static/fancytree/jquery.fancytree.min.js,/static/fancytree/jquery.fancytree-all.min.js,/static/fancytree/skin-win8/ui.fancytree.min.css"}>
    <{load href="/static/js/menu.js"}>
</head>

<body>
<header>
    <h1 style="padding: 5px;display: inline-block;">新智云</h1>
    <div style="float: right;">
        <p style="margin: 13px 0;">
            <span style="font-size: 16px;margin-right: 20px;"><i class="fa fa-user-circle"></i><{$member.m_name}></span>
            <a href="<{:url("/dashboard/logout")}>" style="color: blue;"><i class="fa fa-sign-out"></i>退出</a>
        </p>
    </div>
</header>
<aside id="left-pannel">
    <nav>
        <ul>
            <{volist name="menuList" id="menu"}>
            <li>
                <a <{if condition="!empty($menu['url'])"}>href="#<{$menu['url']}>"<{/if}>><i class="fa fa-lg fa-fw <{$menu['flag']}>"></i> <span
                        class="menu-item-parent"><{$menu['name']}></span><b class="collapse-sign"><em
                        class="fa fa-plus-square-o"></em></b></a>
                <{if condition="count($menu['children']) > 0"}>
                <ul>
                    <{volist name="$menu['children']" id="children"}>
                    <li>
                        <a href="#<{$children['url']}>"><{$children['name']}></a>
                    </li>
                    <{/volist}>
                </ul>
                <{/if}>
            </li>
            <{/volist}>
        </ul>
    </nav>
</aside>
<div id="main-container" style="margin-left: 230px;margin-right: 10px;">
</div>
<footer>
</footer>
<div id="dialog-box"></div>
<div id="loading"><img src="/static/images/loading.gif" /></div>
<script>
    $(document).ready(function () {
        var lh = location.href;
        var i = lh.indexOf("#");
        var bak = "";
        if(i > 0){
            bak = lh.substr(i);
            $("#left-pannel a").each(function(index, element){
                if($(element).attr("href") == bak){
                    $(element).click();
                }
            });
        }

        $("#left-pannel a").click(function(){
            var e = this;
            var c = $(e).next("ul");
            var p = $(e).parent("li");
            if($(e).parents("ul").parent("li").length == 1){
                if($(p).hasClass("active")){
                    return false;
                }
            }
            $("#left-pannel li").attr("class", "");
            $("#left-pannel li>ul>li").attr("class", "");
            $("#left-pannel em").each(function(index, element){
                if(!$(p).find("em").is($(element))){
                    $(element).attr("class", "fa fa-plus-square-o");
                    $(element).parents("a").next().hide();
                }
            });
            if($(e).parents("ul").parent("li").length == 1){
                $(e).parents("ul").parent("li").attr("class", "open");
                $(e).parent("li").attr("class", "active");
                $(e).parents("ul").parent("li").find("em").attr("class", "fa fa-minus-square-o");
                $(e).parents("ul").parent("li").find("ul").show();
            }else{
                $(p).attr("class", "open");
                if($(c).is(":hidden")){
                    $(p).find("em").attr("class", "fa fa-minus-square-o");
                    $(c).show();
                }else{
                    $(p).find("em").attr("class", "fa fa-plus-square-o");
                    $(c).hide();
                }
            }
            $(p).addClass("click");
            var href = $(e).attr("href");
            if(href != "" && href != "#" && href != "/" && href != undefined){
                href = href.replace("#", "/");
                var data = {
                    url: href,
                    method: "get",
                };
                contentAjax("main-container",data);
            }
        });
        $("#left-pannel a").each(function (index, ele) {
            var childen = $(ele).next();
            if(childen.length == 1){
                $(ele).find(".fa-minus-square-o").show();
            }else{
                $(ele).find(".fa-minus-square-o").hide();
            }
            $(childen).hide();
            if(bak == $(ele).attr("href")){
                $(ele).click();
            }
        });
    })
    function contentAjax(id,ajaxData){
    	loading.show();
        if(ajaxData.success == undefined){
            ajaxData.success = function(data){
                if(data.content != undefined){
                    $("#"+id).html(data.content);
                }else{
                    $("#"+id).html(data);
                }
                loading.hide();
                $("#"+id+" a[target!='_blank'],button[type='button']").unbind("click");
                $("#"+id+" a[target!='_blank'],button[type='button']").click(function(){
                    var hrefs = $(this).attr("href");
                    if(hrefs != "" && hrefs != "#") {
                        hrefs = hrefs.replace("#", "/");
                        delete ajaxData.success;
                        ajaxData.url = hrefs;
                        contentAjax(id,ajaxData);
                    }
                    return false;
                });
            }
        }else{
        	var succ = ajaxData.success ;
        	ajaxData.success = function(){
        		loading.hide();
        		succ();
        	}
        }
        $.ajax(ajaxData);
    }
</script>
</body>
</html>
