<div class="page-header">
    <h2>项目管理.添加项目</h2>
</div>

<form class="form-horizontal form-default form-add" id="form-add-project" action="/project/add" method="post" onsubmit="return false;">

    <div class="form-group">
        <label for="inputNo" class="col-sm-2 control-label"><i class="asterisk">*</i>项目号</label>
        <div class="col-sm-10">
            <input type="text" class="form-control input-sm" id="inputNo" name="no" required onkeyup="toUpperCase(this)" onblur="toUpperCase(this)" rangelength="[8,32]">
        </div>
    </div>

    <div class="form-group">
        <label for="inputName" class="col-sm-2 control-label"><i class="asterisk">*</i>项目名称</label>
        <div class="col-sm-10">
            <input type="text" class="form-control input-sm" id="inputName" name="name" required minlength="4">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label"><i class="asterisk">*</i>立项部门</label>
        <div class="col-sm-10">
            <input type="text" class="form-control input-sm" id="inputDepartment" name="dname" readonly required>
            <input type="hidden" name="did">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">立项日期</label>
        <div class="col-sm-10">
            <input type="text" class="form-control input-sm" name="date" readonly>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">预计总收入</label>
        <div class="col-sm-10">
            <input type="text" class="form-control input-sm" name="income" number="true"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">预计总支出</label>
        <div class="col-sm-10">
            <input type="text" class="form-control input-sm" name="pay" number="true"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">附件</label>
        <div class="col-sm-10">
            <input type="file" name="attachment"/>
            <p class="help-block">请上传相关附件</p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">说明</label>
        <div class="col-sm-10">
            <textarea class="form-control" name="content"></textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-default" id="btn-add-project" type="submit">确认</button>
        </div>
    </div>

</form>

<{load file="/static/js/update.js"}>