<div class="clearfix header">

    <h2><{$title}></h2>

    <div class="link-pannel">
        <ul>
            <li>
                <a href="#"><i class="fa fa-file-excel-o"></i>导出</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-filter"></i>筛选</a>
            </li>
            <li>
                <a href="/circulation/add/type/project" id="btn-circulation" target="_blank" onclick="return false;"><i class="fa fa-users"></i>传阅<i class="fa fa-sort-desc"></i></a>
            </li>
            <!--li>
                <a href="#"><i class="fa fa-tags"></i>标签<i class="fa fa-sort-desc"></i></a>
            </li-->
            <li>
                <a href="/project/del" id="lists-delete" target="_blank" onclick="return false;"><i class="fa fa-trash"></i>删除</a>
            </li>
            <!--li>
                <a href="/project/add"><i class="fa fa-file-text-o"></i>新建</a>
            </li-->
        </ul>
    </div>
</div>
<nav aria-label="Page navigation">
    <{$lists->render()}>
</nav>
<div class="main-pannel">
    <table class="list" cellspacing="0">
        <thead>
        <tr>
            <th style="min-width: 50px;text-align:center;padding-right:4px;"><input type="checkbox" id="lists-all-checked" value="all"/></th>
            <th>编号</th>
            <th>名称</th>
        </tr>
        </thead>
        <tbody>
        <{volist name="lists" id="vo" empty="$empty"}>
        <tr>
            <td><input type="checkbox" value="<{$vo.p_id}>" class="lists-id"></td>
            <td><{$vo.p_no}></td>
            <td><{$vo.p_name}></td>
        </tr>
        <{/volist}>
        </tbody>
    </table>
</div>
<nav aria-label="Page navigation">
    <{$lists->render()}>
</nav>

<script type="text/javascript" src="/static/js/lists.js?u=201709181615"></script>