<form action="/project/update" method="post" onsubmit="return false" id="form-update">
    <div class="clearfix header">
        <h2>项目管理.数据查看</h2>
        <div class="btn-pannel">
            <button type="button" href="/project/all" class="btn red">取消</button>
            <button type="submit" class="btn">保存</button>
        </div>
    </div>
    <div class="main-pannel">
        <h3>基本信息</h3>
        <div class="content">
            <table>
                <tr>
                    <td width="64"><label for="ipt-no"><i class="asterisk">*</i>项目编号:</label></td>
                    <td><input id="ipt-no" type="text" name="no" value="<{$data.p_no}>"<{if $readonly==true}> class="no-border" readonly<{/if}> required onkeyup="toUpperCase(this)" rangelength="[8,32]"/><input type="hidden" name="id" value="<{$data.p_id}>"/> </td>
                    <td style="padding-left:20px;width:84px;"><label for="ipt-name"><i class="asterisk">*</i>项目名称:</label></td>
                    <td><input id="ipt-name" type="text" name="name" value="<{$data.p_name}>"<{if $readonly==true}> class="no-border" readonly<{/if}> required/></td>
                </tr>
            </table>
        </div>
    </div>
</form>
<div class="main-pannel">
    <h3>已对应订单情况</h3>
    <div class="content">
        <table class="table2">
            <tr>
                <!--th id="btn-add-order"><i class="fa fa-plus-circle"></i></th-->
                <th>订单号</th>
                <th>订单金额</th>
                <th>订单主题</th>
                <th>对方名称</th>
                <th>责任人</th>
                <th>项目名称</th>
            </tr>
            <{volist name="orders" id="order" empty="<tr><td colspan='7' style='text-align: center'>暂无数据</td></tr>"}>
            <tr>
                <!--td><i class="fa fa-minus-circle"></i><input type="hidden" name="oids[]" value="<{$order.o_id}>"</td-->
                <td><a href="/orders/operation?op=edit&op_id=<{$order.o_id}>"><{$order.o_no}></a></td>
                <td><{$order.o_money}><input type="hidden" name="omoneys[]" value="<{$order.o_money}>"/></td>
                <td><{$order.o_subject}></td>
                <td><{$order.o_coname}></td>
                <td><{$order.o_mname}></td>
                <td><{$order.o_pname}></td>
            </tr>
            <{/volist}>
        </table>
    </div>
<{load file="/static/js/update.js"}}>