<form action="/project/update" method="post" onsubmit="return false" id="form-update">
    <div class="clearfix header">
        <h2>项目管理.数据查看</h2>
        <div class="btn-pannel">
            <button type="button" href="/project/all" class="btn red">取消</button>
            <button type="submit" class="btn"<{if $readonly}> disabled<{/if}>>保存</button>
        </div>
    </div>
    <div class="main-pannel">
        <h3>基本信息</h3>
        <div class="content">
            <table class="detail">
                <tr>
                    <td><label for="ipt-no"><i class="asterisk">*</i>项目编号:</label></td>
                    <td>
                        <input id="ipt-no" class="input-sm" type="text" name="no" value="<{$data.p_no}>" disabled required onkeyup="toUpperCase(this)" onBlur="toUpperCase(this)" rangelength="[8,32]"/>
                        <input type="hidden" name="no" value="<{$data.p_no}>" />
                        <input type="hidden" name="id" value="<{$data.p_id}>"/>
                    </td>
                    <td><label for="ipt-name"><i class="asterisk">*</i>项目名称:</label></td>
                    <td>
                        <input id="ipt-name" class="input-sm" type="text" name="name" value="<{$data.p_name}>" disabled required minlength="4"/>
                        <input type="hidden" name="name" value="<{$data.p_name}>">
                    </td>
                    <td><label><i class="asterisk">*</i>立项部门:</label></td>
                    <td>
                        <input type="text" class="input-sm" name="dname" id="inputDepartment" value="<{$data.p_dname}>" readonly disabled required/>
                        <input type="hidden" name="dname" value="<{$data.p_dname}>"/>
                        <input type="hidden" name="did" value="<{$data.p_did}>"/>
                    </td>
                    <td><label for="ipt-mname">责任人:</label></td>
                    <td>
                        <input type="text"  name="mname" value="<{$data.p_mname}>" class="input-sm <{$data.p_mname}>" disabled id="ipt-mname" />
                        <input type="hidden" name="mname" value="<{$data.p_mname}>"/>
                        <input type="hidden" name="mid" value="<{$data.p_mid}>"/>
                    </td>
                </tr>
                <tr>
                    <td><label>立项日期:</label></td>
                    <td>
                        <input type="text" class="input-sm" name="date" value="<{$data.p_date|date='Y-m-d',###}>"  disabled />
                        <input type="hidden" name="date" value="<{$data.p_date|date='Y-m-d',###}>"/>
                    </td>
                    <td><label>预计总收入:</label></td>
                    <td>
                        <input type="text" class="input-sm" name="income" value="<{$data.p_income}>" disabled/>
                        <input type="hidden" name="income" value="<{$data.p_income}>"/>
                    </td>
                    <td><label>预计总支出:</label></td>
                    <td>
                        <input type="text" class="input-sm" name="pay" value="<{$data.p_pay}>" disabled />
                        <input type="hidden" name="pay" value="<{$data.p_pay}>">
                    </td>
                </tr>
                <tr>
                    <td><label>说明:</label></td>
                    <td colspan="5">
                        <textarea class="form-control" name="content"<{if $readonly}> disabled<{/if}>><{$data.p_content}></textarea>
                    </td>
                </tr>
                <tr>
                    <td><label for="ipt-attachment">附件:</label></td>
                    <td colspan="5" class="<{if $aMimeType == 'image'}>attachment<{/if}>">
                        <{if $aMimeType == 'image'}>
                            <img src="<{$data.p_attachment}>" width="240" data-action="zoom"/>
                        <{elseif $aMimeType}>
                            <a href="<{$data.p_attachment}>" target="_blank"><i class="fa fa-paperclip"></i> 附件</a>
                        <{/if}>
                        <{if empty($readonly)}>
                        <input type="file" name="attachment" id="ipt-attachment"/>
                        <{/if}>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>
<div class="main-pannel">
    <h3>已对应订单情况</h3>
    <div class="content">
        <table class="table3 table">
            <thead>
            <tr>
                <!--th id="btn-add-order"><i class="fa fa-plus-circle"></i></th-->
                <th>订单号</th>
                <th>订单金额</th>
                <th>订单主题</th>
                <th>对方名称</th>
                <th>责任人</th>
                <th>项目名称</th>
            </tr>
            </thead>
            <tbody>
            <{volist name="orders" id="order" empty="<tr><td colspan='7' style='text-align: center'>暂无数据</td></tr>"}>
            <tr>
                <!--td><i class="fa fa-minus-circle"></i><input type="hidden" name="oids[]" value="<{$order.o_id}>"</td-->
                <td><a href="/orders/operation?op=edit&op_id=<{$order.o_id}>"><{$order.o_no}></a></td>
                <td><{$order.o_money}><input type="hidden" name="omoneys[]" value="<{$order.o_money}>"/></td>
                <td><{$order.o_subject}></td>
                <td><{$order.o_coname}></td>
                <td><{$order.o_mname}></td>
                <td><{$order.o_pname}></td>
            </tr>
            <{/volist}>
            </tbody>
        </table>
    </div>
<{load file="/static/js/update.js"}}>
