<div class="f-layer f-statistics-layer">
    <div class="clearfix header">
        <h2>项目执行情况统计</h2>
        <div class="btn-pannel">
            <btn class="btn red close">关闭</btn>
        </div>
    </div>
        <table class="detail">
            <tr>
                <td><label>项目号:</label></td>
                <td><{$project.p_no}></td>
                <td><label>项目名称:</label></td>
                <td><{$project.p_name}></td>
            </tr>
            <tr>
                <td><label>立项部门:</label></td>
                <td><{$project.p_dname}></td>
                <td><label>责任人:</label></td>
                <td><{$project.p_mname}></td>
            </tr>
            <tr>
                <td class="nowrap"><label>立项预算收入差额:</label></td>
                <td><{$total['pLeftIncome']|number_format=2}></td>
                <td class="nowrap"><label>滚动预算差额（不含税）:</label></td>
                <td><{$total['pProfit']|number_format=2}></td>
            </tr>
        </table>
        <table class="list table">
            <thead>
                <tr>
                    <th style="width:4em;">收/支</th>
                    <th class="money">立项预算</th>
                    <th class="money">订单预算</th>
                    <th class="money">实际签约</th>
                    <th class="money">实际交付</th>
                    <th class="money">实际开票</th>
                    <th class="money">实际收款</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><{:getTypeList(1)}></td>
                    <td class="money"><{$project.p_income|number_format=2}></td>
                    <td class="money"><{$total[1]['plan']|number_format=2}></td>
                    <td class="money"><{$total[1]['contract']|number_format=2}></td>
                    <td class="money"><{$total[1]['received']|number_format=2}></td>
                    <td class="money"><{$total[1]['invoice']|number_format=2}></td>
                    <td class="money"><{$total[1]['acceptance']|number_format=2}></td>
                </tr>
                <tr>
                    <td><{:getTypeList(2)}></td>
                    <td class="money"><{$project.p_pay|number_format=2}></td>
                    <td class="money"><{$total[2]['plan']|number_format=2}></td>
                    <td class="money"><{$total[2]['contract']|number_format=2}></td>
                    <td class="money"><{$total[2]['acceptance']|number_format=2}></td>
                    <td class="money"><{$total[2]['invoice']|number_format=2}></td>
                    <td class="money"><{$total[2]['received']|number_format=2}></td>
                </tr>
            </tbody>
        </table>
        <table class="list table">
            <thead>
            <tr>
                <th>收/支</th>
                <th>订单号</th>
                <th>订单部门</th>
                <th>订单责任人</th>
                <th>内/外</th>
                <th>订单主题</th>
                <th>订单对方名称</th>
                <th>订单税率</th>
                <th>订单预计金额</th>
                <th>已签约金额</th>
                <th>待交付金额</th>
                <th>待开/回票额</th>
                <th>应收/付帐款</th>
            </tr>
            </thead>
            <tbody>
            <{volist name="orders" id="order" empty="<tr><td colspan='13' style='text-align:center'>暂无数据</td></tr>"}>
            <tr>
                <td><{$order.o_type|getTypeList}></td>
                <td class="nowrap"><{$order.o_no}></td>
                <td><{$order.o_dname}></td>
                <td><{$order.o_mname}></td>
                <td><{$order.o_lie|getLieList}></td>
                <td><{$order.o_subject}></td>
                <td><{$order.o_coname}></td>
                <td><{$order.o_tax|getTaxList}></td>
                <td class="money"><{$order.o_money|number_format=2}></td>
                <td class="money"><{if empty($order.o_cid)}>0.00<{else}><{$order.o_money|number_format=2}><{/if}></td>
                <td class="money"><{$total['orders'][$order.o_id]['acceptance']|number_format=2}></td>
                <td class="money"><{$total['orders'][$order.o_id]['invoice']|number_format=2}></td>
                <td class="money"><{$total['orders'][$order.o_id]['received']|number_format=2}></td>
            </tr>
            <{/volist}>
            </tbody>
        </table>
</div>