<nav aria-label="Page navigation" class="clearfix">
    <{$lists->render()}>
    <{include file="common/setpagelimit" /}>
</nav>

<table class="list table" cellspacing="0">
    <thead>
    <tr>
        <th style="min-width: 50px;text-align:center;padding-right:4px;"><input type="checkbox" class="checkAll" value="all"/></th>
        <th>部门</th>
        <th>
            <a href="/department/all/sort/d_code/order/<{:getSortOrder($sort,'d_code')}>">
                成本中心编码<i class="<{:getSortClass($sort,'d_code')}>"></i>
            </a>
        </th>
        <th>
            <a href="/department/all/sort/d_cname/order/<{:getSortOrder($sort,'d_cname')}>">
                公司<i class="<{:getSortClass($sort,'d_cname')}>"></i>
            </a>
        </th>
        <th>部门领导</th>
        <th>部门领导编码</th>
    </tr>
    </thead>
    <tbody>
    <{volist name="lists" id="vo" empty="<tr><td colspan='6'>暂无数据</td></tr>"}>
    <tr>
        <td><input type="checkbox" value="<{$vo.d_id}>" class="lists-id" data-name="<{$vo.d_name}>"></td>
        <td><a href="/department/detail?id=<{$vo.d_id}>"><{$vo.d_name}></a></td>
        <td><{$vo.d_code}></td>
        <td><{$vo.d_cname}></td>
        <td><{$vo.m_name}></td>
        <td><{$vo.m_code}></td>
    </tr>
    <{/volist}>
    </tbody>
</table>
<nav aria-label="Page navigation" class="clearfix">
    <{$lists->render()}>
    <{include file="common/setpagelimit" /}>
</nav>

<{load href="/static/js/all.js"}>