<div class="paginate">
    <{$lists->render()}>
</div>

<div class="search-result">
    <table cellspacing="0" class="list table">
        <thead>
        <tr>
            <th style="width: 50px;text-align:center;padding-right:4px;">
                <input type="checkbox" class="checkAll" value="all"/>
            </th>
            <th>
                <a href="/received/all/sort/r_no/order/<{:getSortOrder($sort,'r_no')}>">
                    付/回款单号<i class="<{:getSortClass($sort,'r_no')}>"></i>
                </a>
            </th>
            <th>
                <a href="/received/all/sort/r_subject/order/<{:getSortOrder($sort,'r_subject')}>">
                    摘要<i class="<{:getSortClass($sort,'r_subject')}>"></i>
                </a>
            </th>
            <th>
                <a href="/received/all/sort/r_mname/order/<{:getSortOrder($sort,'r_mname')}>">
                    责任人<i class="<{:getSortClass($sort,'r_mname')}>"></i>
                </a>
            </th>
            <th>
                <a href="/received/all/sort/r_coname/order/<{:getSortOrder($sort,'r_coname')}>">
                    对方名称<i class="<{:getSortClass($sort,'r_coname')}>"></i>
                </a>
            </th>
            <th>
                <a href="/received/all/sort/r_type/order/<{:getSortOrder($sort,'r_type')}>">
                    类型<i class="<{:getSortClass($sort,'r_type')}>"></i>
                </a>
            </th>
            <th class="date">
                <a href="/received/all/sort/r_date/order/<{:getSortOrder($sort,'r_date')}>">
                    付/回款日期<i class="<{:getSortClass($sort,'r_date')}>"></i>
                </a>
            </th>
            <th class="date">
                <a href="/received/all/sort/r_accdate/order/<{:getSortOrder($sort,'r_accdate')}>">
                    记账月<i class="<{:getSortClass($sort,'r_accdate')}>"></i>
                </a>
            </th>
            <th class="money">
                <a href="/received/all/sort/r_money/order/<{:getSortOrder($sort,'r_money')}>">
                    付/回款金额<i class="<{:getSortClass($sort,'r_money')}>"></i>
                </a>
            </th>
            <th class="money">
                <a href="/received/all/sort/r_noused/order/<{:getSortOrder($sort,'r_noused')}>">
                    未对应订单金额<i class="<{:getSortClass($sort,'r_noused')}>"></i>
                </a>
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <{volist name="lists" id="val" empty="<tr><td colspan='10'>暂无数据</td></tr>"}>
        <tr>
            <td><input type="checkbox" value="<{$val.r_id}>" class="lists-id" data-name="<{$val.r_no}>"></td>
            <td><a href="/received/detail?id=<{$val.r_id}>"><{$val.r_no}></a></td>
            <td><{$val.r_subject}></td>
            <td><{$val.r_mname}></td>
            <td><{$val.r_coname}></td>
            <td><?php echo getTypeList($val['r_type']); ?></td>
            <td><?php echo date("Y-m-d", $val['r_date']); ?></td>
            <td><{$val.r_accdate}></td>
            <td class="money"><{$val.r_money|number_format=2}></td>
            <td class="money"><{$val.r_noused|number_format=2}></td>
            <td><a href="/circulation/list/type/received/id/<{$val.r_id}>">传阅列表</a></td>
        </tr>
        <{/volist}>
        </tbody>
    </table>
</div>

<div class="paginate">
    <{$lists->render()}>
</div>
<{load href="/static/js/all.js"}>
